/* screen - abonnement-creer-un-abonnement */

.abonnement-creer-un-abonnement {
  background-color: var(--zircon);
  height: 1001px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1600px;
}

.abonnement-creer-un-abonnement .analytics-zmtgzx {
  background-color: transparent;
  height: auto;
  left: 323px;
  letter-spacing: 0.10px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 106px;
  white-space: nowrap;
  width: auto;
}

.abonnement-creer-un-abonnement .sidebar-zmtgzx {
  background-color: transparent;
  height: 933px;
  left: 0px;
  position: absolute;
  top: 68px;
  width: 250px;
}

.abonnement-creer-un-abonnement .shape-Y3lPdD {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .settings-Y3lPdD {
  background-color: transparent;
  bottom: 133px;
  height: 52px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-kSYily {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(37.65% - 23px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 60px;
}

.abonnement-creer-un-abonnement .icons-navigation-icon-12-states-kSYily {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.abonnement-creer-un-abonnement .ic_setting-Mxxs6g {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .broker-Y3lPdD {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(43.59% - 23px);
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-DxvVPu {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(34.97% - 16px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 47px;
}

.abonnement-creer-un-abonnement .font-awsome-handshake-DxvVPu {
  background-color: transparent;
  bottom: 20px;
  height: 13px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  width: 21px;
}

.abonnement-creer-un-abonnement .crypto-wallet-Y3lPdD {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(37.68% - 20px);
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-3lDbSb {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(49.23% - 49px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100px;
}

.abonnement-creer-un-abonnement .font-awsome-bitcoin-3lDbSb {
  background-color: transparent;
  height: 19px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 19px;
}

.abonnement-creer-un-abonnement .trading-crypto-Y3lPdD {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(25.88% - 13px);
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-6eqhw6 {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  right: calc(39.62% - 49px);
  text-align: left;
  white-space: nowrap;
  width: 124px;
}

.abonnement-creer-un-abonnement .font-awsome-pen-6eqhw6 {
  background-color: transparent;
  height: 19px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 19px;
}

.abonnement-creer-un-abonnement .thmes-articles-Y3lPdD {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 124px;
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-oQxInf {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  right: calc(44.35% - 51px);
  text-align: left;
  white-space: nowrap;
  width: 115px;
}

.abonnement-creer-un-abonnement .icons-navigation-icon-12-states-oQxInf {
  background-color: transparent;
  height: 22px;
  left: 24px;
  position: absolute;
  top: calc(50.00% - 11px);
  width: 16px;
}

.abonnement-creer-un-abonnement .font-awsome-bookmark-h4Zsm1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .customers-Y3lPdD {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-pwiX04 {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(43.24% - 35px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 82px;
}

.abonnement-creer-un-abonnement .icons-navigation-icon-12-states-pwiX04 {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.abonnement-creer-un-abonnement .ic_users-qq0x1W {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .home-Y3lPdD {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-UbR63j {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(34.41% - 15px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 44px;
}

.abonnement-creer-un-abonnement .icons-navigation-icon-12-states-UbR63j {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.abonnement-creer-un-abonnement .ic_home-nOxzCA {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .articles-Y3lPdD {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(19.98% - 10px);
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-awdC5Q {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(36.57% - 20px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.abonnement-creer-un-abonnement .icons-navigation-icon-12-states-awdC5Q {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.abonnement-creer-un-abonnement .ic_invoice-dAxHVx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .icon-ionic-ios-arrow-down-awdC5Q {
  background-color: transparent;
  bottom: calc(50.00% - 3px);
  height: 7px;
  left: 191px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}

.abonnement-creer-un-abonnement .bot-trading-Y3lPdD {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(31.78% - 17px);
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-Ax8KLB {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(43.84% - 37px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 84px;
}

.abonnement-creer-un-abonnement .font-awsome-robot-Ax8KLB {
  background-color: transparent;
  height: 17px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 21px;
}

.abonnement-creer-un-abonnement .pays-Y3lPdD {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(49.49% - 26px);
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-25hxin {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(32.99% - 12px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.abonnement-creer-un-abonnement .font-awsome-globe-europe-25hxin {
  background-color: transparent;
  bottom: calc(50.00% - 9px);
  height: 18px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  width: 18px;
}

.abonnement-creer-un-abonnement .abonnement-Y3lPdD {
  background-color: transparent;
  bottom: calc(44.61% - 23px);
  height: 52px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement .name-QI1v0w {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(47.41% - 45px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 95px;
}

.abonnement-creer-un-abonnement .icon-material-payment-QI1v0w {
  background-color: transparent;
  height: 15px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 19px;
}

.abonnement-creer-un-abonnement .icon-ionic-ios-arrow-down-Y3lPdD {
  background-color: transparent;
  bottom: calc(44.87% - 3px);
  height: 7px;
  left: 196px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}

.abonnement-creer-un-abonnement .top-navigation-zmtgzx {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.abonnement-creer-un-abonnement .rectangle-ef8SnA {
  background-color: var(--vulcan);
  box-shadow: 0px 1px 4px #15223214;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .top-navigation-search-ef8SnA {
  background-color: transparent;
  height: 24px;
  left: calc(19.34% - 17px);
  position: absolute;
  top: calc(50.00% - 12px);
  width: 90px;
}

.abonnement-creer-un-abonnement .x00-general-01-icons-pM3au3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.abonnement-creer-un-abonnement .color-2QHZ5D {
  background-color: transparent;
  height: calc(100.00% - 7px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 17px;
}

.abonnement-creer-un-abonnement .search-pM3au3 {
  background-color: transparent;
  height: calc(100.00% - 2px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 60px;
}

.abonnement-creer-un-abonnement .user-group-ef8SnA {
  background-color: transparent;
  height: 36px;
  position: absolute;
  right: 40px;
  top: calc(43.75% - 16px);
  width: 117px;
}

.abonnement-creer-un-abonnement .users-avatar-photo-2-states-iMqYE7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}

.abonnement-creer-un-abonnement .oval-ad3sbP {
  background-color: transparent;
  border-radius: 18px;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .image-ad3sbP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .monica-simons-iMqYE7 {
  background-color: transparent;
  bottom: calc(46.43% - 10px);
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(35.14% - 15px);
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.abonnement-creer-un-abonnement .icons-chevron-down-iMqYE7 {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 0px;
  top: 5px;
  width: 24px;
}

.abonnement-creer-un-abonnement .trac-399-bxUwfH {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .trac-400-bxUwfH {
  background-color: transparent;
  height: 8px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: calc(48.67% - 4px);
  width: calc(100.00% - 9px);
}

.abonnement-creer-un-abonnement .groupe-2-ef8SnA {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 21px;
  left: 40px;
  position: absolute;
  width: 113px;
}

.abonnement-creer-un-abonnement .groupe-1-qDjgbx {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .buttons-btn-text-icon-zmtgzx {
  background-color: transparent;
  height: 32px;
  left: 1381px;
  position: absolute;
  top: 125px;
  width: 181px;
}

.abonnement-creer-un-abonnement .type-VxCxaA {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .groupe-393-VxCxaA {
  background-color: transparent;
  height: 20px;
  left: 12px;
  position: absolute;
  top: calc(50.00% - 10px);
  width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement .text-dcnJkB {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 15.00%;
  white-space: nowrap;
  width: 159px;
}

.abonnement-creer-un-abonnement .informations-zmtgzx {
  background-color: transparent;
  height: 219px;
  left: 303px;
  position: absolute;
  top: 172px;
  width: 1259px;
}

.abonnement-creer-un-abonnement .rectangle-632-XiDkvN {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 18px);
  left: 0px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.abonnement-creer-un-abonnement .titre-XiDkvN {
  background-color: transparent;
  height: 36px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 182px;
}

.abonnement-creer-un-abonnement .rectangle-633-DEdHK7 {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .analytics-DEdHK7 {
  background-color: transparent;
  height: 22px;
  left: 24.73%;
  letter-spacing: 0.06px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 51.65%;
}

.abonnement-creer-un-abonnement .nom-XiDkvN {
  background-color: transparent;
  height: 40px;
  left: 39px;
  position: absolute;
  top: calc(34.54% - 14px);
  width: 268px;
}

.abonnement-creer-un-abonnement .ligne-6-xCRECf {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.abonnement-creer-un-abonnement .novice-xCRECf {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 34px);
}

.abonnement-creer-un-abonnement .nom-xCRECf {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement .prix-XiDkvN {
  background-color: transparent;
  height: 40px;
  left: calc(36.02% - 96px);
  position: absolute;
  top: calc(34.54% - 14px);
  width: 268px;
}

.abonnement-creer-un-abonnement .ligne-6-EmIQcx {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.abonnement-creer-un-abonnement .x4999-EmIQcx {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 34px);
}

.abonnement-creer-un-abonnement .prix-EmIQcx {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement .dure-XiDkvN {
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: calc(31.90% - 85px);
  top: calc(34.54% - 14px);
  width: 268px;
}

.abonnement-creer-un-abonnement .ligne-6-3V1qvy {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.abonnement-creer-un-abonnement .x30-3V1qvy {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 34px);
}

.abonnement-creer-un-abonnement .dure-3V1qvy {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement .type-XiDkvN {
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: 79px;
  top: calc(34.54% - 14px);
  width: 187px;
}

.abonnement-creer-un-abonnement .ligne-6-xBAzJw {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.abonnement-creer-un-abonnement .mensuel-xBAzJw {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 153px;
}

.abonnement-creer-un-abonnement .type-xBAzJw {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement .font-awsome-chevron-down-xBAzJw {
  background-color: transparent;
  bottom: calc(33.38% - 2px);
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: 13px;
  width: 8px;
}

.abonnement-creer-un-abonnement .best-seller-XiDkvN {
  background-color: transparent;
  bottom: calc(39.28% - 7px);
  height: 17px;
  left: 39px;
  position: absolute;
  width: 127px;
}

.abonnement-creer-un-abonnement .best-seller-28QqGG {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  width: 101px;
}

.abonnement-creer-un-abonnement .rectangle-634-28QqGG {
  background-color: transparent;
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 17px;
}

.abonnement-creer-un-abonnement .visible-XiDkvN {
  background-color: transparent;
  bottom: calc(39.28% - 7px);
  height: 17px;
  left: calc(18.22% - 23px);
  position: absolute;
  width: 127px;
}

.abonnement-creer-un-abonnement .visible-UCabQU {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  width: 101px;
}

.abonnement-creer-un-abonnement .rectangle-634-UCabQU {
  background-color: transparent;
  border-radius: 2px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 17px;
}

.abonnement-creer-un-abonnement .priode-dessai-XiDkvN {
  background-color: transparent;
  bottom: 32px;
  height: 21px;
  left: 39px;
  position: absolute;
  width: calc(100.00% - 70px);
}

.abonnement-creer-un-abonnement .toggle-dtZC2P {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 46px;
}

.abonnement-creer-un-abonnement .toggle-off-PO0xaD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .rectangle-655-nrwYmd {
  background-color: #bce0fd;
  border-radius: 40px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .rectangle-656-nrwYmd {
  background-color: var(--white);
  border-radius: 40px;
  height: calc(100.00% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  width: 17px;
}

.abonnement-creer-un-abonnement .off-nrwYmd {
  background-color: transparent;
  bottom: calc(46.15% - 4px);
  height: 8px;
  letter-spacing: 0.00px;
  line-height: 6px;
  position: absolute;
  right: calc(28.12% - 4px);
  text-align: left;
  white-space: nowrap;
  width: 14px;
}

.abonnement-creer-un-abonnement .priode-dessai-dtZC2P {
  background-color: transparent;
  bottom: calc(28.57% - 4px);
  height: 14px;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 56px);
}

.abonnement-creer-un-abonnement .plateforme-de-paiement-zmtgzx {
  background-color: transparent;
  height: 137px;
  left: 303px;
  position: absolute;
  top: 425px;
  width: 1259px;
}

.abonnement-creer-un-abonnement .rectangle-632-20ARZa {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 18px);
  left: 0px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.abonnement-creer-un-abonnement .titre-20ARZa {
  background-color: transparent;
  height: 36px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 211px;
}

.abonnement-creer-un-abonnement .rectangle-633-GGmMzE {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .analytics-GGmMzE {
  background-color: transparent;
  height: 22px;
  left: 9.00%;
  letter-spacing: 0.06px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 83.41%;
}

.abonnement-creer-un-abonnement .plateforme-de-paiement-20ARZa {
  background-color: transparent;
  bottom: calc(36.41% - 14px);
  height: 40px;
  left: 39px;
  position: absolute;
  width: 305px;
}

.abonnement-creer-un-abonnement .ligne-6-zmMem2 {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.abonnement-creer-un-abonnement .plateforme-zmMem2 {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 153px;
}

.abonnement-creer-un-abonnement .plateforme-de-paiement-zmMem2 {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement .font-awsome-chevron-down-zmMem2 {
  background-color: transparent;
  bottom: calc(33.38% - 2px);
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: 13px;
  width: 8px;
}

.abonnement-creer-un-abonnement .lignes-descriptives-zmtgzx {
  background-color: transparent;
  height: 137px;
  left: 303px;
  position: absolute;
  top: 596px;
  width: 1259px;
}

.abonnement-creer-un-abonnement .rectangle-632-HxWojL {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 18px);
  left: 0px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.abonnement-creer-un-abonnement .titre-HxWojL {
  background-color: transparent;
  height: 36px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 211px;
}

.abonnement-creer-un-abonnement .rectangle-633-lK1jNa {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.abonnement-creer-un-abonnement .analytics-lK1jNa {
  background-color: transparent;
  height: 22px;
  left: 18.01%;
  letter-spacing: 0.06px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 65.40%;
}

.abonnement-creer-un-abonnement .lignes-1-HxWojL {
  background-color: transparent;
  bottom: calc(42.14% - 9px);
  height: 22px;
  left: 39px;
  position: absolute;
  width: 305px;
}

.abonnement-creer-un-abonnement .ligne-6-PlF3x1 {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.abonnement-creer-un-abonnement .lignes-1-PlF3x1 {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}
