{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": true
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "varsIgnorePattern": "^\\$",
        "argsIgnorePattern": "^\\$"
      }
    ],
    "no-console": "off",
    "no-use-before-define": "off"
  }
}
