/* screen - abonnement-creer-un-abonnement-periode-dessai */

.abonnement-creer-un-abonnement-periode-dessai {
    background-color: var(--zircon);
    height: 1001px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1600px;
}

.abonnement-creer-un-abonnement-periode-dessai .analytics-gvR0L2 {
    background-color: transparent;
    height: auto;
    left: 323px;
    letter-spacing: 0.10px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 106px;
    white-space: nowrap;
    width: auto;
}

.abonnement-creer-un-abonnement-periode-dessai .sidebar-gvR0L2 {
    background-color: transparent;
    height: 933px;
    left: 0px;
    position: absolute;
    top: 68px;
    width: 250px;
}

.abonnement-creer-un-abonnement-periode-dessai .shape-wA7LY5 {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .settings-wA7LY5 {
    background-color: transparent;
    bottom: 133px;
    height: 52px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-hs1q6b {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(37.65% - 23px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 60px;
}

.abonnement-creer-un-abonnement-periode-dessai .icons-navigation-icon-12-states-hs1q6b {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-creer-un-abonnement-periode-dessai .ic_setting-5Y9xxG {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .broker-wA7LY5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(43.59% - 23px);
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-AuDGFL {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.97% - 16px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 47px;
}

.abonnement-creer-un-abonnement-periode-dessai .font-awsome-handshake-AuDGFL {
    background-color: transparent;
    bottom: 20px;
    height: 13px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    width: 21px;
}

.abonnement-creer-un-abonnement-periode-dessai .crypto-wallet-wA7LY5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(37.68% - 20px);
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-wjjtEg {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(49.23% - 49px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 100px;
}

.abonnement-creer-un-abonnement-periode-dessai .font-awsome-bitcoin-wjjtEg {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: calc(50.00% - 10px);
    width: 19px;
}

.abonnement-creer-un-abonnement-periode-dessai .trading-crypto-wA7LY5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.88% - 13px);
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-Q6s5ns {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(39.62% - 49px);
    text-align: left;
    white-space: nowrap;
    width: 124px;
}

.abonnement-creer-un-abonnement-periode-dessai .font-awsome-pen-Q6s5ns {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 19px;
}

.abonnement-creer-un-abonnement-periode-dessai .thmes-articles-wA7LY5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 124px;
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-ikYMtx {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(44.35% - 51px);
    text-align: left;
    white-space: nowrap;
    width: 115px;
}

.abonnement-creer-un-abonnement-periode-dessai .icons-navigation-icon-12-states-ikYMtx {
    background-color: transparent;
    height: 22px;
    left: 24px;
    position: absolute;
    top: calc(50.00% - 11px);
    width: 16px;
}

.abonnement-creer-un-abonnement-periode-dessai .font-awsome-bookmark-ZMAnz0 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .customers-wA7LY5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 72px;
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-LGT79a {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.24% - 35px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 82px;
}

.abonnement-creer-un-abonnement-periode-dessai .icons-navigation-icon-12-states-LGT79a {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-creer-un-abonnement-periode-dessai .ic_users-YxU0cW {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .home-wA7LY5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 20px;
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-0G7xNy {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.41% - 15px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 44px;
}

.abonnement-creer-un-abonnement-periode-dessai .icons-navigation-icon-12-states-0G7xNy {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-creer-un-abonnement-periode-dessai .ic_home-Pt2d6l {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .articles-wA7LY5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(19.98% - 10px);
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-DYGac9 {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(36.57% - 20px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 55px;
}

.abonnement-creer-un-abonnement-periode-dessai .icons-navigation-icon-12-states-DYGac9 {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-creer-un-abonnement-periode-dessai .ic_invoice-TTsuyq {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .icon-ionic-ios-arrow-down-DYGac9 {
    background-color: transparent;
    bottom: calc(50.00% - 3px);
    height: 7px;
    left: 191px;
    object-fit: cover;
    position: absolute;
    width: 12px;
}

.abonnement-creer-un-abonnement-periode-dessai .bot-trading-wA7LY5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(31.78% - 17px);
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-6jjVvG {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.84% - 37px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 84px;
}

.abonnement-creer-un-abonnement-periode-dessai .font-awsome-robot-6jjVvG {
    background-color: transparent;
    height: 17px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 21px;
}

.abonnement-creer-un-abonnement-periode-dessai .pays-wA7LY5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(49.49% - 26px);
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .name-AETy2W {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(32.99% - 12px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 36px;
}

.abonnement-creer-un-abonnement-periode-dessai .font-awsome-globe-europe-AETy2W {
    background-color: transparent;
    bottom: calc(50.00% - 9px);
    height: 18px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    width: 18px;
}

.abonnement-creer-un-abonnement-periode-dessai .abonnement-wA7LY5 {
    background-color: transparent;
    bottom: calc(27.49% - 71px);
    height: 260px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-creer-un-abonnement-periode-dessai .frame-Cdn7oO {
    background-color: transparent;
    height: calc(100.00% - 208px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .line-Cdn7oO {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: calc(100.00% - 208px);
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
}

.abonnement-creer-un-abonnement-periode-dessai .name-Cdn7oO {
    background-color: transparent;
    height: 22px;
    left: calc(47.41% - 45px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: calc(7.98% - 2px);
    white-space: nowrap;
    width: 95px;
}

.abonnement-creer-un-abonnement-periode-dessai .icon-material-payment-Cdn7oO {
    background-color: transparent;
    height: 15px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 19px;
}

.abonnement-creer-un-abonnement-periode-dessai .gestion-abonnements-Cdn7oO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.00% - 13px);
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .frame-x4sWgm {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .name-x4sWgm {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(28.99% - 47px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    width: 161px;
}

.abonnement-creer-un-abonnement-periode-dessai .code-promo-Cdn7oO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(50.00% - 26px);
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .frame-Nd4xHl {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .name-Nd4xHl {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 92px;
}

.abonnement-creer-un-abonnement-periode-dessai .essai-gratuit-Cdn7oO {
    background-color: transparent;
    bottom: calc(25.00% - 13px);
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .frame-tJhbM0 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .name-tJhbM0 {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.29% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 90px;
}

.abonnement-creer-un-abonnement-periode-dessai .code-gratuit-Cdn7oO {
    background-color: transparent;
    bottom: 0px;
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .frame-7UjpmZ {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .name-7UjpmZ {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 92px;
}

/*.abonnement-creer-un-abonnement-periode-dessai .top-navigation-gvR0L2 {*/
/*  background-color: transparent;*/
/*  height: 68px;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 1600px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .rectangle-6se2OD {*/
/*  background-color: var(--vulcan);*/
/*  box-shadow: 0px 1px 4px #15223214;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .top-navigation-search-6se2OD {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  left: calc(19.34% - 17px);*/
/*  position: absolute;*/
/*  top: calc(50.00% - 12px);*/
/*  width: 90px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .x00-general-01-icons-sJHH2G {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .color-BxBJiA {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 7px);*/
/*  left: 3px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 3px;*/
/*  width: 17px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .search-sJHH2G {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 2px);*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: -2px;*/
/*  text-align: left;*/
/*  top: 3px;*/
/*  white-space: nowrap;*/
/*  width: 60px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .user-group-6se2OD {*/
/*  background-color: transparent;*/
/*  height: 36px;*/
/*  position: absolute;*/
/*  right: 40px;*/
/*  top: calc(43.75% - 16px);*/
/*  width: 117px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .users-avatar-photo-2-states-Y3gVlc {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 36px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .oval-d49QAm {*/
/*  background-color: transparent;*/
/*  border-radius: 18px;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .image-d49QAm {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .monica-simons-Y3gVlc {*/
/*  background-color: transparent;*/
/*  bottom: calc(46.43% - 10px);*/
/*  height: 22px;*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: calc(35.14% - 15px);*/
/*  text-align: left;*/
/*  white-space: nowrap;*/
/*  width: 43px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .icons-chevron-down-Y3gVlc {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  position: absolute;*/
/*  right: 0px;*/
/*  top: 5px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .trac-399-mfUGvc {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .trac-400-mfUGvc {*/
/*  background-color: transparent;*/
/*  height: 8px;*/
/*  left: 5px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: calc(48.67% - 4px);*/
/*  width: calc(100.00% - 9px);*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .groupe-2-6se2OD {*/
/*  background-color: transparent;*/
/*  bottom: calc(50.00% - 10px);*/
/*  height: 21px;*/
/*  left: 40px;*/
/*  position: absolute;*/
/*  width: 113px;*/
/*}*/

/*.abonnement-creer-un-abonnement-periode-dessai .groupe-1-oo7iil {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

.abonnement-creer-un-abonnement-periode-dessai .buttons-btn-text-icon-gvR0L2 {
    background-color: transparent;
    height: 32px;
    left: 1381px;
    position: absolute;
    top: 125px;
    width: 181px;
}

.abonnement-creer-un-abonnement-periode-dessai .type-nl1lF8 {
    background-color: var(--caribbean-green);
    border-radius: 4px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .groupe-393-nl1lF8 {
    background-color: transparent;
    height: 20px;
    left: 12px;
    position: absolute;
    top: calc(50.00% - 10px);
    width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement-periode-dessai .text-8joOTO {
    background-color: transparent;
    height: 22px;
    left: 0px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 15.00%;
    white-space: nowrap;
    width: 159px;
}

.abonnement-creer-un-abonnement-periode-dessai .informations-gvR0L2 {
    background-color: transparent;
    height: 281px;
    left: 303px;
    position: absolute;
    top: 172px;
    width: 1259px;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-632-L1WR7w {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: calc(100.00% - 18px);
    left: 0px;
    position: absolute;
    top: 18px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .titre-L1WR7w {
    background-color: transparent;
    height: 36px;
    left: 39px;
    position: absolute;
    top: 0px;
    width: 182px;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-633-xxpyNR {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .analytics-xxpyNR {
    background-color: transparent;
    height: 22px;
    left: 24.73%;
    letter-spacing: 0.06px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 51.65%;
}

.abonnement-creer-un-abonnement-periode-dessai .nom-L1WR7w {
    background-color: transparent;
    height: 40px;
    left: 39px;
    position: absolute;
    top: calc(25.67% - 10px);
    width: 268px;
}

.abonnement-creer-un-abonnement-periode-dessai .ligne-6-uiWHQs {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .novice-uiWHQs {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 34px);
}

.abonnement-creer-un-abonnement-periode-dessai .nom-uiWHQs {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement-periode-dessai .prix-L1WR7w {
    background-color: transparent;
    height: 40px;
    left: calc(36.02% - 96px);
    position: absolute;
    top: calc(25.67% - 10px);
    width: 268px;
}

.abonnement-creer-un-abonnement-periode-dessai .ligne-6-YMx9XA {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .x4999-YMx9XA {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 34px);
}

.abonnement-creer-un-abonnement-periode-dessai .prix-YMx9XA {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement-periode-dessai .dure-L1WR7w {
    background-color: transparent;
    height: 40px;
    position: absolute;
    right: calc(31.90% - 85px);
    top: calc(25.67% - 10px);
    width: 268px;
}

.abonnement-creer-un-abonnement-periode-dessai .ligne-6-af9Wxv {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .x30-af9Wxv {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 34px);
}

.abonnement-creer-un-abonnement-periode-dessai .dure-af9Wxv {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement-periode-dessai .type-L1WR7w {
    background-color: transparent;
    height: 40px;
    position: absolute;
    right: 79px;
    top: calc(25.67% - 10px);
    width: 187px;
}

.abonnement-creer-un-abonnement-periode-dessai .ligne-6-WRwq7K {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .mensuel-WRwq7K {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: 153px;
}

.abonnement-creer-un-abonnement-periode-dessai .type-WRwq7K {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement-periode-dessai .font-awsome-chevron-down-WRwq7K {
    background-color: transparent;
    bottom: calc(33.38% - 2px);
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 13px;
    width: 8px;
}

.abonnement-creer-un-abonnement-periode-dessai .filtre-L1WR7w {
    background-color: transparent;
    height: 1px;
    position: absolute;
    right: 23.34%;
    top: 25.62%;
    width: 1px;
}

.abonnement-creer-un-abonnement-periode-dessai .best-seller-L1WR7w {
    background-color: transparent;
    height: 17px;
    left: 39px;
    position: absolute;
    top: calc(46.45% - 8px);
    width: 127px;
}

.abonnement-creer-un-abonnement-periode-dessai .best-seller-XWpxgl {
    background-color: transparent;
    height: 19px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    right: -2px;
    text-align: left;
    top: 0px;
    width: 101px;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-634-XWpxgl {
    background-color: transparent;
    border-radius: 2px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 1px;
    width: 17px;
}

.abonnement-creer-un-abonnement-periode-dessai .visible-L1WR7w {
    background-color: transparent;
    height: 17px;
    left: calc(18.22% - 23px);
    position: absolute;
    top: calc(46.45% - 8px);
    width: 127px;
}

.abonnement-creer-un-abonnement-periode-dessai .visible-GkIzJy {
    background-color: transparent;
    height: 19px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    right: -2px;
    text-align: left;
    top: 0px;
    width: 101px;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-634-GkIzJy {
    background-color: transparent;
    border-radius: 2px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 1px;
    width: 17px;
}

.abonnement-creer-un-abonnement-periode-dessai .priode-dessai-L1WR7w {
    background-color: transparent;
    bottom: calc(36.15% - 8px);
    height: 21px;
    left: 39px;
    position: absolute;
    width: calc(100.00% - 70px);
}

.abonnement-creer-un-abonnement-periode-dessai .toggle-SN7q4a {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 46px;
}

.abonnement-creer-un-abonnement-periode-dessai .toggle-on-3xIxgc {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-657-XM8mDt {
    background-color: #2699fb;
    border-radius: 40px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-658-XM8mDt {
    background-color: var(--white);
    border-radius: 40px;
    height: calc(100.00% - 4px);
    position: absolute;
    right: 3px;
    top: 2px;
    width: 16px;
}

.abonnement-creer-un-abonnement-periode-dessai .on-XM8mDt {
    background-color: transparent;
    bottom: calc(46.15% - 4px);
    height: 8px;
    left: calc(31.43% - 3px);
    letter-spacing: 0.00px;
    line-height: 6px;
    position: absolute;
    text-align: right;
    white-space: nowrap;
    width: 11px;
}

.abonnement-creer-un-abonnement-periode-dessai .priode-dessai-SN7q4a {
    background-color: transparent;
    bottom: calc(28.57% - 4px);
    height: 14px;
    left: 58px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 56px);
}

.abonnement-creer-un-abonnement-periode-dessai .prix-k52cUz {
    background-color: transparent;
    bottom: 34px;
    height: 40px;
    left: 39px;
    position: absolute;
    width: 268px;
}

.abonnement-creer-un-abonnement-periode-dessai .ligne-6-16JyTv {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .x4999-16JyTv {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 34px);
}

.abonnement-creer-un-abonnement-periode-dessai .prix-16JyTv {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement-periode-dessai .dure-k52cUz {
    background-color: transparent;
    bottom: 34px;
    height: 40px;
    left: calc(36.02% - 96px);
    position: absolute;
    width: 268px;
}

.abonnement-creer-un-abonnement-periode-dessai .ligne-6-00xQYj {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .x30-00xQYj {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 34px);
}

.abonnement-creer-un-abonnement-periode-dessai .dure-00xQYj {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement-periode-dessai .type-k52cUz {
    background-color: transparent;
    bottom: 34px;
    height: 40px;
    position: absolute;
    right: calc(37.04% - 69px);
    width: 187px;
}

.abonnement-creer-un-abonnement-periode-dessai .ligne-6-WDtcPx {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .mensuel-WDtcPx {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: 153px;
}

.abonnement-creer-un-abonnement-periode-dessai .type-WDtcPx {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement-periode-dessai .font-awsome-chevron-down-WDtcPx {
    background-color: transparent;
    bottom: calc(33.38% - 2px);
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 13px;
    width: 8px;
}

.abonnement-creer-un-abonnement-periode-dessai .plateforme-de-paiement-gvR0L2 {
    background-color: transparent;
    height: 137px;
    left: 303px;
    position: absolute;
    top: 501px;
    width: 1259px;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-632-kGyjBe {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: calc(100.00% - 18px);
    left: 0px;
    position: absolute;
    top: 18px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .titre-kGyjBe {
    background-color: transparent;
    height: 36px;
    left: 39px;
    position: absolute;
    top: 0px;
    width: 211px;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-633-AfuIBt {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .analytics-AfuIBt {
    background-color: transparent;
    height: 22px;
    left: 9.00%;
    letter-spacing: 0.06px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 83.41%;
}

.abonnement-creer-un-abonnement-periode-dessai .plateforme-de-paiement-kGyjBe {
    background-color: transparent;
    bottom: calc(36.41% - 14px);
    height: 40px;
    left: 39px;
    position: absolute;
    width: 305px;
}

.abonnement-creer-un-abonnement-periode-dessai .ligne-6-7tx1Ho {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .plateforme-7tx1Ho {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: 153px;
}

.abonnement-creer-un-abonnement-periode-dessai .plateforme-de-paiement-7tx1Ho {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-creer-un-abonnement-periode-dessai .font-awsome-chevron-down-7tx1Ho {
    background-color: transparent;
    bottom: calc(33.38% - 2px);
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 13px;
    width: 8px;
}

.abonnement-creer-un-abonnement-periode-dessai .filtre-kGyjBe {
    background-color: transparent;
    bottom: 47.45%;
    height: 1px;
    position: absolute;
    right: 23.34%;
    width: 1px;
}

.abonnement-creer-un-abonnement-periode-dessai .lignes-descriptives-gvR0L2 {
    background-color: transparent;
    height: 137px;
    left: 303px;
    position: absolute;
    top: 672px;
    width: 1259px;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-632-8w2aTU {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: calc(100.00% - 18px);
    left: 0px;
    position: absolute;
    top: 18px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .titre-8w2aTU {
    background-color: transparent;
    height: 36px;
    left: 39px;
    position: absolute;
    top: 0px;
    width: 211px;
}

.abonnement-creer-un-abonnement-periode-dessai .rectangle-633-pCMPpW {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .analytics-pCMPpW {
    background-color: transparent;
    height: 22px;
    left: 18.01%;
    letter-spacing: 0.06px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 65.40%;
}

.abonnement-creer-un-abonnement-periode-dessai .lignes-8w2aTU {
    background-color: transparent;
    bottom: calc(42.14% - 9px);
    height: 22px;
    left: 39px;
    position: absolute;
    width: 305px;
}

.abonnement-creer-un-abonnement-periode-dessai .ligne-6-dGoMaz {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-creer-un-abonnement-periode-dessai .lignes-1-dGoMaz {
    background-color: transparent;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 153px;
}

.abonnement-creer-un-abonnement-periode-dessai .filtre-8w2aTU {
    background-color: transparent;
    bottom: 47.45%;
    height: 1px;
    position: absolute;
    right: 23.34%;
    width: 1px;
}
