/* screen - abonnement-code-promo */

.abonnement-code-promo {
    background-color: var(--zircon);
    height: 1001px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1600px;
}

.abonnement-code-promo .analytics-o3qHqt {
    background-color: transparent;
    height: auto;
    left: 343px;
    letter-spacing: 0.10px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 102px;
    white-space: nowrap;
    width: auto;
}

.abonnement-code-promo .sidebar-o3qHqt {
    background-color: transparent;
    height: 933px;
    left: 0px;
    position: absolute;
    top: 68px;
    width: 250px;
}

.abonnement-code-promo .shape-vopWaO {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .settings-vopWaO {
    background-color: transparent;
    bottom: 133px;
    height: 52px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-DQc0rj {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(37.65% - 23px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 60px;
}

.abonnement-code-promo .icons-navigation-icon-12-states-DQc0rj {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-code-promo .ic_setting-ehYrxe {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .broker-vopWaO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(43.59% - 23px);
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-7BRXix {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.97% - 16px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 47px;
}

.abonnement-code-promo .font-awsome-handshake-7BRXix {
    background-color: transparent;
    bottom: 20px;
    height: 13px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    width: 21px;
}

.abonnement-code-promo .crypto-wallet-vopWaO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(37.68% - 20px);
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-Cma1Tu {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(49.23% - 49px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 100px;
}

.abonnement-code-promo .font-awsome-bitcoin-Cma1Tu {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: calc(50.00% - 10px);
    width: 19px;
}

.abonnement-code-promo .trading-crypto-vopWaO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.88% - 13px);
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-9GD6YV {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(39.62% - 49px);
    text-align: left;
    white-space: nowrap;
    width: 124px;
}

.abonnement-code-promo .font-awsome-pen-9GD6YV {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 19px;
}

.abonnement-code-promo .thmes-articles-vopWaO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 124px;
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-9AAu1N {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(44.35% - 51px);
    text-align: left;
    white-space: nowrap;
    width: 115px;
}

.abonnement-code-promo .icons-navigation-icon-12-states-9AAu1N {
    background-color: transparent;
    height: 22px;
    left: 24px;
    position: absolute;
    top: calc(50.00% - 11px);
    width: 16px;
}

.abonnement-code-promo .font-awsome-bookmark-1H0Zdv {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .customers-vopWaO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 72px;
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-cw9xDw {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.24% - 35px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 82px;
}

.abonnement-code-promo .icons-navigation-icon-12-states-cw9xDw {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-code-promo .ic_users-IA5aoK {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .home-vopWaO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 20px;
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-lcjT5u {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.41% - 15px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 44px;
}

.abonnement-code-promo .icons-navigation-icon-12-states-lcjT5u {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-code-promo .ic_home-gLeIBq {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .articles-vopWaO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(19.98% - 10px);
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-FhDFTe {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(36.57% - 20px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 55px;
}

.abonnement-code-promo .icons-navigation-icon-12-states-FhDFTe {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-code-promo .ic_invoice-UsyocP {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .icon-ionic-ios-arrow-down-FhDFTe {
    background-color: transparent;
    bottom: calc(50.00% - 3px);
    height: 7px;
    left: 191px;
    object-fit: cover;
    position: absolute;
    width: 12px;
}

.abonnement-code-promo .bot-trading-vopWaO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(31.78% - 17px);
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-xqvUnC {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.84% - 37px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 84px;
}

.abonnement-code-promo .font-awsome-robot-xqvUnC {
    background-color: transparent;
    height: 17px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 21px;
}

.abonnement-code-promo .pays-vopWaO {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(49.49% - 26px);
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .name-TsewSO {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(32.99% - 12px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 36px;
}

.abonnement-code-promo .font-awsome-globe-europe-TsewSO {
    background-color: transparent;
    bottom: calc(50.00% - 9px);
    height: 18px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    width: 18px;
}

.abonnement-code-promo .abonnement-vopWaO {
    background-color: transparent;
    bottom: calc(27.49% - 71px);
    height: 260px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-code-promo .frame-llocrr {
    background-color: transparent;
    height: calc(100.00% - 208px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .line-llocrr {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: calc(100.00% - 208px);
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
}

.abonnement-code-promo .name-llocrr {
    background-color: transparent;
    height: 22px;
    left: calc(47.41% - 45px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: calc(7.98% - 2px);
    white-space: nowrap;
    width: 95px;
}

.abonnement-code-promo .icon-material-payment-llocrr {
    background-color: transparent;
    height: 15px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 19px;
}

.abonnement-code-promo .gestion-abonnements-llocrr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.00% - 13px);
    width: 100%;
}

.abonnement-code-promo .frame-lAXvaC {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .name-lAXvaC {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(28.99% - 47px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 161px;
}

.abonnement-code-promo .code-promo-llocrr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(50.00% - 26px);
    width: 100%;
}

.abonnement-code-promo .frame-dzTL34 {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .name-dzTL34 {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    width: 92px;
}

.abonnement-code-promo .essai-gratuit-llocrr {
    background-color: transparent;
    bottom: calc(25.00% - 13px);
    cursor: pointer;
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-promo .frame-3fgvlm {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .name-3fgvlm {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.29% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 90px;
}

.abonnement-code-promo .code-gratuit-llocrr {
    background-color: transparent;
    bottom: 0px;
    cursor: pointer;
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-promo .frame-me3JGx {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .name-me3JGx {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 92px;
}

.abonnement-code-promo .icon-ionic-ios-arrow-down-llocrr {
    background-color: transparent;
    height: 7px;
    left: 196px;
    object-fit: cover;
    position: absolute;
    top: calc(8.93% - 1px);
    width: 12px;
}

/*.abonnement-code-promo .top-navigation-o3qHqt {*/
/*  background-color: transparent;*/
/*  height: 68px;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 1600px;*/
/*}*/

/*.abonnement-code-promo .rectangle-sXDEMi {*/
/*  background-color: var(--vulcan);*/
/*  box-shadow: 0px 1px 4px #15223214;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-code-promo .top-navigation-search-sXDEMi {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  left: calc(19.34% - 17px);*/
/*  position: absolute;*/
/*  top: calc(50.00% - 12px);*/
/*  width: 90px;*/
/*}*/

/*.abonnement-code-promo .x00-general-01-icons-6uzDlD {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-code-promo .color-CiUxxx {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 7px);*/
/*  left: 3px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 3px;*/
/*  width: 17px;*/
/*}*/

/*.abonnement-code-promo .search-6uzDlD {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 2px);*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: -2px;*/
/*  text-align: left;*/
/*  top: 3px;*/
/*  white-space: nowrap;*/
/*  width: 60px;*/
/*}*/

/*.abonnement-code-promo .user-group-sXDEMi {*/
/*  background-color: transparent;*/
/*  height: 36px;*/
/*  position: absolute;*/
/*  right: 40px;*/
/*  top: calc(43.75% - 16px);*/
/*  width: 117px;*/
/*}*/

/*.abonnement-code-promo .users-avatar-photo-2-states-bPSsGs {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 36px;*/
/*}*/

/*.abonnement-code-promo .oval-x1BJ6S {*/
/*  background-color: transparent;*/
/*  border-radius: 18px;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-code-promo .image-x1BJ6S {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-code-promo .monica-simons-bPSsGs {*/
/*  background-color: transparent;*/
/*  bottom: calc(46.43% - 10px);*/
/*  height: 22px;*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: calc(35.14% - 15px);*/
/*  text-align: left;*/
/*  white-space: nowrap;*/
/*  width: 43px;*/
/*}*/

/*.abonnement-code-promo .icons-chevron-down-bPSsGs {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  position: absolute;*/
/*  right: 0px;*/
/*  top: 5px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-code-promo .trac-399-Bvotxx {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-code-promo .trac-400-Bvotxx {*/
/*  background-color: transparent;*/
/*  height: 8px;*/
/*  left: 5px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: calc(48.67% - 4px);*/
/*  width: calc(100.00% - 9px);*/
/*}*/

/*.abonnement-code-promo .groupe-2-sXDEMi {*/
/*  background-color: transparent;*/
/*  bottom: calc(50.00% - 10px);*/
/*  height: 21px;*/
/*  left: 40px;*/
/*  position: absolute;*/
/*  width: 113px;*/
/*}*/

/*.abonnement-code-promo .groupe-1-xYtfx6 {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 1px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

.abonnement-code-promo .buttons-btn-text-icon-o3qHqt {
    background-color: transparent;
    cursor: pointer;
    height: 32px;
    left: 1379px;
    position: absolute;
    top: 163px;
    width: 176px;
}

.abonnement-code-promo .type-ytGzbE {
    background-color: var(--caribbean-green);
    border-radius: 4px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .groupe-393-ytGzbE {
    background-color: transparent;
    height: 20px;
    left: 12px;
    position: absolute;
    top: calc(50.00% - 10px);
    width: calc(100.00% - 24px);
}

.abonnement-code-promo .text-1Nu7xi {
    background-color: transparent;
    height: 22px;
    left: 0px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 15.00%;
    white-space: nowrap;
    width: 154px;
}

.abonnement-code-promo .grid-table-o3qHqt {
    background-color: transparent;
    height: 570px;
    left: 301px;
    position: absolute;
    top: 220px;
    width: 1259px;
}

.abonnement-code-promo .groupe-455-naEJDx {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .rectangle-616-6IZLG3 {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .rectangle-618-6IZLG3 {
    background-color: var(--white);
    height: 62px;
    left: 0px;
    position: absolute;
    top: calc(24.80% - 15px);
    width: 100%;
}

.abonnement-code-promo .rectangle-619-6IZLG3 {
    background-color: var(--whisper);
    height: 62px;
    left: 0px;
    position: absolute;
    top: calc(37.01% - 23px);
    width: 100%;
}

.abonnement-code-promo .rectangle-621-6IZLG3 {
    background-color: var(--white);
    height: 62px;
    left: 0px;
    position: absolute;
    top: calc(49.21% - 31px);
    width: 100%;
}

.abonnement-code-promo .rectangle-622-6IZLG3 {
    background-color: var(--whisper);
    bottom: calc(38.58% - 24px);
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-promo .rectangle-623-6IZLG3 {
    background-color: var(--white);
    bottom: calc(26.38% - 16px);
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-promo .rectangle-624-6IZLG3 {
    background-color: var(--whisper);
    bottom: 72px;
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-promo .grid-table-naEJDx {
    background-color: transparent;
    height: 17px;
    left: 30px;
    position: absolute;
    top: 24px;
    width: calc(100.00% - 67px);
}

.abonnement-code-promo .name-3bODHN {
    background-color: transparent;
    height: 19px;
    left: 0px;
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 35px;
}

.abonnement-code-promo .name-VPuq8V {
    background-color: transparent;
    height: 19px;
    left: calc(14.36% - 9px);
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 64px;
}

.abonnement-code-promo .name-N1QRLZ {
    background-color: transparent;
    height: 19px;
    left: calc(31.17% - 26px);
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 82px;
}

.abonnement-code-promo .name-yQtyiD {
    background-color: transparent;
    height: 19px;
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    right: calc(49.06% - 62px);
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 126px;
}

.abonnement-code-promo .name-Ku6mpd {
    background-color: transparent;
    height: 19px;
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    right: calc(31.37% - 44px);
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 140px;
}

.abonnement-code-promo .name-Ee25h8 {
    background-color: transparent;
    height: 19px;
    left: calc(100.17% - 41px);
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 41px;
}

.abonnement-code-promo .exemple-row-naEJDx {
    background-color: transparent;
    height: 62px;
    left: 0px;
    position: absolute;
    top: 64px;
    width: 100%;
}

.abonnement-code-promo .rectangle-617-qd4YGn {
    background-color: var(--whisper);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .name-qd4YGn {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(2.45% - 1px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 37px;
}

.abonnement-code-promo .name-lDviXT {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(15.53% - 4px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 23px;
}

.abonnement-code-promo .name-pPrLWg {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(30.49% - 8px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 26px;
}

.abonnement-code-promo .membre-qd4YGn {
    background-color: transparent;
    bottom: calc(46.62% - 8px);
    height: 18px;
    position: absolute;
    right: calc(39.43% - 7px);
    width: 18px;
}

.abonnement-code-promo .font-awsome-check-square-38zoHj {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
}

.abonnement-code-promo .font-awsome-pen-qd4YGn {
    background-color: transparent;
    height: 18px;
    object-fit: cover;
    position: absolute;
    right: 54px;
    top: calc(49.85% - 9px);
    width: 18px;
}

.abonnement-code-promo .font-awsome-times-qd4YGn {
    background-color: transparent;
    height: 13px;
    object-fit: cover;
    position: absolute;
    right: 28px;
    top: calc(49.87% - 6px);
    width: 13px;
}

.abonnement-code-promo .name-iY0HzH {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(46.04% - 4px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 8px;
}

.abonnement-code-promo .icon-feather-copy-qd4YGn {
    background-color: transparent;
    bottom: calc(47.35% - 7px);
    height: 15px;
    position: absolute;
    right: 84px;
    width: 15px;
}

.abonnement-code-promo .trac-997-NpuSpH {
    background-color: transparent;
    bottom: 0px;
    height: 11px;
    object-fit: cover;
    position: absolute;
    right: 0px;
    width: 11px;
}

.abonnement-code-promo .trac-998-NpuSpH {
    background-color: transparent;
    height: 11px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 11px;
}

.abonnement-code-promo .search-o3qHqt {
    background-color: transparent;
    height: 37px;
    left: 301px;
    position: absolute;
    top: 160px;
    width: 317px;
}

.abonnement-code-promo .rectangle-625-0vBWB3 {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .name-0vBWB3 {
    background-color: transparent;
    bottom: calc(27.50% - 5px);
    height: 17px;
    left: calc(7.20% - 5px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 67px;
}

.abonnement-code-promo .filtre-o3qHqt {
    background-color: transparent;
    height: 37px;
    left: 625px;
    position: absolute;
    top: 160px;
    width: 77px;
}

.abonnement-code-promo .rectangle-625-HJmmqk {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .name-HJmmqk {
    background-color: transparent;
    bottom: calc(32.50% - 6px);
    height: 17px;
    left: calc(40.00% - 9px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 22px;
}

.abonnement-code-promo .font-awsome-chevron-down-HJmmqk {
    background-color: transparent;
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 10px;
    top: calc(50.00% - 2px);
    width: 8px;
}

.abonnement-code-promo .filtre-P2BFZZ {
    background-color: transparent;
    height: 37px;
    left: 709px;
    position: absolute;
    top: 160px;
    width: 77px;
}

.abonnement-code-promo .rectangle-625-CdqCqx {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-promo .name-CdqCqx {
    background-color: transparent;
    bottom: calc(32.50% - 6px);
    height: 17px;
    left: calc(36.59% - 13px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 36px;
}

.abonnement-code-promo .font-awsome-chevron-down-CdqCqx {
    background-color: transparent;
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 10px;
    top: calc(50.00% - 2px);
    width: 8px;
}
