/* screen - abonnement-essai-gratuit-creer-essai-gratuit */

.abonnement-essai-gratuit-creer-essai-gratuit {
    background-color: var(--zircon);
    height: 1001px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1600px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .analytics-06U2bs {
    background-color: transparent;
    height: auto;
    left: 338px;
    letter-spacing: 0.10px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 106px;
    white-space: nowrap;
    width: auto;
}

.abonnement-essai-gratuit-creer-essai-gratuit .sidebar-06U2bs {
    background-color: transparent;
    height: 933px;
    left: 0px;
    position: absolute;
    top: 68px;
    width: 250px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .shape-4Da1p5 {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .settings-4Da1p5 {
    background-color: transparent;
    bottom: 133px;
    height: 52px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-24iIxS {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(37.65% - 23px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 60px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .icons-navigation-icon-12-states-24iIxS {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .ic_setting-TFRxUZ {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .broker-4Da1p5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(43.59% - 23px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-l9vx7G {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.97% - 16px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 47px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .font-awsome-handshake-l9vx7G {
    background-color: transparent;
    bottom: 20px;
    height: 13px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    width: 21px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .crypto-wallet-4Da1p5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(37.68% - 20px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-J1oXgQ {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(49.23% - 49px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 100px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .font-awsome-bitcoin-J1oXgQ {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: calc(50.00% - 10px);
    width: 19px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .trading-crypto-4Da1p5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.88% - 13px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-Gx9ajr {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(39.62% - 49px);
    text-align: left;
    white-space: nowrap;
    width: 124px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .font-awsome-pen-Gx9ajr {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 19px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .thmes-articles-4Da1p5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 124px;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-dMCarJ {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(44.35% - 51px);
    text-align: left;
    white-space: nowrap;
    width: 115px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .icons-navigation-icon-12-states-dMCarJ {
    background-color: transparent;
    height: 22px;
    left: 24px;
    position: absolute;
    top: calc(50.00% - 11px);
    width: 16px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .font-awsome-bookmark-nkfslN {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .customers-4Da1p5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 72px;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-feQPmZ {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.24% - 35px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 82px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .icons-navigation-icon-12-states-feQPmZ {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .ic_users-AEsoR4 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .home-4Da1p5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 20px;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-WBKB2P {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.41% - 15px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 44px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .icons-navigation-icon-12-states-WBKB2P {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .ic_home-PbDE0g {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .articles-4Da1p5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(19.98% - 10px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-i86BPw {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(36.57% - 20px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 55px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .icons-navigation-icon-12-states-i86BPw {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .ic_invoice-2TtxlG {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .icon-ionic-ios-arrow-down-i86BPw {
    background-color: transparent;
    bottom: calc(50.00% - 3px);
    height: 7px;
    left: 191px;
    object-fit: cover;
    position: absolute;
    width: 12px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .bot-trading-4Da1p5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(31.78% - 17px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-bAs6Hj {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.84% - 37px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 84px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .font-awsome-robot-bAs6Hj {
    background-color: transparent;
    height: 17px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 21px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .pays-4Da1p5 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(49.49% - 26px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-eNcLbL {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(32.99% - 12px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 36px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .font-awsome-globe-europe-eNcLbL {
    background-color: transparent;
    bottom: calc(50.00% - 9px);
    height: 18px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    width: 18px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .abonnement-4Da1p5 {
    background-color: transparent;
    bottom: calc(27.49% - 71px);
    height: 260px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .frame-22En3k {
    background-color: transparent;
    height: calc(100.00% - 208px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .line-22En3k {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: calc(100.00% - 208px);
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-22En3k {
    background-color: transparent;
    height: 22px;
    left: calc(47.41% - 45px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: calc(7.98% - 2px);
    white-space: nowrap;
    width: 95px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .icon-material-payment-22En3k {
    background-color: transparent;
    height: 15px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 19px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .gestion-abonnements-22En3k {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.00% - 13px);
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .frame-62GKqO {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-62GKqO {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(28.99% - 47px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 161px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .code-promo-22En3k {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(50.00% - 26px);
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .frame-LNlyg1 {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-LNlyg1 {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 92px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .essai-gratuit-22En3k {
    background-color: transparent;
    bottom: calc(25.00% - 13px);
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .frame-szB0tG {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-szB0tG {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.29% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    width: 90px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .code-gratuit-22En3k {
    background-color: transparent;
    bottom: 0px;
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .frame-mwuqnH {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .name-mwuqnH {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 92px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .icon-ionic-ios-arrow-down-22En3k {
    background-color: transparent;
    height: 7px;
    left: 196px;
    object-fit: cover;
    position: absolute;
    top: calc(8.93% - 1px);
    width: 12px;
}

/*.abonnement-essai-gratuit-creer-essai-gratuit .top-navigation-06U2bs {*/
/*  background-color: transparent;*/
/*  height: 68px;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 1600px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .rectangle-orrzyq {*/
/*  background-color: var(--vulcan);*/
/*  box-shadow: 0px 1px 4px #15223214;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .top-navigation-search-orrzyq {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  left: calc(19.34% - 17px);*/
/*  position: absolute;*/
/*  top: calc(50.00% - 12px);*/
/*  width: 90px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .x00-general-01-icons-26qeog {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .color-HTk73i {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 7px);*/
/*  left: 3px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 3px;*/
/*  width: 17px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .search-26qeog {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 2px);*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: -2px;*/
/*  text-align: left;*/
/*  top: 3px;*/
/*  white-space: nowrap;*/
/*  width: 60px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .user-group-orrzyq {*/
/*  background-color: transparent;*/
/*  height: 36px;*/
/*  position: absolute;*/
/*  right: 40px;*/
/*  top: calc(43.75% - 16px);*/
/*  width: 117px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .users-avatar-photo-2-states-ft0SZi {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 36px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .oval-S15y9C {*/
/*  background-color: transparent;*/
/*  border-radius: 18px;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .image-S15y9C {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .monica-simons-ft0SZi {*/
/*  background-color: transparent;*/
/*  bottom: calc(46.43% - 10px);*/
/*  height: 22px;*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: calc(35.14% - 15px);*/
/*  text-align: left;*/
/*  white-space: nowrap;*/
/*  width: 43px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .icons-chevron-down-ft0SZi {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  position: absolute;*/
/*  right: 0px;*/
/*  top: 5px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .trac-399-59FxgF {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .trac-400-59FxgF {*/
/*  background-color: transparent;*/
/*  height: 8px;*/
/*  left: 5px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: calc(48.67% - 4px);*/
/*  width: calc(100.00% - 9px);*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .groupe-2-orrzyq {*/
/*  background-color: transparent;*/
/*  bottom: calc(50.00% - 10px);*/
/*  height: 21px;*/
/*  left: 40px;*/
/*  position: absolute;*/
/*  width: 113px;*/
/*}*/

/*.abonnement-essai-gratuit-creer-essai-gratuit .groupe-1-4RGIqE {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 1px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

.abonnement-essai-gratuit-creer-essai-gratuit .buttons-btn-text-icon-06U2bs {
    background-color: transparent;
    height: 32px;
    left: 1381px;
    position: absolute;
    top: 125px;
    width: 155px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .type-DkTLSP {
    background-color: var(--caribbean-green);
    border-radius: 4px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .groupe-393-DkTLSP {
    background-color: transparent;
    height: 20px;
    left: 12px;
    position: absolute;
    top: calc(50.00% - 10px);
    width: calc(100.00% - 24px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .text-OuFySU {
    background-color: transparent;
    height: 22px;
    left: 0px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 15.00%;
    white-space: nowrap;
    width: 133px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .informations-06U2bs {
    background-color: transparent;
    height: 226px;
    left: 303px;
    position: absolute;
    top: 172px;
    width: 1259px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .rectangle-632-QfiZtN {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: calc(100.00% - 18px);
    left: 0px;
    position: absolute;
    top: 18px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .titre-QfiZtN {
    background-color: transparent;
    height: 36px;
    left: 39px;
    position: absolute;
    top: 0px;
    width: 182px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .rectangle-633-UxiYDf {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .analytics-UxiYDf {
    background-color: transparent;
    height: 22px;
    left: 24.73%;
    letter-spacing: 0.06px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 51.65%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .prix-QfiZtN {
    background-color: transparent;
    bottom: calc(39.95% - 16px);
    height: 40px;
    left: calc(30.92% - 83px);
    position: absolute;
    width: 268px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .ligne-6-6xQ2vz {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .x0-6xQ2vz {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 34px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .prix-6xQ2vz {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .dure-QfiZtN {
    background-color: transparent;
    bottom: calc(39.95% - 16px);
    height: 40px;
    position: absolute;
    right: calc(31.93% - 86px);
    width: 268px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .ligne-6-zbvUim {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .x30-zbvUim {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 34px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .dure-dessai-zbvUim {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .filtre-QfiZtN {
    background-color: transparent;
    height: 1px;
    position: absolute;
    right: 23.34%;
    top: 31.86%;
    width: 1px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .visible-QfiZtN {
    background-color: transparent;
    bottom: calc(17.84% - 3px);
    height: 17px;
    left: 39px;
    position: absolute;
    width: 127px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .actif-8bCr9V {
    background-color: transparent;
    height: 19px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    right: -2px;
    text-align: left;
    top: 0px;
    width: 101px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .rectangle-634-8bCr9V {
    background-color: transparent;
    border-radius: 2px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 1px;
    width: 17px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .type-QfiZtN {
    background-color: transparent;
    bottom: calc(39.95% - 16px);
    height: 40px;
    position: absolute;
    right: 85px;
    width: 187px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .ligne-6-DdxyWZ {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .mensuel-DdxyWZ {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: 153px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .type-DdxyWZ {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .font-awsome-chevron-down-DdxyWZ {
    background-color: transparent;
    bottom: calc(33.38% - 2px);
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 13px;
    width: 8px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .abonnement-QfiZtN {
    background-color: transparent;
    bottom: calc(39.95% - 16px);
    height: 40px;
    left: 39px;
    position: absolute;
    width: 187px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .abonnement-SdrZCw {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .ligne-6-UACUya {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .choisir-UACUya {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: 153px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .slectionner-abonnement-UACUya {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .font-awsome-chevron-down-UACUya {
    background-color: transparent;
    bottom: calc(33.38% - 2px);
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 13px;
    width: 8px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .prix-9cvhIh {
    background-color: transparent;
    height: 40px;
    left: 39px;
    position: absolute;
    top: calc(30.03% - 12px);
    width: 268px;
}

.abonnement-essai-gratuit-creer-essai-gratuit .ligne-6-jZxSqa {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit-creer-essai-gratuit .broker-30j-jZxSqa {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 34px);
}

.abonnement-essai-gratuit-creer-essai-gratuit .nom-de-la-campagne-essai-gratuit-jZxSqa {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}
