/* screen - abonnement-essai-gratuit */

.abonnement-essai-gratuit {
    background-color: var(--zircon);
    height: 1001px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1600px;
}

.abonnement-essai-gratuit .analytics-dIMMOR {
    background-color: transparent;
    height: auto;
    left: 342px;
    letter-spacing: 0.10px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 102px;
    white-space: nowrap;
    width: auto;
}

.abonnement-essai-gratuit .sidebar-dIMMOR {
    background-color: transparent;
    height: 933px;
    left: 0px;
    position: absolute;
    top: 68px;
    width: 250px;
}

.abonnement-essai-gratuit .shape-r9x1mq {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .settings-r9x1mq {
    background-color: transparent;
    bottom: 133px;
    height: 52px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-IaTy0q {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(37.65% - 23px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 60px;
}

.abonnement-essai-gratuit .icons-navigation-icon-12-states-IaTy0q {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-essai-gratuit .ic_setting-40jyhs {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .broker-r9x1mq {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(43.59% - 23px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-zpb3uU {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.97% - 16px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 47px;
}

.abonnement-essai-gratuit .font-awsome-handshake-zpb3uU {
    background-color: transparent;
    bottom: 20px;
    height: 13px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    width: 21px;
}

.abonnement-essai-gratuit .crypto-wallet-r9x1mq {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(37.68% - 20px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-tErCU4 {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(49.23% - 49px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 100px;
}

.abonnement-essai-gratuit .font-awsome-bitcoin-tErCU4 {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: calc(50.00% - 10px);
    width: 19px;
}

.abonnement-essai-gratuit .trading-crypto-r9x1mq {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.88% - 13px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-q5o2Zj {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(39.62% - 49px);
    text-align: left;
    white-space: nowrap;
    width: 124px;
}

.abonnement-essai-gratuit .font-awsome-pen-q5o2Zj {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 19px;
}

.abonnement-essai-gratuit .thmes-articles-r9x1mq {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 124px;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-Q97uh5 {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(44.35% - 51px);
    text-align: left;
    white-space: nowrap;
    width: 115px;
}

.abonnement-essai-gratuit .icons-navigation-icon-12-states-Q97uh5 {
    background-color: transparent;
    height: 22px;
    left: 24px;
    position: absolute;
    top: calc(50.00% - 11px);
    width: 16px;
}

.abonnement-essai-gratuit .font-awsome-bookmark-7azXW9 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
}

.abonnement-essai-gratuit .customers-r9x1mq {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 72px;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-d2txwl {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.24% - 35px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 82px;
}

.abonnement-essai-gratuit .icons-navigation-icon-12-states-d2txwl {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-essai-gratuit .ic_users-7x7Nt5 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .home-r9x1mq {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 20px;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-F4ACUW {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.41% - 15px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 44px;
}

.abonnement-essai-gratuit .icons-navigation-icon-12-states-F4ACUW {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-essai-gratuit .ic_home-ixlP3n {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .articles-r9x1mq {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(19.98% - 10px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-8K0Bzx {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(36.57% - 20px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 55px;
}

.abonnement-essai-gratuit .icons-navigation-icon-12-states-8K0Bzx {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-essai-gratuit .ic_invoice-lxBlI5 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .icon-ionic-ios-arrow-down-8K0Bzx {
    background-color: transparent;
    bottom: calc(50.00% - 3px);
    height: 7px;
    left: 191px;
    object-fit: cover;
    position: absolute;
    width: 12px;
}

.abonnement-essai-gratuit .bot-trading-r9x1mq {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(31.78% - 17px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-z8UE9c {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.84% - 37px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 84px;
}

.abonnement-essai-gratuit .font-awsome-robot-z8UE9c {
    background-color: transparent;
    height: 17px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 21px;
}

.abonnement-essai-gratuit .pays-r9x1mq {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(49.49% - 26px);
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .name-ounDou {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(32.99% - 12px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 36px;
}

.abonnement-essai-gratuit .font-awsome-globe-europe-ounDou {
    background-color: transparent;
    bottom: calc(50.00% - 9px);
    height: 18px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    width: 18px;
}

.abonnement-essai-gratuit .abonnement-r9x1mq {
    background-color: transparent;
    bottom: calc(27.49% - 71px);
    height: 260px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-essai-gratuit .frame-mgVJe4 {
    background-color: transparent;
    height: calc(100.00% - 208px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .line-mgVJe4 {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: calc(100.00% - 208px);
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
}

.abonnement-essai-gratuit .name-mgVJe4 {
    background-color: transparent;
    height: 22px;
    left: calc(47.41% - 45px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: calc(7.98% - 2px);
    white-space: nowrap;
    width: 95px;
}

.abonnement-essai-gratuit .icon-material-payment-mgVJe4 {
    background-color: transparent;
    height: 15px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 19px;
}

.abonnement-essai-gratuit .gestion-abonnements-mgVJe4 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.00% - 13px);
    width: 100%;
}

.abonnement-essai-gratuit .frame-c7ahcB {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .name-c7ahcB {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(28.99% - 47px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 161px;
}

.abonnement-essai-gratuit .code-promo-mgVJe4 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(50.00% - 26px);
    width: 100%;
}

.abonnement-essai-gratuit .frame-zoI5dz {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .name-zoI5dz {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 92px;
}

.abonnement-essai-gratuit .essai-gratuit-mgVJe4 {
    background-color: transparent;
    bottom: calc(25.00% - 13px);
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit .frame-wYUeuc {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .name-wYUeuc {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.29% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    width: 90px;
}

.abonnement-essai-gratuit .code-gratuit-mgVJe4 {
    background-color: transparent;
    bottom: 0px;
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit .frame-Zl5Lhx {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .name-Zl5Lhx {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 92px;
}

.abonnement-essai-gratuit .icon-ionic-ios-arrow-down-mgVJe4 {
    background-color: transparent;
    height: 7px;
    left: 196px;
    object-fit: cover;
    position: absolute;
    top: calc(8.93% - 1px);
    width: 12px;
}

/*.abonnement-essai-gratuit .top-navigation-dIMMOR {*/
/*  background-color: transparent;*/
/*  height: 68px;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 1600px;*/
/*}*/

/*.abonnement-essai-gratuit .rectangle-HRJ8zk {*/
/*  background-color: var(--vulcan);*/
/*  box-shadow: 0px 1px 4px #15223214;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-essai-gratuit .top-navigation-search-HRJ8zk {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  left: calc(19.34% - 17px);*/
/*  position: absolute;*/
/*  top: calc(50.00% - 12px);*/
/*  width: 90px;*/
/*}*/

/*.abonnement-essai-gratuit .x00-general-01-icons-JxqpIA {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-essai-gratuit .color-ERc72O {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 7px);*/
/*  left: 3px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 3px;*/
/*  width: 17px;*/
/*}*/

/*.abonnement-essai-gratuit .search-JxqpIA {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 2px);*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: -2px;*/
/*  text-align: left;*/
/*  top: 3px;*/
/*  white-space: nowrap;*/
/*  width: 60px;*/
/*}*/

/*.abonnement-essai-gratuit .user-group-HRJ8zk {*/
/*  background-color: transparent;*/
/*  height: 36px;*/
/*  position: absolute;*/
/*  right: 40px;*/
/*  top: calc(43.75% - 16px);*/
/*  width: 117px;*/
/*}*/

/*.abonnement-essai-gratuit .users-avatar-photo-2-states-FExCs4 {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 36px;*/
/*}*/

/*.abonnement-essai-gratuit .oval-u9ZcVr {*/
/*  background-color: transparent;*/
/*  border-radius: 18px;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-essai-gratuit .image-u9ZcVr {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-essai-gratuit .monica-simons-FExCs4 {*/
/*  background-color: transparent;*/
/*  bottom: calc(46.43% - 10px);*/
/*  height: 22px;*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: calc(35.14% - 15px);*/
/*  text-align: left;*/
/*  white-space: nowrap;*/
/*  width: 43px;*/
/*}*/

/*.abonnement-essai-gratuit .icons-chevron-down-FExCs4 {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  position: absolute;*/
/*  right: 0px;*/
/*  top: 5px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-essai-gratuit .trac-399-HuEtUl {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-essai-gratuit .trac-400-HuEtUl {*/
/*  background-color: transparent;*/
/*  height: 8px;*/
/*  left: 5px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: calc(48.67% - 4px);*/
/*  width: calc(100.00% - 9px);*/
/*}*/

/*.abonnement-essai-gratuit .groupe-2-HRJ8zk {*/
/*  background-color: transparent;*/
/*  bottom: calc(50.00% - 10px);*/
/*  height: 21px;*/
/*  left: 40px;*/
/*  position: absolute;*/
/*  width: 113px;*/
/*}*/

/*.abonnement-essai-gratuit .groupe-1-YWt5vj {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 1px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

.abonnement-essai-gratuit .buttons-btn-text-icon-dIMMOR {
    background-color: transparent;
    height: 32px;
    left: 1379px;
    position: absolute;
    top: 163px;
    width: 176px;
}

.abonnement-essai-gratuit .type-mXCuo0 {
    background-color: var(--caribbean-green);
    border-radius: 4px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .groupe-393-mXCuo0 {
    background-color: transparent;
    height: 20px;
    left: 12px;
    position: absolute;
    top: calc(50.00% - 10px);
    width: calc(100.00% - 24px);
}

.abonnement-essai-gratuit .text-pPqlp1 {
    background-color: transparent;
    height: 22px;
    left: 0px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 15.00%;
    white-space: nowrap;
    width: 154px;
}

.abonnement-essai-gratuit .grid-table-dIMMOR {
    background-color: transparent;
    height: 570px;
    left: 301px;
    position: absolute;
    top: 220px;
    width: 1259px;
}

.abonnement-essai-gratuit .groupe-455-zJdM5C {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .rectangle-616-gCFseq {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .rectangle-618-gCFseq {
    background-color: var(--white);
    height: 62px;
    left: 0px;
    position: absolute;
    top: calc(24.80% - 15px);
    width: 100%;
}

.abonnement-essai-gratuit .rectangle-619-gCFseq {
    background-color: var(--whisper);
    height: 62px;
    left: 0px;
    position: absolute;
    top: calc(37.01% - 23px);
    width: 100%;
}

.abonnement-essai-gratuit .rectangle-621-gCFseq {
    background-color: var(--white);
    height: 62px;
    left: 0px;
    position: absolute;
    top: calc(49.21% - 31px);
    width: 100%;
}

.abonnement-essai-gratuit .rectangle-622-gCFseq {
    background-color: var(--whisper);
    bottom: calc(38.58% - 24px);
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit .rectangle-623-gCFseq {
    background-color: var(--white);
    bottom: calc(26.38% - 16px);
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit .rectangle-624-gCFseq {
    background-color: var(--whisper);
    bottom: 72px;
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-essai-gratuit .grid-table-zJdM5C {
    background-color: transparent;
    height: 17px;
    left: 30px;
    position: absolute;
    top: 24px;
    width: calc(100.00% - 67px);
}

.abonnement-essai-gratuit .name-a2jAxC {
    background-color: transparent;
    height: 19px;
    left: 0px;
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 104px;
}

.abonnement-essai-gratuit .name-neslt6 {
    background-color: transparent;
    height: 19px;
    left: calc(14.62% - 12px);
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 84px;
}

.abonnement-essai-gratuit .name-YoRDXP {
    background-color: transparent;
    height: 19px;
    left: calc(29.83% - 10px);
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 32px;
}

.abonnement-essai-gratuit .name-qNG5Ad {
    background-color: transparent;
    height: 19px;
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    right: calc(31.37% - 44px);
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 140px;
}

.abonnement-essai-gratuit .name-SXJhES {
    background-color: transparent;
    height: 19px;
    left: calc(100.17% - 41px);
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 41px;
}

.abonnement-essai-gratuit .exemple-row-zJdM5C {
    background-color: transparent;
    height: 62px;
    left: 0px;
    position: absolute;
    top: 64px;
    width: 100%;
}

.abonnement-essai-gratuit .rectangle-617-AQ694E {
    background-color: var(--whisper);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .name-AQ694E {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(2.51% - 2px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 62px;
}

.abonnement-essai-gratuit .name-RNiJxM {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(15.42% - 2px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 14px;
}

.abonnement-essai-gratuit .name-xA9P6O {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(30.97% - 14px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 45px;
}

.abonnement-essai-gratuit .membre-AQ694E {
    background-color: transparent;
    bottom: calc(46.62% - 8px);
    height: 18px;
    position: absolute;
    right: calc(39.43% - 7px);
    width: 18px;
}

.abonnement-essai-gratuit .font-awsome-check-square-mDnxs0 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
}

.abonnement-essai-gratuit .font-awsome-pen-AQ694E {
    background-color: transparent;
    height: 18px;
    object-fit: cover;
    position: absolute;
    right: 54px;
    top: calc(49.85% - 9px);
    width: 18px;
}

.abonnement-essai-gratuit .font-awsome-times-AQ694E {
    background-color: transparent;
    height: 13px;
    object-fit: cover;
    position: absolute;
    right: 28px;
    top: calc(49.87% - 6px);
    width: 13px;
}

.abonnement-essai-gratuit .buttons-btn-text-icon-zJdM5C {
    background-color: transparent;
    height: 32px;
    position: absolute;
    right: 164px;
    top: 79px;
    width: 121px;
}

.abonnement-essai-gratuit .type-pmNwq7 {
    background-color: var(--blue-ribbon);
    border-radius: 4px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .groupe-393-pmNwq7 {
    background-color: transparent;
    height: 20px;
    left: 12px;
    position: absolute;
    top: calc(50.00% - 10px);
    width: calc(100.00% - 24px);
}

.abonnement-essai-gratuit .text-rY2K9R {
    background-color: transparent;
    height: 22px;
    left: 0px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 15.00%;
    white-space: nowrap;
    width: 99px;
}

.abonnement-essai-gratuit .search-dIMMOR {
    background-color: transparent;
    height: 37px;
    left: 301px;
    position: absolute;
    top: 160px;
    width: 317px;
}

.abonnement-essai-gratuit .rectangle-625-zhlHtW {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .name-zhlHtW {
    background-color: transparent;
    bottom: calc(27.50% - 5px);
    height: 17px;
    left: calc(7.20% - 5px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 67px;
}

.abonnement-essai-gratuit .filtre-dIMMOR {
    background-color: transparent;
    height: 37px;
    left: 625px;
    position: absolute;
    top: 160px;
    width: 77px;
}

.abonnement-essai-gratuit .rectangle-625-GgxIxp {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-essai-gratuit .name-GgxIxp {
    background-color: transparent;
    bottom: calc(32.50% - 6px);
    height: 17px;
    left: calc(40.00% - 9px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 22px;
}

.abonnement-essai-gratuit .font-awsome-chevron-down-GgxIxp {
    background-color: transparent;
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 10px;
    top: calc(50.00% - 2px);
    width: 8px;
}
