/* screen - abonnement-code-gratuit */

.abonnement-code-gratuit {
    background-color: var(--zircon);
    height: 1236px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1600px;
}

.abonnement-code-gratuit .analytics-IJFojW {
    background-color: transparent;
    height: auto;
    left: 325px;
    letter-spacing: 0.10px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 102px;
    white-space: nowrap;
    width: auto;
}

.abonnement-code-gratuit .sidebar-IJFojW {
    background-color: transparent;
    height: 933px;
    left: 0px;
    position: absolute;
    top: 68px;
    width: 250px;
}

.abonnement-code-gratuit .shape-6Ihqtr {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .settings-6Ihqtr {
    background-color: transparent;
    bottom: 133px;
    height: 52px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-pofret {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(37.65% - 23px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 60px;
}

.abonnement-code-gratuit .icons-navigation-icon-12-states-pofret {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-code-gratuit .ic_setting-aDxxQx {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .broker-6Ihqtr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(43.59% - 23px);
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-Ka6Udf {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.97% - 16px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 47px;
}

.abonnement-code-gratuit .font-awsome-handshake-Ka6Udf {
    background-color: transparent;
    bottom: 20px;
    height: 13px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    width: 21px;
}

.abonnement-code-gratuit .crypto-wallet-6Ihqtr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(37.68% - 20px);
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-DdAIRU {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(49.23% - 49px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 100px;
}

.abonnement-code-gratuit .font-awsome-bitcoin-DdAIRU {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: calc(50.00% - 10px);
    width: 19px;
}

.abonnement-code-gratuit .trading-crypto-6Ihqtr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.88% - 13px);
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-PYjR5v {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(39.62% - 49px);
    text-align: left;
    white-space: nowrap;
    width: 124px;
}

.abonnement-code-gratuit .font-awsome-pen-PYjR5v {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 19px;
}

.abonnement-code-gratuit .thmes-articles-6Ihqtr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 124px;
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-b6DEeK {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(44.35% - 51px);
    text-align: left;
    white-space: nowrap;
    width: 115px;
}

.abonnement-code-gratuit .icons-navigation-icon-12-states-b6DEeK {
    background-color: transparent;
    height: 22px;
    left: 24px;
    position: absolute;
    top: calc(50.00% - 11px);
    width: 16px;
}

.abonnement-code-gratuit .font-awsome-bookmark-IPKJmT {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
}

.abonnement-code-gratuit .customers-6Ihqtr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 72px;
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-XvcvVp {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.24% - 35px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 82px;
}

.abonnement-code-gratuit .icons-navigation-icon-12-states-XvcvVp {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-code-gratuit .ic_users-xCFany {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .home-6Ihqtr {
    background-color: transparent;
    cursor: pointer;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 20px;
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-JNl6FH {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.41% - 15px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 44px;
}

.abonnement-code-gratuit .icons-navigation-icon-12-states-JNl6FH {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-code-gratuit .ic_home-NM2Tsa {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .articles-6Ihqtr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(19.98% - 10px);
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-Vg1fvR {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(36.57% - 20px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 55px;
}

.abonnement-code-gratuit .icons-navigation-icon-12-states-Vg1fvR {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.abonnement-code-gratuit .ic_invoice-xBogVX {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .icon-ionic-ios-arrow-down-Vg1fvR {
    background-color: transparent;
    bottom: calc(50.00% - 3px);
    height: 7px;
    left: 191px;
    object-fit: cover;
    position: absolute;
    width: 12px;
}

.abonnement-code-gratuit .bot-trading-6Ihqtr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(31.78% - 17px);
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-OTIEIJ {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.84% - 37px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 84px;
}

.abonnement-code-gratuit .font-awsome-robot-OTIEIJ {
    background-color: transparent;
    height: 17px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 21px;
}

.abonnement-code-gratuit .pays-6Ihqtr {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(49.49% - 26px);
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .name-g8qa4E {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(32.99% - 12px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 36px;
}

.abonnement-code-gratuit .font-awsome-globe-europe-g8qa4E {
    background-color: transparent;
    bottom: calc(50.00% - 9px);
    height: 18px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    width: 18px;
}

.abonnement-code-gratuit .abonnement-6Ihqtr {
    background-color: transparent;
    bottom: calc(27.49% - 71px);
    height: 260px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.abonnement-code-gratuit .frame-pxBTHT {
    background-color: transparent;
    height: calc(100.00% - 208px);
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .line-pxBTHT {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: calc(100.00% - 208px);
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
}

.abonnement-code-gratuit .name-pxBTHT {
    background-color: transparent;
    height: 22px;
    left: calc(47.41% - 45px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: calc(7.98% - 2px);
    white-space: nowrap;
    width: 95px;
}

.abonnement-code-gratuit .icon-material-payment-pxBTHT {
    background-color: transparent;
    height: 15px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 19px;
}

.abonnement-code-gratuit .gestion-abonnements-pxBTHT {
    background-color: transparent;
    cursor: pointer;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(25.00% - 13px);
    width: 100%;
}

.abonnement-code-gratuit .frame-gzQDxO {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .name-gzQDxO {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(28.99% - 47px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 161px;
}

.abonnement-code-gratuit .code-promo-pxBTHT {
    background-color: transparent;
    cursor: pointer;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(50.00% - 26px);
    width: 100%;
}

.abonnement-code-gratuit .frame-yaS4ec {
    background-color: var(--blue-ribbon-2);
    height: 100%;
    left: 0px;
    opacity: 0.05;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .name-yaS4ec {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 92px;
}

.abonnement-code-gratuit .essai-gratuit-pxBTHT {
    background-color: transparent;
    bottom: calc(25.00% - 13px);
    cursor: pointer;
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-gratuit .frame-DyYjTG {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .name-DyYjTG {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.29% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 90px;
}

.abonnement-code-gratuit .code-gratuit-pxBTHT {
    background-color: transparent;
    bottom: 0px;
    height: 52px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-gratuit .frame-YoWR5G {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .name-YoWR5G {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(14.49% - 13px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    width: 92px;
}

.abonnement-code-gratuit .icon-ionic-ios-arrow-down-pxBTHT {
    background-color: transparent;
    height: 7px;
    left: 196px;
    object-fit: cover;
    position: absolute;
    top: calc(8.93% - 1px);
    width: 12px;
}

/*.abonnement-code-gratuit .top-navigation-IJFojW {*/
/*  background-color: transparent;*/
/*  height: 68px;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 1600px;*/
/*}*/

/*.abonnement-code-gratuit .rectangle-oCUWWG {*/
/*  background-color: var(--vulcan);*/
/*  box-shadow: 0px 1px 4px #15223214;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-code-gratuit .top-navigation-search-oCUWWG {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  left: calc(19.34% - 17px);*/
/*  position: absolute;*/
/*  top: calc(50.00% - 12px);*/
/*  width: 90px;*/
/*}*/

/*.abonnement-code-gratuit .x00-general-01-icons-2x40ed {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-code-gratuit .color-zvtQQo {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 7px);*/
/*  left: 3px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 3px;*/
/*  width: 17px;*/
/*}*/

/*.abonnement-code-gratuit .search-2x40ed {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 2px);*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: -2px;*/
/*  text-align: left;*/
/*  top: 3px;*/
/*  white-space: nowrap;*/
/*  width: 60px;*/
/*}*/

/*.abonnement-code-gratuit .user-group-oCUWWG {*/
/*  background-color: transparent;*/
/*  height: 36px;*/
/*  position: absolute;*/
/*  right: 40px;*/
/*  top: calc(43.75% - 16px);*/
/*  width: 117px;*/
/*}*/

/*.abonnement-code-gratuit .users-avatar-photo-2-states-JELuwO {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 36px;*/
/*}*/

/*.abonnement-code-gratuit .oval-hXNDxg {*/
/*  background-color: transparent;*/
/*  border-radius: 18px;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-code-gratuit .image-hXNDxg {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-code-gratuit .monica-simons-JELuwO {*/
/*  background-color: transparent;*/
/*  bottom: calc(46.43% - 10px);*/
/*  height: 22px;*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: calc(35.14% - 15px);*/
/*  text-align: left;*/
/*  white-space: nowrap;*/
/*  width: 43px;*/
/*}*/

/*.abonnement-code-gratuit .icons-chevron-down-JELuwO {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  position: absolute;*/
/*  right: 0px;*/
/*  top: 5px;*/
/*  width: 24px;*/
/*}*/

/*.abonnement-code-gratuit .trac-399-INa6aK {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.abonnement-code-gratuit .trac-400-INa6aK {*/
/*  background-color: transparent;*/
/*  height: 8px;*/
/*  left: 5px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: calc(48.67% - 4px);*/
/*  width: calc(100.00% - 9px);*/
/*}*/

/*.abonnement-code-gratuit .groupe-2-oCUWWG {*/
/*  background-color: transparent;*/
/*  bottom: calc(50.00% - 10px);*/
/*  height: 21px;*/
/*  left: 40px;*/
/*  position: absolute;*/
/*  width: 113px;*/
/*}*/

/*.abonnement-code-gratuit .groupe-1-s0oyxy {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 1px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

.abonnement-code-gratuit .informations-IJFojW {
    background-color: transparent;
    height: 138px;
    left: 303px;
    position: absolute;
    top: 161px;
    width: 1259px;
}

.abonnement-code-gratuit .rectangle-632-xQSJNS {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: calc(100.00% - 18px);
    left: 0px;
    position: absolute;
    top: 18px;
    width: 100%;
}

.abonnement-code-gratuit .titre-xQSJNS {
    background-color: transparent;
    height: 36px;
    left: 39px;
    position: absolute;
    top: 0px;
    width: 182px;
}

.abonnement-code-gratuit .rectangle-633-xTUV77 {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .analytics-xTUV77 {
    background-color: transparent;
    height: 22px;
    left: 19.23%;
    letter-spacing: 0.06px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 62.64%;
}

.abonnement-code-gratuit .filtre-xQSJNS {
    background-color: transparent;
    bottom: 47.83%;
    height: 1px;
    position: absolute;
    right: 23.34%;
    width: 1px;
}

.abonnement-code-gratuit .abonnement-xQSJNS {
    background-color: transparent;
    bottom: calc(32.99% - 13px);
    height: 40px;
    left: 39px;
    position: absolute;
    width: calc(100.00% - 74px);
}

.abonnement-code-gratuit .ligne-6-S5iyHv {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.abonnement-code-gratuit .ton-code-promo-code-S5iyHv {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% + 2px);
}

.abonnement-code-gratuit .phrase-S5iyHv {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 296px;
}

.abonnement-code-gratuit .grid-table-IJFojW {
    background-color: transparent;
    height: 570px;
    left: 303px;
    position: absolute;
    top: 373px;
    width: 1259px;
}

.abonnement-code-gratuit .groupe-455-SnNlAD {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .rectangle-616-uggW2n {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .rectangle-619-uggW2n {
    background-color: var(--whisper);
    height: 62px;
    left: 0px;
    position: absolute;
    top: calc(37.01% - 23px);
    width: 100%;
}

.abonnement-code-gratuit .rectangle-621-uggW2n {
    background-color: var(--white);
    height: 62px;
    left: 0px;
    position: absolute;
    top: calc(49.21% - 31px);
    width: 100%;
}

.abonnement-code-gratuit .rectangle-622-uggW2n {
    background-color: var(--whisper);
    bottom: calc(38.58% - 24px);
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-gratuit .rectangle-623-uggW2n {
    background-color: var(--white);
    bottom: calc(26.38% - 16px);
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-gratuit .rectangle-624-uggW2n {
    background-color: var(--whisper);
    bottom: 72px;
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-gratuit .grid-table-SnNlAD {
    background-color: transparent;
    height: 17px;
    left: 30px;
    position: absolute;
    top: 24px;
    width: calc(100.00% - 67px);
}

.abonnement-code-gratuit .name-C1Jbgp {
    background-color: transparent;
    height: 19px;
    left: 0px;
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 81px;
}

.abonnement-code-gratuit .name-lA1zQM {
    background-color: transparent;
    height: 19px;
    left: calc(14.46% - 10px);
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 72px;
}

.abonnement-code-gratuit .name-CIhZxB {
    background-color: transparent;
    height: 19px;
    left: calc(30.43% - 17px);
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 55px;
}

.abonnement-code-gratuit .name-ZgdZZz {
    background-color: transparent;
    height: 19px;
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    right: calc(37.16% - 16px);
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 43px;
}

.abonnement-code-gratuit .name-IfuI7W {
    background-color: transparent;
    height: 19px;
    left: calc(100.17% - 41px);
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 41px;
}

.abonnement-code-gratuit .name-lIucNx {
    background-color: transparent;
    height: 19px;
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    right: calc(24.67% - 18px);
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 71px;
}

.abonnement-code-gratuit .exemple-row-SnNlAD {
    background-color: transparent;
    height: 124px;
    left: 0px;
    position: absolute;
    top: 64px;
    width: 100%;
}

.abonnement-code-gratuit .row-1-foYVaV {
    background-color: transparent;
    height: 62px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .rectangle-617-YLkFmZ {
    background-color: var(--whisper);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .name-YLkFmZ {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(2.48% - 1px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 47px;
}

.abonnement-code-gratuit .name-xaWnbc {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(16.04% - 10px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 62px;
}

.abonnement-code-gratuit .name-fwztxb {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    left: calc(31.05% - 15px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 48px;
}

.abonnement-code-gratuit .membre-YLkFmZ {
    background-color: transparent;
    bottom: calc(46.62% - 8px);
    height: 18px;
    position: absolute;
    right: calc(39.43% - 7px);
    width: 18px;
}

.abonnement-code-gratuit .font-awsome-check-square-kW0kBh {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
}

.abonnement-code-gratuit .font-awsome-pen-YLkFmZ {
    background-color: transparent;
    height: 18px;
    object-fit: cover;
    position: absolute;
    right: 54px;
    top: calc(49.85% - 9px);
    width: 18px;
}

.abonnement-code-gratuit .font-awsome-times-YLkFmZ {
    background-color: transparent;
    height: 13px;
    object-fit: cover;
    position: absolute;
    right: 28px;
    top: calc(49.87% - 6px);
    width: 13px;
}

.abonnement-code-gratuit .icon-feather-copy-YLkFmZ {
    background-color: transparent;
    bottom: calc(47.34% - 7px);
    height: 15px;
    position: absolute;
    right: 84px;
    width: 15px;
}

.abonnement-code-gratuit .trac-997-Mxidp4 {
    background-color: transparent;
    bottom: 0px;
    height: 11px;
    object-fit: cover;
    position: absolute;
    right: 0px;
    width: 11px;
}

.abonnement-code-gratuit .trac-998-Mxidp4 {
    background-color: transparent;
    height: 11px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 11px;
}

.abonnement-code-gratuit .name-LUxa8K {
    background-color: transparent;
    bottom: calc(38.89% - 7px);
    height: 17px;
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    right: calc(25.62% - 22px);
    text-align: left;
    white-space: nowrap;
    width: 84px;
}

.abonnement-code-gratuit .row-2-foYVaV {
    background-color: transparent;
    bottom: 0px;
    height: 62px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.abonnement-code-gratuit .rectangle-618-svZSSv {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .name-svZSSv {
    background-color: transparent;
    bottom: calc(47.78% - 8px);
    height: 17px;
    left: calc(2.48% - 1px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 47px;
}

.abonnement-code-gratuit .name-wrnKVX {
    background-color: transparent;
    bottom: calc(47.78% - 8px);
    height: 17px;
    left: calc(16.04% - 10px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 62px;
}

.abonnement-code-gratuit .name-MkcXpB {
    background-color: transparent;
    bottom: calc(47.78% - 8px);
    height: 17px;
    left: calc(31.05% - 15px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 48px;
}

.abonnement-code-gratuit .membre-svZSSv {
    background-color: transparent;
    height: 18px;
    position: absolute;
    right: calc(39.40% - 8px);
    top: calc(44.37% - 8px);
    width: 20px;
}

.abonnement-code-gratuit .font-awsome-window-close-aW4paS {
    background-color: transparent;
    height: 100%;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 100%;
}

.abonnement-code-gratuit .font-awsome-pen-svZSSv {
    background-color: transparent;
    height: 18px;
    object-fit: cover;
    position: absolute;
    right: 54px;
    top: calc(40.85% - 7px);
    width: 18px;
}

.abonnement-code-gratuit .font-awsome-times-svZSSv {
    background-color: transparent;
    height: 13px;
    object-fit: cover;
    position: absolute;
    right: 28px;
    top: calc(41.77% - 5px);
    width: 13px;
}

.abonnement-code-gratuit .icon-feather-copy-svZSSv {
    background-color: transparent;
    height: 15px;
    position: absolute;
    right: 84px;
    top: calc(44.11% - 7px);
    width: 15px;
}

.abonnement-code-gratuit .trac-997-FtrAfj {
    background-color: transparent;
    bottom: 0px;
    height: 11px;
    object-fit: cover;
    position: absolute;
    right: 0px;
    width: 11px;
}

.abonnement-code-gratuit .trac-998-FtrAfj {
    background-color: transparent;
    height: 11px;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 11px;
}

.abonnement-code-gratuit .search-IJFojW {
    background-color: transparent;
    height: 37px;
    left: 303px;
    position: absolute;
    top: 322px;
    width: 317px;
}

.abonnement-code-gratuit .rectangle-625-gvtN8P {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .name-gvtN8P {
    background-color: transparent;
    bottom: calc(27.50% - 5px);
    height: 17px;
    left: calc(7.20% - 5px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 67px;
}

.abonnement-code-gratuit .filtre-IJFojW {
    background-color: transparent;
    height: 37px;
    left: 641px;
    position: absolute;
    top: 322px;
    width: 77px;
}

.abonnement-code-gratuit .rectangle-625-p335g5 {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.abonnement-code-gratuit .name-p335g5 {
    background-color: transparent;
    bottom: calc(32.50% - 6px);
    height: 17px;
    left: calc(36.59% - 13px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 36px;
}

.abonnement-code-gratuit .font-awsome-chevron-down-p335g5 {
    background-color: transparent;
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 10px;
    top: calc(50.00% - 2px);
    width: 8px;
}
