.articles-historique-articles {
  align-items: flex-start;
  background-color: var(--zircon);
  display: flex;
  flex-direction: column;
  height: 1884px;
  overflow: hidden;
  position: relative;
  width: 1600px;
}

