/* screen - articles-creer-un-article-1 */

.articles-creer-un-article-1 {
  background-color: var(--zircon);
  height: 2392px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1600px;
}

.articles-creer-un-article-1 .analytics-ac2OFL {
  background-color: transparent;
  height: auto;
  left: 336px;
  letter-spacing: 0.10px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 106px;
  white-space: nowrap;
  width: auto;
}

.articles-creer-un-article-1 .top-navigation-ac2OFL {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.articles-creer-un-article-1 .rectangle-wFeIiE {
  background-color: var(--vulcan);
  box-shadow: 0px 1px 4px #15223214;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .top-navigation-search-wFeIiE {
  background-color: transparent;
  height: 24px;
  left: calc(19.34% - 17px);
  position: absolute;
  top: calc(50.00% - 12px);
  width: 90px;
}

.articles-creer-un-article-1 .x00-general-01-icons-McK0U6 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.articles-creer-un-article-1 .color-KAz2C6 {
  background-color: transparent;
  height: calc(100.00% - 7px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 17px;
}

.articles-creer-un-article-1 .search-McK0U6 {
  background-color: transparent;
  height: calc(100.00% - 2px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 60px;
}

.articles-creer-un-article-1 .user-group-wFeIiE {
  background-color: transparent;
  height: 36px;
  position: absolute;
  right: 40px;
  top: calc(43.75% - 16px);
  width: 117px;
}

.articles-creer-un-article-1 .users-avatar-photo-2-states-MemWVC {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}

.articles-creer-un-article-1 .oval-SIC1lh {
  background-color: transparent;
  border-radius: 18px;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .image-SIC1lh {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .monica-simons-MemWVC {
  background-color: transparent;
  bottom: calc(46.43% - 10px);
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(35.14% - 15px);
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.articles-creer-un-article-1 .icons-chevron-down-MemWVC {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 0px;
  top: 5px;
  width: 24px;
}

.articles-creer-un-article-1 .trac-399-LymkqK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .trac-400-LymkqK {
  background-color: transparent;
  height: 8px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: calc(48.67% - 4px);
  width: calc(100.00% - 9px);
}

.articles-creer-un-article-1 .groupe-2-wFeIiE {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 21px;
  left: 40px;
  position: absolute;
  width: 113px;
}

.articles-creer-un-article-1 .groupe-1-hApxzK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .action-ac2OFL {
  background-color: transparent;
  height: 32px;
  left: 1200px;
  position: absolute;
  top: 159px;
  width: 360px;
}

.articles-creer-un-article-1 .buttons-btn-text-icon-fUxmfv {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 240px;
}

.articles-creer-un-article-1 .type-pxpsEC {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .groupe-393-pxpsEC {
  background-color: transparent;
  height: 20px;
  left: 12px;
  position: absolute;
  top: calc(50.00% - 10px);
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .text-77Aiht {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 15.00%;
  white-space: nowrap;
  width: 218px;
}

.articles-creer-un-article-1 .buttons-btn-text-icon-WHRwzv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 98px;
}

.articles-creer-un-article-1 .type-txqeGz {
  background-color: var(--torch-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .groupe-393-txqeGz {
  background-color: transparent;
  height: 20px;
  left: 12px;
  position: absolute;
  top: calc(50.00% - 10px);
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .text-aG2HIF {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 15.00%;
  white-space: nowrap;
  width: 76px;
}

.articles-creer-un-article-1 .articles-ac2OFL {
  background-color: transparent;
  height: 301px;
  left: 301px;
  position: absolute;
  top: 231px;
  width: 1259px;
}

.articles-creer-un-article-1 .rectangle-632-GiT5tA {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 18px);
  left: 0px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.articles-creer-un-article-1 .titre-GiT5tA {
  background-color: transparent;
  height: 36px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 182px;
}

.articles-creer-un-article-1 .rectangle-633-ZHJp6G {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .analytics-ZHJp6G {
  background-color: transparent;
  height: 22px;
  left: 35.16%;
  letter-spacing: 0.06px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 30.77%;
}

.articles-creer-un-article-1 .nom-GiT5tA {
  background-color: transparent;
  bottom: 33px;
  height: 141px;
  left: 39px;
  position: absolute;
  width: 297px;
}

.articles-creer-un-article-1 .image-prsentation-FTRSfD {
  background-color: transparent;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 244px;
}

.articles-creer-un-article-1 .image-1-FTRSfD {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 178px;
}

.articles-creer-un-article-1 .buttons-btn-text-icon-FTRSfD {
  background-color: transparent;
  bottom: calc(40.27% - 12px);
  height: 29px;
  position: absolute;
  right: 0px;
  width: 104px;
}

.articles-creer-un-article-1 .type-8ubKLx {
  background-color: var(--banana);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .groupe-393-8ubKLx {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: calc(50.00% - 8px);
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .text-xp84Ic {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.09px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 14.71%;
  white-space: nowrap;
  width: 82px;
}

.articles-creer-un-article-1 .filtre-GiT5tA {
  background-color: transparent;
  height: 37px;
  left: 39px;
  position: absolute;
  top: calc(23.48% - 9px);
  width: 159px;
}

.articles-creer-un-article-1 .rectangle-625-hMV91R {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .name-hMV91R {
  background-color: transparent;
  bottom: calc(32.50% - 6px);
  height: 17px;
  left: calc(24.82% - 20px);
  letter-spacing: 0.07px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 82px;
}

.articles-creer-un-article-1 .font-awsome-chevron-down-hMV91R {
  background-color: transparent;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: 16px;
  top: calc(50.00% - 2px);
  width: 8px;
}

.articles-creer-un-article-1 .id-fixe-GiT5tA {
  background-color: transparent;
  height: 40px;
  left: calc(22.70% - 61px);
  position: absolute;
  top: calc(23.71% - 9px);
  width: 268px;
}

.articles-creer-un-article-1 .ligne-6-Tx5c37 {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.articles-creer-un-article-1 .play-to-earn-Tx5c37 {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 34px);
}

.articles-creer-un-article-1 .thme-slectionn-Tx5c37 {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .nom-QqZd1O {
  background-color: transparent;
  bottom: 33px;
  height: 141px;
  left: calc(41.16% - 122px);
  position: absolute;
  width: 297px;
}

.articles-creer-un-article-1 .image-article-Sf1GaP {
  background-color: transparent;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 244px;
}

.articles-creer-un-article-1 .image-1-Sf1GaP {
  background-color: transparent;
  height: calc(100.00% - 3px);
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 178px;
}

.articles-creer-un-article-1 .buttons-btn-text-icon-Sf1GaP {
  background-color: transparent;
  bottom: calc(40.27% - 12px);
  height: 29px;
  position: absolute;
  right: 0px;
  width: 104px;
}

.articles-creer-un-article-1 .type-xwQkVx {
  background-color: var(--banana);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .groupe-393-xwQkVx {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: calc(50.00% - 8px);
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .text-VN4TXe {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.09px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 14.71%;
  white-space: nowrap;
  width: 82px;
}

.articles-creer-un-article-1 .articles-editeur-ac2OFL {
  background-color: transparent;
  height: 1056px;
  left: 301px;
  position: absolute;
  top: 572px;
  width: 1259px;
}

.articles-creer-un-article-1 .rectangle-632-Gc4Wti {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 18px);
  left: 0px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.articles-creer-un-article-1 .titre-Gc4Wti {
  background-color: transparent;
  height: 36px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 182px;
}

.articles-creer-un-article-1 .rectangle-633-s3zZKM {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .analytics-s3zZKM {
  background-color: transparent;
  height: 22px;
  left: 17.03%;
  letter-spacing: 0.06px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 67.03%;
}

.articles-creer-un-article-1 .titre-yV4noU {
  background-color: transparent;
  height: 40px;
  left: 39px;
  position: absolute;
  top: 56px;
  width: 268px;
}

.articles-creer-un-article-1 .ligne-6-YGXnT0 {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.articles-creer-un-article-1 .axie-infinity-play-to-earn-YGXnT0 {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 34px);
}

.articles-creer-un-article-1 .titre-YGXnT0 {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .editeur-Gc4Wti {
  background-color: transparent;
  bottom: calc(41.75% - 188px);
  height: 450px;
  left: 39px;
  position: absolute;
  width: 919px;
}

.articles-creer-un-article-1 .titre-neGryX {
  background-color: transparent;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 116px;
}

.articles-creer-un-article-1 .rectangle-633-eObbx3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .analytics-eObbx3 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-poppins-semibold-semibold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
  height: 17px;
  left: 18.97%;
  letter-spacing: 0.04px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: calc(13.64% - 2px);
  white-space: nowrap;
  width: 63.79%;
}

.articles-creer-un-article-1 .titre-y7H450 {
  background-color: transparent;
  height: 28px;
  left: 116px;
  position: absolute;
  top: 0px;
  width: 116px;
}

.articles-creer-un-article-1 .rectangle-633-OpT03j {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .analytics-OpT03j {
  background-color: transparent;
  color: var(--tundora);
  font-family: var(--font-family-poppins-semibold-semibold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
  height: 17px;
  left: 38.79%;
  letter-spacing: 0.04px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: calc(13.64% - 2px);
  white-space: nowrap;
  width: 24.14%;
}

.articles-creer-un-article-1 .rectangle-16882-neGryX {
  background-color: var(--white);
  height: calc(100.00% - 48px);
  left: 2px;
  position: absolute;
  top: 48px;
  width: calc(100.00% - 2px);
}

.articles-creer-un-article-1 .notes-details-text-editor-neGryX {
  background-color: transparent;
  height: 8.67%;
  left: 1.31%;
  object-fit: cover;
  position: absolute;
  top: 11.33%;
  width: 65.83%;
}

.articles-creer-un-article-1 .description-Gc4Wti {
  background-color: transparent;
  height: 57px;
  left: 39px;
  position: absolute;
  top: 121px;
  width: calc(100.00% - 119px);
}

.articles-creer-un-article-1 .ligne-6-eM9KJG {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.articles-creer-un-article-1 .axie-infinity-est-un-eM9KJG {
  background-color: transparent;
  bottom: 3px;
  height: 37px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 34px);
}

.articles-creer-un-article-1 .description-eM9KJG {
  background-color: transparent;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .salaire-moyen-Gc4Wti {
  background-color: transparent;
  height: 57px;
  left: 39px;
  position: absolute;
  top: calc(19.82% - 11px);
  width: 445px;
}

.articles-creer-un-article-1 .ligne-6-yp8unx {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.articles-creer-un-article-1 .les-joueurs-du-monde-yp8unx {
  background-color: transparent;
  bottom: 3px;
  height: 37px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-creer-un-article-1 .salaire-moyen-yp8unx {
  background-color: transparent;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 244px;
}

.articles-creer-un-article-1 .tarification-Gc4Wti {
  background-color: transparent;
  height: 57px;
  position: absolute;
  right: 84px;
  top: calc(19.82% - 11px);
  width: 641px;
}

.articles-creer-un-article-1 .ligne-6-hMApAB {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.articles-creer-un-article-1 .pour-jouer-axie-infi-hMApAB {
  background-color: transparent;
  bottom: 3px;
  height: 37px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-creer-un-article-1 .tarification-de-la-plateforme-hMApAB {
  background-color: transparent;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 244px;
}

.articles-creer-un-article-1 .users-gnrants-revenus-Gc4Wti {
  background-color: transparent;
  height: 38px;
  left: 39px;
  position: absolute;
  top: calc(27.01% - 10px);
  width: 445px;
}

.articles-creer-un-article-1 .ligne-6-TlN8rK {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.articles-creer-un-article-1 .x350-000-utilisateurs-actifs-mensuels-TlN8rK {
  background-color: transparent;
  bottom: 3px;
  height: 18px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-creer-un-article-1 .utilisateurs-gnrants-TlN8rK {
  background-color: transparent;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 244px;
}

.articles-creer-un-article-1 .financement-Gc4Wti {
  background-color: transparent;
  height: 38px;
  position: absolute;
  right: calc(47.23% - 117px);
  top: calc(27.01% - 10px);
  width: 247px;
}

.articles-creer-un-article-1 .ligne-6-7egcJV {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.articles-creer-un-article-1 .x9-millions-7egcJV {
  background-color: transparent;
  bottom: 3px;
  height: 18px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-creer-un-article-1 .financement-7egcJV {
  background-color: transparent;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 5px);
}

.articles-creer-un-article-1 .audience-Gc4Wti {
  background-color: transparent;
  height: 38px;
  position: absolute;
  right: 84px;
  top: calc(27.01% - 10px);
  width: 344px;
}

.articles-creer-un-article-1 .ligne-6-svTNpM {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.articles-creer-un-article-1 .non-svTNpM {
  background-color: transparent;
  bottom: 3px;
  height: 18px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-creer-un-article-1 .ncessite-une-audience-svTNpM {
  background-color: transparent;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 244px;
}

.articles-creer-un-article-1 .podcast-ac2OFL {
  background-color: transparent;
  height: 140px;
  left: 301px;
  position: absolute;
  top: 1683px;
  width: 1259px;
}

.articles-creer-un-article-1 .rectangle-632-vxDuNP {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 18px);
  left: 0px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.articles-creer-un-article-1 .titre-vxDuNP {
  background-color: transparent;
  height: 36px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 182px;
}

.articles-creer-un-article-1 .rectangle-633-GRVzpp {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .analytics-GRVzpp {
  background-color: transparent;
  height: 22px;
  left: 34.07%;
  letter-spacing: 0.06px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 32.97%;
}

.articles-creer-un-article-1 .buttons-btn-text-icon-vxDuNP {
  background-color: transparent;
  bottom: calc(34.26% - 11px);
  height: 32px;
  left: 51px;
  position: absolute;
  width: 158px;
}

.articles-creer-un-article-1 .type-jYV8qf {
  background-color: #fece2b;
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .groupe-393-jYV8qf {
  background-color: transparent;
  height: 20px;
  left: 12px;
  position: absolute;
  top: calc(50.00% - 10px);
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .text-HTxMOL {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 15.00%;
  white-space: nowrap;
  width: 136px;
}

.articles-creer-un-article-1 .id-fixe-vxDuNP {
  background-color: transparent;
  bottom: calc(29.35% - 12px);
  height: 40px;
  left: calc(26.13% - 70px);
  position: absolute;
  width: 268px;
}

.articles-creer-un-article-1 .ligne-6-opbkCQ {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.articles-creer-un-article-1 .nom-du-fichier-opbkCQ {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 34px);
}

.articles-creer-un-article-1 .podcast-opbkCQ {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .articles-suggrs-ac2OFL {
  background-color: transparent;
  height: 358px;
  left: 301px;
  position: absolute;
  top: 1863px;
  width: 1259px;
}

.articles-creer-un-article-1 .rectangle-632-j2vd34 {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 18px);
  left: 0px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.articles-creer-un-article-1 .titre-j2vd34 {
  background-color: transparent;
  height: 36px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 182px;
}

.articles-creer-un-article-1 .rectangle-633-Qf2RY5 {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .analytics-Qf2RY5 {
  background-color: transparent;
  height: 22px;
  left: 15.93%;
  letter-spacing: 0.06px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 69.23%;
}

.articles-creer-un-article-1 .buttons-btn-text-icon-j2vd34 {
  background-color: transparent;
  height: 32px;
  left: 39px;
  position: absolute;
  top: calc(35.89% - 11px);
  width: 145px;
}

.articles-creer-un-article-1 .type-UmrUHD {
  background-color: var(--web-orange);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .groupe-393-UmrUHD {
  background-color: transparent;
  height: 20px;
  left: 12px;
  position: absolute;
  top: calc(50.00% - 10px);
  width: calc(100.00% - 24px);
}

.articles-creer-un-article-1 .text-syT3gc {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 15.00%;
  white-space: nowrap;
  width: 123px;
}

.articles-creer-un-article-1 .filtre-j2vd34 {
  background-color: transparent;
  height: 37px;
  left: 39px;
  position: absolute;
  top: calc(18.07% - 7px);
  width: 432px;
}

.articles-creer-un-article-1 .rectangle-625-9xzvgX {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .name-9xzvgX {
  background-color: transparent;
  bottom: calc(32.50% - 6px);
  height: 17px;
  left: calc(11.76% - 10px);
  letter-spacing: 0.07px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 82px;
}

.articles-creer-un-article-1 .font-awsome-chevron-down-9xzvgX {
  background-color: transparent;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: 16px;
  top: calc(50.00% - 2px);
  width: 8px;
}

.articles-creer-un-article-1 .bouton-pour-supprimer-j2vd34 {
  background-color: transparent;
  height: 20px;
  position: absolute;
  right: 58px;
  top: calc(19.82% - 4px);
  width: 20px;
}

.articles-creer-un-article-1 .ellipse-12-xjylNu {
  background-color: var(--torch-red);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .font-awsome-times-xjylNu {
  background-color: transparent;
  height: 8px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 4px);
  top: calc(50.00% - 4px);
  width: 8px;
}

.articles-creer-un-article-1 .sidebar-ac2OFL {
  background-color: transparent;
  height: 2324px;
  left: 0px;
  position: absolute;
  top: 68px;
  width: 250px;
}

.articles-creer-un-article-1 .shape-8G8P7W {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .settings-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(30.63% - 16px);
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-BcnZcx {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(37.65% - 23px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 60px;
}

.articles-creer-un-article-1 .icons-navigation-icon-12-states-BcnZcx {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.articles-creer-un-article-1 .ic_setting-dw9xqT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .broker-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(23.77% - 12px);
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-TByy7G {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(34.97% - 16px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 47px;
}

.articles-creer-un-article-1 .font-awsome-handshake-TByy7G {
  background-color: transparent;
  bottom: 20px;
  height: 13px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  width: 21px;
}

.articles-creer-un-article-1 .crypto-wallet-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(21.48% - 11px);
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-e7nhEX {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(49.23% - 49px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100px;
}

.articles-creer-un-article-1 .font-awsome-bitcoin-e7nhEX {
  background-color: transparent;
  height: 19px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 19px;
}

.articles-creer-un-article-1 .trading-crypto-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 384px;
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-kYSKnT {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  right: calc(39.62% - 49px);
  text-align: left;
  white-space: nowrap;
  width: 124px;
}

.articles-creer-un-article-1 .font-awsome-pen-kYSKnT {
  background-color: transparent;
  height: 19px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 19px;
}

.articles-creer-un-article-1 .thmes-articles-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 124px;
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-gH36E0 {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  right: calc(44.35% - 51px);
  text-align: left;
  white-space: nowrap;
  width: 115px;
}

.articles-creer-un-article-1 .icons-navigation-icon-12-states-gH36E0 {
  background-color: transparent;
  height: 22px;
  left: 24px;
  position: absolute;
  top: calc(50.00% - 11px);
  width: 16px;
}

.articles-creer-un-article-1 .font-awsome-bookmark-QgU0Cb {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.articles-creer-un-article-1 .customers-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-GY5leB {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(43.24% - 35px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 82px;
}

.articles-creer-un-article-1 .icons-navigation-icon-12-states-GY5leB {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.articles-creer-un-article-1 .ic_users-qggDeW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .home-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-Q9QGtw {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(34.41% - 15px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 44px;
}

.articles-creer-un-article-1 .icons-navigation-icon-12-states-Q9QGtw {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.articles-creer-un-article-1 .ic_home-24kKnz {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .articles-8G8P7W {
  background-color: transparent;
  height: 208px;
  left: 0px;
  position: absolute;
  top: 176px;
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .frame-unMArc {
  background-color: transparent;
  height: calc(100.00% - 156px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .line-unMArc {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: calc(100.00% - 156px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.articles-creer-un-article-1 .name-unMArc {
  background-color: transparent;
  height: 22px;
  left: calc(36.57% - 20px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(10.22% - 2px);
  white-space: nowrap;
  width: 55px;
}

.articles-creer-un-article-1 .icons-navigation-icon-12-states-unMArc {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(7.61% - 2px);
  width: 24px;
}

.articles-creer-un-article-1 .ic_invoice-eQe5ww {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-creer-un-article-1 .icon-ionic-ios-arrow-down-unMArc {
  background-color: transparent;
  height: 7px;
  left: 191px;
  object-fit: cover;
  position: absolute;
  top: calc(11.24% - 1px);
  width: 12px;
}

.articles-creer-un-article-1 .frame-h20q2x {
  background-color: var(--blue-ribbon-2);
  height: calc(100.00% - 156px);
  left: 0px;
  opacity: 0.05;
  position: absolute;
  top: 52px;
  width: 100%;
}

.articles-creer-un-article-1 .frame-F98axI {
  background-color: var(--blue-ribbon-2);
  height: calc(100.00% - 156px);
  left: 0px;
  opacity: 0.05;
  position: absolute;
  top: 104px;
  width: 100%;
}

.articles-creer-un-article-1 .name-h20q2x {
  background-color: transparent;
  height: 22px;
  left: calc(14.29% - 13px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(38.17% - 8px);
  white-space: nowrap;
  width: 90px;
}

.articles-creer-un-article-1 .name-F98axI {
  background-color: transparent;
  bottom: calc(33.87% - 7px);
  height: 22px;
  left: calc(31.75% - 53px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  width: 167px;
}

.articles-creer-un-article-1 .frame-ywJJ5P {
  background-color: transparent;
  height: calc(100.00% - 156px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 100%;
}

.articles-creer-un-article-1 .name-ywJJ5P {
  background-color: transparent;
  bottom: calc(5.91% - 1px);
  height: 22px;
  left: calc(20.20% - 26px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 131px;
}

.articles-creer-un-article-1 .bot-trading-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(19.19% - 10px);
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-DsFLZA {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(43.84% - 37px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 84px;
}

.articles-creer-un-article-1 .font-awsome-robot-DsFLZA {
  background-color: transparent;
  height: 17px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 21px;
}

.articles-creer-un-article-1 .pays-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(26.06% - 14px);
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-n1lOt9 {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(32.99% - 12px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.articles-creer-un-article-1 .font-awsome-globe-europe-n1lOt9 {
  background-color: transparent;
  bottom: calc(50.00% - 9px);
  height: 18px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  width: 18px;
}

.articles-creer-un-article-1 .abonnement-8G8P7W {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(28.35% - 15px);
  width: calc(100.00% - 20px);
}

.articles-creer-un-article-1 .name-KtWpqW {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(47.41% - 45px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 95px;
}

.articles-creer-un-article-1 .icon-material-payment-KtWpqW {
  background-color: transparent;
  height: 15px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 19px;
}

.articles-creer-un-article-1 .icon-ionic-ios-arrow-down-KtWpqW {
  background-color: transparent;
  bottom: calc(50.00% - 3px);
  height: 7px;
  left: 196px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}
