/* screen - crypto-wallet */

.crypto-wallet {
  background-color: var(--zircon);
  height: 1141px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1600px;
}

.crypto-wallet .analytics-XPwy4i {
  background-color: transparent;
  height: auto;
  left: 353px;
  letter-spacing: 0.10px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 106px;
  white-space: nowrap;
  width: auto;
}

.crypto-wallet .top-navigation-XPwy4i {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.crypto-wallet .rectangle-uVmVxh {
  background-color: var(--vulcan);
  box-shadow: 0px 1px 4px #15223214;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .top-navigation-search-uVmVxh {
  background-color: transparent;
  height: 24px;
  left: calc(19.34% - 17px);
  position: absolute;
  top: calc(50.00% - 12px);
  width: 90px;
}

.crypto-wallet .x00-general-01-icons-6095mS {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.crypto-wallet .color-JVkx41 {
  background-color: transparent;
  height: calc(100.00% - 7px);
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 17px;
}

.crypto-wallet .search-6095mS {
  background-color: transparent;
  height: calc(100.00% - 2px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 60px;
}

.crypto-wallet .user-group-uVmVxh {
  background-color: transparent;
  height: 36px;
  position: absolute;
  right: 40px;
  top: calc(43.75% - 16px);
  width: 117px;
}

.crypto-wallet .users-avatar-photo-2-states-oHua8y {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}

.crypto-wallet .oval-aAxULw {
  background-color: transparent;
  border-radius: 18px;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .image-aAxULw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .monica-simons-oHua8y {
  background-color: transparent;
  bottom: calc(46.43% - 10px);
  height: 22px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(35.14% - 15px);
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.crypto-wallet .icons-chevron-down-oHua8y {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 0px;
  top: 5px;
  width: 24px;
}

.crypto-wallet .trac-399-cgW96H {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .trac-400-cgW96H {
  background-color: transparent;
  height: 8px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: calc(48.67% - 4px);
  width: calc(100.00% - 9px);
}

.crypto-wallet .groupe-2-uVmVxh {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 21px;
  left: 40px;
  position: absolute;
  width: 113px;
}

.crypto-wallet .groupe-1-F8xYbs {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .buttons-btn-text-icon-XPwy4i {
  background-color: transparent;
  height: 32px;
  left: 1298px;
  position: absolute;
  top: 124px;
  width: 240px;
}

.crypto-wallet .type-uamGX9 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .groupe-393-uamGX9 {
  background-color: transparent;
  height: 20px;
  left: 12px;
  position: absolute;
  top: calc(50.00% - 10px);
  width: calc(100.00% - 24px);
}

.crypto-wallet .text-b1CwRw {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 15.00%;
  white-space: nowrap;
  width: 218px;
}

.crypto-wallet .message-XPwy4i {
  background-color: transparent;
  height: 568px;
  left: 310px;
  position: absolute;
  top: 530px;
  width: 1259px;
}

.crypto-wallet .rectangle-632-cfYizJ {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 18px);
  left: 0px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.crypto-wallet .titre-cfYizJ {
  background-color: transparent;
  height: 36px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 256px;
}

.crypto-wallet .rectangle-633-d6xsDF {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .analytics-d6xsDF {
  background-color: transparent;
  height: 22px;
  left: 37.50%;
  letter-spacing: 0.06px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 25.78%;
}

.crypto-wallet .editeur-cfYizJ {
  background-color: transparent;
  bottom: 26px;
  height: 402px;
  left: 39px;
  position: absolute;
  width: 917px;
}

.crypto-wallet .rectangle-16882-rRxnxa {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .notes-details-text-editor-rRxnxa {
  background-color: transparent;
  height: 9.70%;
  left: 1.09%;
  object-fit: cover;
  position: absolute;
  top: 0.75%;
  width: 65.98%;
}

.crypto-wallet .paragraphe-cfYizJ {
  background-color: transparent;
  height: 14px;
  left: 39px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(20.94% - 3px);
  width: 244px;
}

.crypto-wallet .id-fixe-cfYizJ {
  background-color: transparent;
  height: 40px;
  left: 39px;
  position: absolute;
  top: 56px;
  width: 268px;
}

.crypto-wallet .ligne-6-jxSLtk {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.crypto-wallet .x22032022-jxSLtk {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 34px);
}

.crypto-wallet .choisir-une-date-jxSLtk {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.crypto-wallet .calendar-event-jxSLtk {
  background-color: transparent;
  bottom: calc(28.20% - 4px);
  height: 16px;
  left: 246px;
  object-fit: cover;
  position: absolute;
  width: 16px;
}

.crypto-wallet .crypto-XPwy4i {
  background-color: transparent;
  height: 301px;
  left: 310px;
  position: absolute;
  top: 195px;
  width: 1259px;
}

.crypto-wallet .rectangle-632-wQ9yt9 {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: calc(100.00% - 18px);
  left: 0px;
  position: absolute;
  top: 18px;
  width: 100%;
}

.crypto-wallet .titre-wQ9yt9 {
  background-color: transparent;
  height: 36px;
  left: 39px;
  position: absolute;
  top: 0px;
  width: 182px;
}

.crypto-wallet .rectangle-633-AfVSxZ {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .analytics-AfVSxZ {
  background-color: transparent;
  height: 22px;
  left: 36.26%;
  letter-spacing: 0.06px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 28.57%;
}

.crypto-wallet .filtre-wQ9yt9 {
  background-color: transparent;
  height: 37px;
  left: 39px;
  position: absolute;
  top: calc(23.48% - 9px);
  width: 159px;
}

.crypto-wallet .rectangle-625-9dQQEU {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .name-9dQQEU {
  background-color: transparent;
  bottom: calc(32.50% - 6px);
  height: 17px;
  left: calc(24.82% - 20px);
  letter-spacing: 0.07px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 82px;
}

.crypto-wallet .font-awsome-chevron-down-9dQQEU {
  background-color: transparent;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: 16px;
  top: calc(50.00% - 2px);
  width: 8px;
}

.crypto-wallet .crypto-select-wQ9yt9 {
  background-color: transparent;
  height: 40px;
  left: calc(20.97% - 39px);
  position: absolute;
  top: calc(23.71% - 9px);
  width: 186px;
}

.crypto-wallet .ligne-6-BBc1qW {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.crypto-wallet .bitcoin-BBc1qW {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 152px;
}

.crypto-wallet .crypto-slectionn-BBc1qW {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.crypto-wallet .layer_x0020_1-BBc1qW {
  background-color: transparent;
  bottom: 4px;
  height: 20px;
  position: absolute;
  right: 6px;
  width: 20px;
}

.crypto-wallet .x1421344023328-2R7R9Y {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.crypto-wallet .trac-992-BLXlPL {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.crypto-wallet .trac-993-BLXlPL {
  background-color: transparent;
  height: calc(100.00% - 7px);
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 11px);
}

.crypto-wallet .devise-wQ9yt9 {
  background-color: transparent;
  height: 40px;
  left: calc(40.17% - 75px);
  position: absolute;
  top: calc(23.71% - 9px);
  width: 186px;
}

.crypto-wallet .ligne-6-bFFpns {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.crypto-wallet .x47-70505-bFFpns {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 152px;
}

.crypto-wallet .devise-bFFpns {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.crypto-wallet .pourcentage-wallet-wQ9yt9 {
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: calc(39.98% - 74px);
  top: calc(23.71% - 9px);
  width: 186px;
}

.crypto-wallet .ligne-6-ivfWSB {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.crypto-wallet .x50-ivfWSB {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 152px;
}

.crypto-wallet .pourcentage-wallet-ivfWSB {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 24px);
}

.crypto-wallet .groupe-1491-wQ9yt9 {
  background-color: transparent;
  height: 81px;
  left: 39px;
  position: absolute;
  top: calc(32.73% - 27px);
  width: calc(100.00% - 97px);
}

.crypto-wallet .buttons-btn-text-icon-sZkOjV {
  background-color: transparent;
  bottom: 0px;
  height: 29px;
  left: 0px;
  position: absolute;
  width: 136px;
}

.crypto-wallet .type-9S2YEd {
  background-color: var(--web-orange);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .groupe-393-9S2YEd {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: calc(50.00% - 8px);
  width: calc(100.00% - 24px);
}

.crypto-wallet .text-nKAnGa {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.09px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 14.71%;
  white-space: nowrap;
  width: 114px;
}

.crypto-wallet .bouton-pour-supprimer-sZkOjV {
  background-color: transparent;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
}

.crypto-wallet .ellipse-12-fReqeI {
  background-color: var(--torch-red);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .font-awsome-times-fReqeI {
  background-color: transparent;
  height: 8px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 4px);
  top: calc(50.00% - 4px);
  width: 8px;
}

.crypto-wallet .sidebar-XPwy4i {
  background-color: transparent;
  height: 1073px;
  left: 0px;
  position: absolute;
  top: 68px;
  width: 250px;
}

.crypto-wallet .shape-QYvkMr {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .settings-QYvkMr {
  background-color: transparent;
  bottom: calc(47.11% - 24px);
  height: 52px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-aDKPTl {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(37.65% - 23px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 60px;
}

.crypto-wallet .icons-navigation-icon-12-states-aDKPTl {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.crypto-wallet .ic_setting-UdoJFi {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .broker-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(37.61% - 20px);
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-XVPzGo {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(34.97% - 16px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 47px;
}

.crypto-wallet .font-awsome-handshake-XVPzGo {
  background-color: transparent;
  bottom: 20px;
  height: 13px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  width: 21px;
}

.crypto-wallet .crypto-wallet-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(32.52% - 17px);
  width: calc(100.00% - 20px);
}

.crypto-wallet .frame-fwcnHD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .line-fwcnHD {
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.crypto-wallet .name-fwcnHD {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(49.23% - 49px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100px;
}

.crypto-wallet .font-awsome-bitcoin-fwcnHD {
  background-color: transparent;
  bottom: calc(50.00% - 9px);
  height: 18px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  width: 18px;
}

.crypto-wallet .trading-crypto-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(22.33% - 12px);
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-xAjDBO {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  right: calc(39.62% - 49px);
  text-align: left;
  white-space: nowrap;
  width: 124px;
}

.crypto-wallet .font-awsome-pen-xAjDBO {
  background-color: transparent;
  height: 19px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 19px;
}

.crypto-wallet .thmes-articles-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 124px;
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-FSKcEv {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  right: calc(44.35% - 51px);
  text-align: left;
  white-space: nowrap;
  width: 115px;
}

.crypto-wallet .icons-navigation-icon-12-states-FSKcEv {
  background-color: transparent;
  height: 22px;
  left: 24px;
  position: absolute;
  top: calc(50.00% - 11px);
  width: 16px;
}

.crypto-wallet .font-awsome-bookmark-7im4hX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .customers-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-l6jDgd {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(43.24% - 35px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 82px;
}

.crypto-wallet .icons-navigation-icon-12-states-l6jDgd {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.crypto-wallet .ic_users-yN4nvJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .home-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-p11Yys {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(34.41% - 15px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 44px;
}

.crypto-wallet .icons-navigation-icon-12-states-p11Yys {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.crypto-wallet .ic_home-mVUpEJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .articles-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(17.24% - 9px);
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-X6hnzh {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(36.57% - 20px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.crypto-wallet .icons-navigation-icon-12-states-X6hnzh {
  background-color: transparent;
  height: 24px;
  left: 20px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.crypto-wallet .ic_invoice-68fxae {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.crypto-wallet .icon-ionic-ios-arrow-down-X6hnzh {
  background-color: transparent;
  bottom: calc(50.00% - 3px);
  height: 7px;
  left: 191px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}

.crypto-wallet .bot-trading-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(27.42% - 14px);
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-19zk5H {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(43.84% - 37px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 84px;
}

.crypto-wallet .font-awsome-robot-19zk5H {
  background-color: transparent;
  height: 17px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 21px;
}

.crypto-wallet .pays-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(42.70% - 22px);
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-Tk57xa {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(32.99% - 12px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.crypto-wallet .font-awsome-globe-europe-Tk57xa {
  background-color: transparent;
  bottom: calc(50.00% - 9px);
  height: 18px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  width: 18px;
}

.crypto-wallet .abonnement-QYvkMr {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: calc(47.80% - 25px);
  width: calc(100.00% - 20px);
}

.crypto-wallet .name-sI4a7I {
  background-color: transparent;
  bottom: calc(36.67% - 8px);
  height: 22px;
  left: calc(47.41% - 45px);
  letter-spacing: 0.10px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 95px;
}

.crypto-wallet .icon-material-payment-sI4a7I {
  background-color: transparent;
  height: 15px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 19px;
}

.crypto-wallet .icon-ionic-ios-arrow-down-sI4a7I {
  background-color: transparent;
  bottom: calc(50.00% - 3px);
  height: 7px;
  left: 196px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}
