/* screen - themes-articles-creation */

.themes-articles-creation {
    background-color: var(--zircon);
    height: 901px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1600px;
}

.themes-articles-creation .analytics-Il3F4v {
    background-color: transparent;
    height: auto;
    left: 301px;
    letter-spacing: 0.10px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 110px;
    white-space: nowrap;
    width: auto;
}

/*.themes-articles-creation .top-navigation-Il3F4v {*/
/*  background-color: transparent;*/
/*  height: 68px;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 1600px;*/
/*}*/

/*.themes-articles-creation .rectangle-QzLFXY {*/
/*  background-color: var(--vulcan);*/
/*  box-shadow: 0px 1px 4px #15223214;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.themes-articles-creation .top-navigation-search-QzLFXY {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  left: calc(19.34% - 17px);*/
/*  position: absolute;*/
/*  top: calc(50.00% - 12px);*/
/*  width: 90px;*/
/*}*/

/*.themes-articles-creation .x00-general-01-icons-tjZhJa {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 24px;*/
/*}*/

/*.themes-articles-creation .color-bzFk4j {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 7px);*/
/*  left: 3px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 3px;*/
/*  width: 17px;*/
/*}*/

/*.themes-articles-creation .search-tjZhJa {*/
/*  background-color: transparent;*/
/*  height: calc(100.00% - 2px);*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: -2px;*/
/*  text-align: left;*/
/*  top: 3px;*/
/*  white-space: nowrap;*/
/*  width: 60px;*/
/*}*/

/*.themes-articles-creation .user-group-QzLFXY {*/
/*  background-color: transparent;*/
/*  height: 36px;*/
/*  position: absolute;*/
/*  right: 40px;*/
/*  top: calc(43.75% - 16px);*/
/*  width: 117px;*/
/*}*/

/*.themes-articles-creation .users-avatar-photo-2-states-y1cAXI {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 36px;*/
/*}*/

/*.themes-articles-creation .oval-AHTNl5 {*/
/*  background-color: transparent;*/
/*  border-radius: 18px;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.themes-articles-creation .image-AHTNl5 {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.themes-articles-creation .monica-simons-y1cAXI {*/
/*  background-color: transparent;*/
/*  bottom: calc(46.43% - 10px);*/
/*  height: 22px;*/
/*  letter-spacing: 0.00px;*/
/*  line-height: 20px;*/
/*  position: absolute;*/
/*  right: calc(35.14% - 15px);*/
/*  text-align: left;*/
/*  white-space: nowrap;*/
/*  width: 43px;*/
/*}*/

/*.themes-articles-creation .icons-chevron-down-y1cAXI {*/
/*  background-color: transparent;*/
/*  height: 24px;*/
/*  position: absolute;*/
/*  right: 0px;*/
/*  top: 5px;*/
/*  width: 24px;*/
/*}*/

/*.themes-articles-creation .trac-399-gPClhP {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 0px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  width: 100%;*/
/*}*/

/*.themes-articles-creation .trac-400-gPClhP {*/
/*  background-color: transparent;*/
/*  height: 8px;*/
/*  left: 5px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: calc(48.67% - 4px);*/
/*  width: calc(100.00% - 9px);*/
/*}*/

/*.themes-articles-creation .groupe-2-QzLFXY {*/
/*  background-color: transparent;*/
/*  bottom: calc(50.00% - 10px);*/
/*  height: 21px;*/
/*  left: 40px;*/
/*  position: absolute;*/
/*  width: 113px;*/
/*}*/

/*.themes-articles-creation .groupe-1-gnY0U0 {*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  left: 1px;*/
/*  object-fit: cover;*/
/*  position: absolute;*/
/*  top: 1px;*/
/*  width: 100%;*/
/*}*/

.themes-articles-creation .action-Il3F4v {
    background-color: transparent;
    height: 32px;
    left: 1200px;
    position: absolute;
    top: 145px;
    width: 360px;
}

.themes-articles-creation .buttons-btn-text-icon-rE5bZf {
    background-color: transparent;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 240px;
}

.themes-articles-creation .type-c7GycY {
    background-color: var(--caribbean-green);
    border-radius: 4px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .groupe-393-c7GycY {
    background-color: transparent;
    height: 20px;
    left: 12px;
    position: absolute;
    top: calc(50.00% - 10px);
    width: calc(100.00% - 24px);
}

.themes-articles-creation .text-5Wq7iK {
    background-color: transparent;
    height: 22px;
    left: 0px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 15.00%;
    white-space: nowrap;
    width: 218px;
}

.themes-articles-creation .buttons-btn-text-icon-Z5Ol2n {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 98px;
}

.themes-articles-creation .type-oEGWYj {
    background-color: var(--torch-red);
    border-radius: 4px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .groupe-393-oEGWYj {
    background-color: transparent;
    height: 20px;
    left: 12px;
    position: absolute;
    top: calc(50.00% - 10px);
    width: calc(100.00% - 24px);
}

.themes-articles-creation .text-CpqAkd {
    background-color: transparent;
    height: 22px;
    left: 0px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    top: 15.00%;
    white-space: nowrap;
    width: 76px;
}

.themes-articles-creation .thme-Il3F4v {
    background-color: transparent;
    height: 301px;
    left: 301px;
    position: absolute;
    top: 217px;
    width: 1259px;
}

.themes-articles-creation .rectangle-632-ixrrXq {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: calc(100.00% - 18px);
    left: 0px;
    position: absolute;
    top: 18px;
    width: 100%;
}

.themes-articles-creation .titre-ixrrXq {
    background-color: transparent;
    height: 36px;
    left: 39px;
    position: absolute;
    top: 0px;
    width: 182px;
}

.themes-articles-creation .rectangle-633-wPQ57W {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .analytics-wPQ57W {
    background-color: transparent;
    height: 22px;
    left: 36.26%;
    letter-spacing: 0.06px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 28.57%;
}

.themes-articles-creation .nom-thme-ixrrXq {
    background-color: transparent;
    height: 40px;
    left: 19px;
    position: absolute;
    top: calc(20.27% - 8px);
    width: 268px;
}

.themes-articles-creation .ligne-6-Yrhize {
    background-color: transparent;
    bottom: 0px;
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.themes-articles-creation .cryptomonnaies-Yrhize {
    background-color: transparent;
    bottom: 4px;
    height: 19px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 34px);
}

.themes-articles-creation .nom-du-thme-Yrhize {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 24px);
}

.themes-articles-creation .select-abonnement-ixrrXq {
    background-color: transparent;
    height: 55px;
    left: calc(31.37% - 76px);
    position: absolute;
    top: calc(21.54% - 12px);
    width: 242px;
}

.themes-articles-creation .slectionner-types-dabonnements-DGlRDV {
    background-color: transparent;
    height: 14px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% + 2px);
}

.themes-articles-creation .filtre-DGlRDV {
    background-color: transparent;
    bottom: 0px;
    height: 37px;
    left: 3px;
    position: absolute;
    width: 159px;
}

.themes-articles-creation .rectangle-625-qrwmPU {
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .name-qrwmPU {
    background-color: transparent;
    bottom: calc(32.50% - 6px);
    height: 17px;
    left: calc(19.23% - 18px);
    letter-spacing: 0.07px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 96px;
}

.themes-articles-creation .font-awsome-chevron-down-qrwmPU {
    background-color: transparent;
    height: 5px;
    object-fit: cover;
    position: absolute;
    right: 34px;
    top: calc(50.00% - 2px);
    width: 8px;
}

.themes-articles-creation .icon-ixrrXq {
    background-color: transparent;
    bottom: 33px;
    height: 141px;
    left: 19px;
    position: absolute;
    width: 283px;
}

.themes-articles-creation .icon-i9f7qC {
    background-color: transparent;
    height: 14px;
    left: 1px;
    letter-spacing: 0.00px;
    line-height: 10px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100.00% - 39px);
}

.themes-articles-creation .image-1-i9f7qC {
    background-color: transparent;
    height: calc(100.00% - 3px);
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 178px;
}

.themes-articles-creation .buttons-btn-text-icon-i9f7qC {
    background-color: transparent;
    bottom: calc(40.27% - 12px);
    height: 29px;
    position: absolute;
    right: 0px;
    width: 90px;
}

.themes-articles-creation .type-hHwiKe {
    background-color: var(--banana);
    border-radius: 4px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .groupe-393-hHwiKe {
    background-color: transparent;
    height: 17px;
    left: 12px;
    position: absolute;
    top: calc(50.00% - 8px);
    width: calc(100.00% - 24px);
}

.themes-articles-creation .text-pvbXt2 {
    background-color: transparent;
    height: 19px;
    left: 0px;
    letter-spacing: 0.09px;
    line-height: 12px;
    position: absolute;
    text-align: left;
    top: 14.71%;
    white-space: nowrap;
    width: 68px;
}

.themes-articles-creation .sidebar-Il3F4v {
    background-color: transparent;
    height: 828px;
    left: 0px;
    position: absolute;
    top: 68px;
    width: 250px;
}

.themes-articles-creation .shape-3jcQe4 {
    background-color: var(--white);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .settings-3jcQe4 {
    background-color: transparent;
    bottom: calc(30.41% - 16px);
    height: 52px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-gRpYBW {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(37.65% - 23px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 60px;
}

.themes-articles-creation .icons-navigation-icon-12-states-gRpYBW {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.themes-articles-creation .ic_setting-Ps8k41 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .broker-3jcQe4 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(49.48% - 26px);
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-26boVW {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.97% - 16px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 47px;
}

.themes-articles-creation .font-awsome-handshake-26boVW {
    background-color: transparent;
    bottom: 20px;
    height: 13px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    width: 21px;
}

.themes-articles-creation .crypto-wallet-3jcQe4 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(42.78% - 22px);
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-crRzi7 {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(49.23% - 49px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 100px;
}

.themes-articles-creation .font-awsome-bitcoin-crRzi7 {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: calc(50.00% - 10px);
    width: 19px;
}

.themes-articles-creation .trading-crypto-3jcQe4 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(29.38% - 15px);
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-aIYmQT {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(39.62% - 49px);
    text-align: left;
    white-space: nowrap;
    width: 124px;
}

.themes-articles-creation .font-awsome-pen-aIYmQT {
    background-color: transparent;
    height: 19px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 19px;
}

.themes-articles-creation .thmes-articles-3jcQe4 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 124px;
    width: calc(100.00% - 20px);
}

.themes-articles-creation .frame-B18PVW {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .line-B18PVW {
    background-color: var(--blue-ribbon);
    border-radius: 10px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
}

.themes-articles-creation .name-B18PVW {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    right: calc(44.35% - 51px);
    text-align: left;
    white-space: nowrap;
    width: 115px;
}

.themes-articles-creation .icons-navigation-icon-12-states-B18PVW {
    background-color: transparent;
    height: 22px;
    left: 24px;
    position: absolute;
    top: calc(50.00% - 11px);
    width: 16px;
}

.themes-articles-creation .font-awsome-bookmark-ewqx21 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .customers-3jcQe4 {
    background-color: transparent;
    cursor: pointer;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 72px;
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-PgNit6 {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.24% - 35px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 82px;
}

.themes-articles-creation .icons-navigation-icon-12-states-PgNit6 {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.themes-articles-creation .ic_users-7PyJLS {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .home-3jcQe4 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 20px;
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-DRMXui {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(34.41% - 15px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 44px;
}

.themes-articles-creation .icons-navigation-icon-12-states-DRMXui {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.themes-articles-creation .ic_home-13hVxU {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .articles-3jcQe4 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(22.68% - 12px);
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-uqwqra {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(36.57% - 20px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 55px;
}

.themes-articles-creation .icons-navigation-icon-12-states-uqwqra {
    background-color: transparent;
    height: 24px;
    left: 20px;
    position: absolute;
    top: calc(50.00% - 12px);
    width: 24px;
}

.themes-articles-creation .ic_invoice-Zdp4x2 {
    background-color: transparent;
    height: 100%;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
}

.themes-articles-creation .icon-ionic-ios-arrow-down-uqwqra {
    background-color: transparent;
    bottom: calc(50.00% - 3px);
    height: 7px;
    left: 191px;
    object-fit: cover;
    position: absolute;
    width: 12px;
}

.themes-articles-creation .bot-trading-3jcQe4 {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: calc(36.08% - 19px);
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-Eq4EsX {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(43.84% - 37px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 84px;
}

.themes-articles-creation .font-awsome-robot-Eq4EsX {
    background-color: transparent;
    height: 17px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 21px;
}

.themes-articles-creation .pays-3jcQe4 {
    background-color: transparent;
    bottom: calc(43.81% - 23px);
    height: 52px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-Ig3O8I {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(32.99% - 12px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 36px;
}

.themes-articles-creation .font-awsome-globe-europe-Ig3O8I {
    background-color: transparent;
    bottom: calc(50.00% - 9px);
    height: 18px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    width: 18px;
}

.themes-articles-creation .abonnement-3jcQe4 {
    background-color: transparent;
    bottom: calc(37.11% - 19px);
    height: 52px;
    left: 0px;
    position: absolute;
    width: calc(100.00% - 20px);
}

.themes-articles-creation .name-JJJaXf {
    background-color: transparent;
    bottom: calc(36.67% - 8px);
    height: 22px;
    left: calc(47.41% - 45px);
    letter-spacing: 0.10px;
    line-height: 14px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: 95px;
}

.themes-articles-creation .icon-material-payment-JJJaXf {
    background-color: transparent;
    height: 15px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 19px;
}

.themes-articles-creation .icon-ionic-ios-arrow-down-JJJaXf {
    background-color: transparent;
    bottom: calc(50.00% - 3px);
    height: 7px;
    left: 196px;
    object-fit: cover;
    position: absolute;
    width: 12px;
}
