/* screen - articles-details-entreprise */

.articles-details-entreprise {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2610px;
  min-width: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.articles-details-entreprise .background-pYC6Z9 {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  height: calc(100.00% - 264px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .photography-pYC6Z9 {
  background-color: transparent;
  height: 336px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 100%;
}

.articles-details-entreprise .groupe-de-masques-326-hN4iYT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .rectangle-3501-hN4iYT {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .articles-pYC6Z9 {
  background-color: transparent;
  height: 1314px;
  left: calc(50.00% - 474px);
  position: absolute;
  top: calc(35.11% - 461px);
  width: 948px;
}

.articles-details-entreprise .background-oPk1gG {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .thmatique-oPk1gG {
  background-color: transparent;
  height: 21px;
  left: calc(22.35% - 20px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 36px;
  width: 91px;
}

.articles-details-entreprise .date-oPk1gG {
  background-color: transparent;
  height: 19px;
  left: calc(22.89% - 24px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 58px;
  width: 105px;
}

.articles-details-entreprise .titre-oPk1gG {
  background-color: transparent;
  height: 29px;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 106px;
  width: 151px;
}

.articles-details-entreprise .paragraphe-oPk1gG {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 25px;
  left: 128px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 118px;
}

.articles-details-entreprise .span0-FI3kU6 {
}

.articles-details-entreprise .span1-FI3kU6 {
}

.articles-details-entreprise .paragraphe-vHUlXR {
  background-color: transparent;
  bottom: 62px;
  height: 123px;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 215px);
}

.articles-details-entreprise .span0-La1jqd {
}

.articles-details-entreprise .span1-La1jqd {
}

.articles-details-entreprise .span2-La1jqd {
  text-decoration: underline;
}

.articles-details-entreprise .paragraphe-mL2Mzq {
  background-color: transparent;
  bottom: 214px;
  height: 19px;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 215px);
}

.articles-details-entreprise .logo-thmatique-oPk1gG {
  background-color: transparent;
  height: 40px;
  left: 108px;
  position: absolute;
  top: 35px;
  width: 40px;
}

.articles-details-entreprise .groupe-1501-scRhdd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .paragraphe-b5nvOG {
  background-color: transparent;
  height: 73px;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 176px;
  width: calc(100.00% - 237px);
}

.articles-details-entreprise .span0-U5r6KB {
}

.articles-details-entreprise .span1-U5r6KB {
}

.articles-details-entreprise .ellipse-17690-oPk1gG {
  background-color: var(--milano-red-2);
  border-radius: 4.5px;
  height: 9px;
  left: 108px;
  position: absolute;
  top: 146px;
  width: 9px;
}

.articles-details-entreprise .paragraphe-xQ45ko {
  background-color: transparent;
  height: 43px;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(31.16% - 13px);
  width: 368px;
}

.articles-details-entreprise .span0-YxJOMq {
}

.articles-details-entreprise .span1-YxJOMq {
}

.articles-details-entreprise .paragraphe-X6msZf {
  background-color: transparent;
  height: 64px;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(21.52% - 14px);
  width: 326px;
}

.articles-details-entreprise .span0-Fql9dM {
}

.articles-details-entreprise .span1-Fql9dM {
}

.articles-details-entreprise .paragraphe-3jXMD4 {
  background-color: transparent;
  height: 106px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: 106px;
  text-align: left;
  top: calc(22.27% - 24px);
  width: 326px;
}

.articles-details-entreprise .span0-x5Jokp {
}

.articles-details-entreprise .span1-x5Jokp {
}

.articles-details-entreprise .paragraphe-dZuxh8 {
  background-color: transparent;
  height: 47px;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(36.19% - 17px);
  width: 346px;
}

.articles-details-entreprise .span0-PsuDbo {
}

.articles-details-entreprise .span1-PsuDbo {
}

.articles-details-entreprise .paragraphe-Rhdrvx {
  background-color: transparent;
  height: 47px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: 87px;
  text-align: left;
  top: calc(36.19% - 17px);
  width: 346px;
}

.articles-details-entreprise .span0-BQTFKX {
}

.articles-details-entreprise .span1-BQTFKX {
}

.articles-details-entreprise .paragraphe-hmxhJx {
  background-color: transparent;
  height: 47px;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(41.44% - 19px);
  width: 346px;
}

.articles-details-entreprise .span0-OJyrkC {
}

.articles-details-entreprise .span1-OJyrkC {
}

.articles-details-entreprise .paragraphe-zKVajr {
  background-color: transparent;
  height: 47px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: 128px;
  text-align: left;
  top: calc(31.25% - 15px);
  width: 304px;
}

.articles-details-entreprise .span0-yzk5Xo {
}

.articles-details-entreprise .span1-yzk5Xo {
}

.articles-details-entreprise .image-883-oPk1gG {
  background-color: transparent;
  bottom: calc(28.59% - 129px);
  height: 450px;
  left: 174px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 348px);
}

.articles-details-entreprise .articles-suggrs-pYC6Z9 {
  background-color: transparent;
  bottom: calc(24.56% - 52px);
  height: 212px;
  left: calc(50.00% - 474px);
  position: absolute;
  width: 948px;
}

.articles-details-entreprise .article-9VcorZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 300px;
}

.articles-details-entreprise .groupe-de-masques-321-ODgvb0 {
  background-color: transparent;
  height: calc(100.00% - 61px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .club-premium-ODgvb0 {
  background-color: transparent;
  bottom: calc(15.54% - 3px);
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 46px;
}

.articles-details-entreprise .ligne-12-ODgvb0 {
  background-color: transparent;
  bottom: 32px;
  height: 17px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.articles-details-entreprise .club-premium-b9RU8U {
  background-color: transparent;
  bottom: calc(15.54% - 3px);
  height: 19px;
  left: calc(28.00% - 28px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.articles-details-entreprise .club-premium-SskDad {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-details-entreprise .rectangle-3498-ODgvb0 {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 61px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.articles-details-entreprise .article-G8XiCr {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 150px);
  position: absolute;
  top: 0px;
  width: 300px;
}

.articles-details-entreprise .groupe-de-masques-322-Bwewb5 {
  background-color: transparent;
  height: calc(100.00% - 61px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .club-premium-Bwewb5 {
  background-color: transparent;
  bottom: calc(15.54% - 3px);
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 46px;
}

.articles-details-entreprise .ligne-13-Bwewb5 {
  background-color: transparent;
  bottom: 32px;
  height: 17px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.articles-details-entreprise .club-premium-h2BJkl {
  background-color: transparent;
  bottom: calc(15.54% - 3px);
  height: 19px;
  left: calc(28.00% - 28px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.articles-details-entreprise .club-premium-XPKVWG {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-details-entreprise .rectangle-3500-Bwewb5 {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 61px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.articles-details-entreprise .article-wM8vZQ {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
}

.articles-details-entreprise .groupe-de-masques-323-7VMJx4 {
  background-color: transparent;
  height: calc(100.00% - 61px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .club-premium-7VMJx4 {
  background-color: transparent;
  bottom: calc(15.54% - 3px);
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 46px;
}

.articles-details-entreprise .ligne-14-7VMJx4 {
  background-color: transparent;
  bottom: 32px;
  height: 17px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.articles-details-entreprise .club-premium-FPYQ25 {
  background-color: transparent;
  bottom: calc(15.54% - 3px);
  height: 19px;
  left: calc(28.00% - 28px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.articles-details-entreprise .club-premium-0vdrJU {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-details-entreprise .rectangle-3501-7VMJx4 {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 61px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.articles-details-entreprise .footer-pYC6Z9 {
  background-color: transparent;
  bottom: 1px;
  height: 210px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.articles-details-entreprise .background-xESAN9 {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .menu-footer-xESAN9 {
  background-color: transparent;
  height: 20px;
  position: absolute;
  right: 185px;
  top: calc(47.37% - 9px);
  width: 470px;
}

.articles-details-entreprise .mentions-lgales-A9zL2X {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 70px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 111px;
}

.articles-details-entreprise .cgu-A9zL2X {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: calc(45.12% - 13px);
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 29px;
}

.articles-details-entreprise .cgv-A9zL2X {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: calc(44.47% - 12px);
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 27px;
}

.articles-details-entreprise .politique-de-confidentialit-A9zL2X {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 181px;
}

.articles-details-entreprise .politique-de-confidentialit-p5bPj6 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: 0px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 181px;
}

.articles-details-entreprise .contact-A9zL2X {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 52px;
}

.articles-details-entreprise .x2022-6-fire-invest-xESAN9 {
  background-color: transparent;
  bottom: 18px;
  height: 23px;
  letter-spacing: 0.56px;
  line-height: 14px;
  opacity: 0.5;
  position: absolute;
  right: calc(49.88% - 74px);
  text-align: left;
  white-space: nowrap;
  width: 149px;
}

.articles-details-entreprise .logo-xESAN9 {
  background-color: transparent;
  height: 58px;
  left: 191px;
  position: absolute;
  top: calc(33.01% - 19px);
  width: 199px;
}

.articles-details-entreprise .groupe-2-xM1yEt {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 21px;
  position: absolute;
  right: 0px;
  width: 113px;
}

.articles-details-entreprise .groupe-1-812EKB {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .effect-xM1yEt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 86px;
}

.articles-details-entreprise .ligne-31-xESAN9 {
  background-color: transparent;
  bottom: 31.58%;
  height: 1px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 143px);
}

.articles-details-entreprise .groupe-3011-xESAN9 {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: 215px;
  top: calc(26.53% - 6px);
  width: 21px;
}

.articles-details-entreprise .icon-instagram-vxhDy3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.articles-details-entreprise .groupe-3010-xESAN9 {
  background-color: transparent;
  height: 18px;
  position: absolute;
  right: 185px;
  top: calc(26.87% - 5px);
  width: 16px;
}

.articles-details-entreprise .icon-simple-tiktok-OerTqJ {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.articles-details-entreprise .header-pYC6Z9 {
  background-color: transparent;
  height: 144px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .rectangle-3483-n2HFDc {
  background-color: var(--midnight-moss);
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .logo-n2HFDc {
  background-color: transparent;
  height: 59px;
  left: calc(50.00% - 44px);
  position: absolute;
  top: 17px;
  width: 88px;
}

.articles-details-entreprise .effect-AL4Lcx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .thme-sombre-n2HFDc {
  background-color: transparent;
  height: 14px;
  position: absolute;
  right: calc(18.74% - 9px);
  top: calc(30.33% - 4px);
  width: 48px;
}

.articles-details-entreprise .icon-ionic-ios-moon-s9EYwt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 14px;
}

.articles-details-entreprise .toogle-button-s9EYwt {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 25px;
}

.articles-details-entreprise .rectangle-3485-xwnxG8 {
  background-color: var(--quill-gray);
  border-radius: 30px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .ellipse-17688-xwnxG8 {
  background-color: var(--cape-cod);
  border-radius: 5px;
  height: calc(100.00% - 4px);
  position: absolute;
  right: 2px;
  top: 2px;
  width: 10px;
}

.articles-details-entreprise .espace-membre-n2HFDc {
  background-color: transparent;
  height: 17px;
  position: absolute;
  right: 50px;
  top: calc(29.92% - 5px);
  width: 145px;
}

.articles-details-entreprise .espace-membre-f0xP5E {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 83px;
}

.articles-details-entreprise .connexion-RPvWGa {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .club-premium-9X9LA6 {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: right;
  top: 0px;
  width: calc(100.00% + 2px);
}

.articles-details-entreprise .menu-2-f0xP5E {
  background-color: transparent;
  height: calc(100.00% - 8px);
  position: absolute;
  right: 0px;
  top: 4px;
  width: 27px;
}

.articles-details-entreprise .icon-ionic-ios-menu-xcqESx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .trac-1-5hYTkF {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .trac-2-5hYTkF {
  background-color: transparent;
  bottom: 0px;
  height: 2px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 3px);
}

.articles-details-entreprise .search-bar-f0xP5E {
  background-color: transparent;
  height: calc(100.00% - 3px);
  position: absolute;
  right: calc(28.66% - 4px);
  top: 1px;
  width: 14px;
}

.articles-details-entreprise .icon-search-mDO8rZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .menu-n2HFDc {
  background-color: transparent;
  bottom: 0px;
  height: 51px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.articles-details-entreprise .rectangle-3484-Lnx6ti {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .cryptommonnaies-Lnx6ti {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 19px;
  left: 198px;
  position: absolute;
  width: 136px;
}

.articles-details-entreprise .club-premium-bsdNxy {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 5.90%;
  width: 110px;
}

.articles-details-entreprise .icon-actif-bsdNxy {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.articles-details-entreprise .groupe-1490-UxdmIl {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.articles-details-entreprise .nft-Lnx6ti {
  background-color: transparent;
  height: 19px;
  left: calc(27.49% - 16px);
  position: absolute;
  top: calc(50.00% - 10px);
  width: 56px;
}

.articles-details-entreprise .trading-lxNxJI {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 5.26%;
  width: 31px;
}

.articles-details-entreprise .icon-lxNxJI {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.articles-details-entreprise .ellipse-17691-K3LjwD {
  background-color: var(--white);
  border-radius: 9.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .nft-K3LjwD {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: calc(100.00% - 9px);
}

.articles-details-entreprise .play-to-earn-Lnx6ti {
  background-color: transparent;
  height: 19px;
  left: calc(35.03% - 36px);
  position: absolute;
  top: calc(50.00% - 10px);
  width: 102px;
}

.articles-details-entreprise .trading-hxe8YI {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 5.26%;
  width: 76px;
}

.articles-details-entreprise .icon-hxe8YI {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.articles-details-entreprise .ellipse-17691-CtOo9a {
  background-color: var(--white);
  border-radius: 9.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .gamepad-CtOo9a {
  background-color: transparent;
  height: 7px;
  left: calc(50.00% - 5px);
  position: absolute;
  top: calc(50.00% - 3px);
  width: 11px;
}

.articles-details-entreprise .trac-1021-xZlR4W {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .immobiler-Lnx6ti {
  background-color: transparent;
  height: 19px;
  left: calc(44.91% - 42px);
  position: absolute;
  top: calc(50.00% - 10px);
  width: 94px;
}

.articles-details-entreprise .trading-68WRso {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 5.26%;
  width: 69px;
}

.articles-details-entreprise .icon-68WRso {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.articles-details-entreprise .ellipse-17691-H3Zfxb {
  background-color: var(--white);
  border-radius: 9.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .groupe-1502-H3Zfxb {
  background-color: transparent;
  height: 10px;
  left: calc(50.00% - 4px);
  position: absolute;
  top: calc(44.44% - 4px);
  width: 9px;
}

.articles-details-entreprise .groupe-1504-YfczOP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .e-commerce-Lnx6ti {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: calc(44.93% - 49px);
  top: calc(50.00% - 10px);
  width: 110px;
}

.articles-details-entreprise .trading-YtFWbi {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 4.54%;
  width: 84px;
}

.articles-details-entreprise .icon-YtFWbi {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.articles-details-entreprise .ellipse-17692-YQzl1x {
  background-color: var(--romance);
  border-radius: 9.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .website-YQzl1x {
  background-color: transparent;
  bottom: calc(50.00% - 4px);
  height: 8px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 8px);
}

.articles-details-entreprise .autres-thmes-Lnx6ti {
  background-color: transparent;
  bottom: calc(50.00% - 8px);
  height: 17px;
  position: absolute;
  right: calc(33.39% - 41px);
  width: 123px;
}

.articles-details-entreprise .autres-thmatiques-EYyKKh {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .trading-LLGuJJ {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}

.articles-details-entreprise .trading-Lnx6ti {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 174px;
  top: 0px;
  width: 131px;
}

.articles-details-entreprise .rectangle-3556-bHhxdm {
  background-color: var(--milano-red);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .trading-bHhxdm {
  background-color: transparent;
  bottom: calc(42.86% - 16px);
  height: 37px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 109px;
}

.articles-details-entreprise .bandeau-call-to-action-pYC6Z9 {
  background-color: transparent;
  bottom: 324px;
  height: 155px;
  left: calc(50.00% - 474px);
  position: absolute;
  width: 948px;
}

.articles-details-entreprise .groupe-de-masques-329-f6PEkN {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .club-premium-f6PEkN {
  background-color: transparent;
  height: 24px;
  left: calc(25.16% - 36px);
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 145px;
}

.articles-details-entreprise .club-premium-Kjbbz9 {
  background-color: transparent;
  height: 19px;
  left: calc(26.72% - 51px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(37.50% - 7px);
  width: 192px;
}

.articles-details-entreprise .club-premium-CtN09x {
  background-color: transparent;
  bottom: 19px;
  height: 19px;
  left: calc(29.78% - 50px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 169px;
}

.articles-details-entreprise .club-premium-IRGJLp {
  background-color: transparent;
  bottom: calc(30.15% - 6px);
  height: 19px;
  left: calc(29.02% - 53px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 183px;
}

.articles-details-entreprise .club-premium-XnCFjN {
  background-color: transparent;
  bottom: calc(46.32% - 9px);
  height: 19px;
  left: calc(27.93% - 53px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 189px;
}

.articles-details-entreprise .button-f6PEkN {
  background-color: transparent;
  height: 39px;
  position: absolute;
  right: calc(26.13% - 51px);
  top: calc(50.00% - 20px);
  width: 194px;
}

.articles-details-entreprise .rectangle-3572-r3N4xr {
  background-color: var(--red-berry);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .exclu-membre-confirm-r3N4xr {
  background-color: transparent;
  bottom: calc(45.00% - 9px);
  height: 19px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 62px);
}

.articles-details-entreprise .avertissement-pYC6Z9 {
  background-color: transparent;
  bottom: 211px;
  height: 53px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.articles-details-entreprise .groupe-3020-NTsxb4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .rectangle-3606-vfjYHn {
  background-color: var(--eerie-black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise .les-investissements-vfjYHn {
  background-color: transparent;
  height: 35px;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 10px;
  width: calc(100.00% - 268px);
}

.articles-details-entreprise .span0-Ol5mdp {
}

.articles-details-entreprise .span1-Ol5mdp {
}

.articles-details-entreprise .ligne-41-NTsxb4 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
/* screen - articles-details-entreprise-mobile */

.articles-details-entreprise-mobile {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3090px;
  min-width: 428px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.articles-details-entreprise-mobile .background-gHf5I6 {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  height: calc(100.00% - 317px);
  left: 0px;
  position: absolute;
  top: 4px;
  width: 100%;
}

.articles-details-entreprise-mobile .rectangle-3484-gHf5I6 {
  background-color: var(--black-3);
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .photography-gHf5I6 {
  background-color: transparent;
  height: 155px;
  left: -101px;
  position: absolute;
  top: 153px;
  width: calc(100.00% + 203px);
}

.articles-details-entreprise-mobile .groupe-de-masques-326-ngQ0AP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .rectangle-3501-ngQ0AP {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .toogle-button-gHf5I6 {
  background-color: transparent;
  height: 18px;
  left: 37px;
  position: absolute;
  top: 38px;
  width: 58px;
}

.articles-details-entreprise-mobile .icon-ionic-ios-moon-CQWJjF {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 17px;
}

.articles-details-entreprise-mobile .toogle-button-CQWJjF {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 32px;
}

.articles-details-entreprise-mobile .rectangle-3485-J5jY58 {
  background-color: var(--quill-gray);
  border-radius: 30px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .ellipse-17688-J5jY58 {
  background-color: var(--cape-cod);
  border-radius: 6.41px;
  height: calc(100.00% - 5px);
  position: absolute;
  right: 3px;
  top: 3px;
  width: 13px;
}

.articles-details-entreprise-mobile .avertissement-gHf5I6 {
  background-color: transparent;
  bottom: 203px;
  height: 110px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.articles-details-entreprise-mobile .groupe-3020-ZLVfWk {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .rectangle-3606-Bux5Fp {
  background-color: var(--eerie-black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .les-investissements-Bux5Fp {
  background-color: transparent;
  height: 79px;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 17px;
  width: calc(100.00% - 52px);
}

.articles-details-entreprise-mobile .span0-tDhXcl {
}

.articles-details-entreprise-mobile .span1-tDhXcl {
}

.articles-details-entreprise-mobile .ligne-41-ZLVfWk {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .footer-gHf5I6 {
  background-color: transparent;
  bottom: 0px;
  height: 203px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.articles-details-entreprise-mobile .background-3acehH {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .menu-footer-3acehH {
  background-color: transparent;
  bottom: calc(40.37% - 17px);
  height: 42px;
  left: calc(50.00% - 108px);
  position: absolute;
  width: 216px;
}

.articles-details-entreprise-mobile .mentions-lgales-gKXiNp {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: calc(40.97% - 45px);
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 111px;
}

.articles-details-entreprise-mobile .cgu-gKXiNp {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: 4px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 29px;
}

.articles-details-entreprise-mobile .cgv-gKXiNp {
  background-color: transparent;
  bottom: -3px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 27px;
}

.articles-details-entreprise-mobile .politique-de-confidentialit-gKXiNp {
  background-color: transparent;
  bottom: -5px;
  height: 22px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  white-space: nowrap;
  width: 181px;
}

.articles-details-entreprise-mobile .contact-gKXiNp {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 52px;
}

.articles-details-entreprise-mobile .x2022-6-fire-invest-3acehH {
  background-color: transparent;
  bottom: 18px;
  height: 23px;
  letter-spacing: 0.56px;
  line-height: 14px;
  opacity: 0.5;
  position: absolute;
  right: calc(49.46% - 74px);
  text-align: left;
  white-space: nowrap;
  width: 149px;
}

.articles-details-entreprise-mobile .logo-3acehH {
  background-color: transparent;
  height: 58px;
  left: 10px;
  position: absolute;
  top: 18px;
  width: 199px;
}

.articles-details-entreprise-mobile .groupe-2-HKX5L7 {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 21px;
  position: absolute;
  right: 0px;
  width: 113px;
}

.articles-details-entreprise-mobile .groupe-1-kRCzg0 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .effect-HKX5L7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 86px;
}

.articles-details-entreprise-mobile .ligne-31-3acehH {
  background-color: transparent;
  bottom: 26.73%;
  height: 1px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 76px);
}

.articles-details-entreprise-mobile .groupe-3011-3acehH {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(22.45% - 5px);
  top: calc(20.19% - 4px);
  width: 21px;
}

.articles-details-entreprise-mobile .icon-instagram-ysQR5T {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.articles-details-entreprise-mobile .groupe-3010-3acehH {
  background-color: transparent;
  height: 18px;
  position: absolute;
  right: 61px;
  top: calc(20.64% - 4px);
  width: 16px;
}

.articles-details-entreprise-mobile .icon-simple-tiktok-rItbZo {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.articles-details-entreprise-mobile .icon-paper_plane-3acehH {
  background-color: transparent;
  height: 18px;
  object-fit: cover;
  position: absolute;
  right: 25px;
  top: calc(20.64% - 4px);
  width: 21px;
}

.articles-details-entreprise-mobile .articles-gHf5I6 {
  background-color: transparent;
  height: 1252px;
  left: calc(50.00% - 204px);
  position: absolute;
  top: 267px;
  width: 408px;
}

.articles-details-entreprise-mobile .background-AKDF04 {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .thmatique-AKDF04 {
  background-color: transparent;
  height: 21px;
  left: calc(21.99% - 19px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 20px;
  width: 88px;
}

.articles-details-entreprise-mobile .date-AKDF04 {
  background-color: transparent;
  height: 19px;
  left: calc(23.61% - 26px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 41px;
  width: 110px;
}

.articles-details-entreprise-mobile .paragraphe-AKDF04 {
  background-color: transparent;
  bottom: 19px;
  height: 199px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 36px);
}

.articles-details-entreprise-mobile .span0-UWzAhS {
}

.articles-details-entreprise-mobile .span1-UWzAhS {
}

.articles-details-entreprise-mobile .span2-UWzAhS {
  text-decoration: underline;
}

.articles-details-entreprise-mobile .paragraphe-eeROcA {
  background-color: transparent;
  bottom: 239px;
  height: 19px;
  left: 69px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 137px);
}

.articles-details-entreprise-mobile .logo-thmatique-AKDF04 {
  background-color: transparent;
  height: 40px;
  left: 21px;
  position: absolute;
  top: 21px;
  width: 40px;
}

.articles-details-entreprise-mobile .groupe-1501-ijqWWZ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .titre-AKDF04 {
  background-color: transparent;
  height: 29px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 80px;
  width: 151px;
}

.articles-details-entreprise-mobile .paragraphe-489EdE {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 25px;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 113px;
  width: 118px;
}

.articles-details-entreprise-mobile .span0-SuedxV {
}

.articles-details-entreprise-mobile .span1-SuedxV {
}

.articles-details-entreprise-mobile .ellipse-17690-AKDF04 {
  background-color: var(--milano-red-2);
  border-radius: 4.5px;
  height: 9px;
  left: 21px;
  position: absolute;
  top: 121px;
  width: 9px;
}

.articles-details-entreprise-mobile .paragraphe-2Lx2dh {
  background-color: transparent;
  height: 124px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 148px;
  width: calc(100.00% - 36px);
}

.articles-details-entreprise-mobile .span0-xLNjzF {
}

.articles-details-entreprise-mobile .span1-xLNjzF {
}

.articles-details-entreprise-mobile .paragraphe-JZCPaR {
  background-color: transparent;
  height: 55px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(23.48% - 13px);
  width: calc(100.00% - 36px);
}

.articles-details-entreprise-mobile .span0-yPwbSj {
}

.articles-details-entreprise-mobile .span1-yPwbSj {
}

.articles-details-entreprise-mobile .paragraphe-DTNf7V {
  background-color: transparent;
  height: 106px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(30.07% - 32px);
  width: calc(100.00% - 36px);
}

.articles-details-entreprise-mobile .span0-ZETWV2 {
}

.articles-details-entreprise-mobile .span1-ZETWV2 {
}

.articles-details-entreprise-mobile .paragraphe-587B1K {
  background-color: transparent;
  height: 43px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(37.98% - 16px);
  width: calc(100.00% - 36px);
}

.articles-details-entreprise-mobile .span0-sMsr89 {
}

.articles-details-entreprise-mobile .span1-sMsr89 {
}

.articles-details-entreprise-mobile .paragraphe-oVnfah {
  background-color: transparent;
  height: 41px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(42.18% - 17px);
  width: calc(100.00% - 36px);
}

.articles-details-entreprise-mobile .span0-Bl32Rl {
}

.articles-details-entreprise-mobile .span1-Bl32Rl {
}

.articles-details-entreprise-mobile .paragraphe-VHyhrI {
  background-color: transparent;
  height: 37px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(46.12% - 17px);
  width: calc(100.00% - 36px);
}

.articles-details-entreprise-mobile .span0-dRP4ZZ {
}

.articles-details-entreprise-mobile .span1-dRP4ZZ {
}

.articles-details-entreprise-mobile .paragraphe-sw9lzh {
  background-color: transparent;
  height: 36px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(49.83% - 18px);
  width: calc(100.00% - 37px);
}

.articles-details-entreprise-mobile .span0-w2jIKU {
}

.articles-details-entreprise-mobile .span1-w2jIKU {
}

.articles-details-entreprise-mobile .paragraphe-moBgPi {
  background-color: transparent;
  bottom: calc(46.39% - 18px);
  height: 39px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 37px);
}

.articles-details-entreprise-mobile .span0-jpX4Go {
}

.articles-details-entreprise-mobile .span1-jpX4Go {
}

.articles-details-entreprise-mobile .image-883-AKDF04 {
  background-color: transparent;
  bottom: calc(27.48% - 75px);
  height: 273px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 43px);
}

.articles-details-entreprise-mobile .articles-suggrs-gHf5I6 {
  background-color: transparent;
  bottom: calc(30.13% - 260px);
  height: 863px;
  left: calc(50.00% - 197px);
  position: absolute;
  width: 394px;
}

.articles-details-entreprise-mobile .article-WWyidW {
  background-color: transparent;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 51px;
  width: 394px;
}

.articles-details-entreprise-mobile .groupe-de-masques-321-IQF6Pb {
  background-color: transparent;
  height: calc(100.00% - 51px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .club-premium-IQF6Pb {
  background-color: transparent;
  bottom: 24px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 50px;
}

.articles-details-entreprise-mobile .ligne-12-IQF6Pb {
  background-color: transparent;
  bottom: 26px;
  height: 15px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.articles-details-entreprise-mobile .club-premium-4aBjtX {
  background-color: transparent;
  bottom: 24px;
  height: 17px;
  left: calc(18.18% - 24px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 130px;
}

.articles-details-entreprise-mobile .club-premium-JBMz2x {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-details-entreprise-mobile .rectangle-3498-IQF6Pb {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 51px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 2px);
}

.articles-details-entreprise-mobile .article-bhbOKv {
  background-color: transparent;
  height: 254px;
  left: calc(50.00% - 197px);
  position: absolute;
  top: 328px;
  width: 394px;
}

.articles-details-entreprise-mobile .groupe-de-masques-322-sjFomq {
  background-color: transparent;
  height: calc(100.00% - 55px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.articles-details-entreprise-mobile .club-premium-sjFomq {
  background-color: transparent;
  bottom: 23px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 39px;
}

.articles-details-entreprise-mobile .ligne-13-sjFomq {
  background-color: transparent;
  bottom: 25px;
  height: 15px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.articles-details-entreprise-mobile .club-premium-Oz5hDb {
  background-color: transparent;
  bottom: 23px;
  height: 17px;
  left: calc(20.32% - 26px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 130px;
}

.articles-details-entreprise-mobile .club-premium-9h4AG1 {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-details-entreprise-mobile .rectangle-3500-sjFomq {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 55px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.articles-details-entreprise-mobile .article-0ilyF3 {
  background-color: transparent;
  height: 254px;
  position: absolute;
  right: 0px;
  top: 609px;
  width: 394px;
}

.articles-details-entreprise-mobile .groupe-de-masques-323-BIp9bm {
  background-color: transparent;
  height: calc(100.00% - 55px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.articles-details-entreprise-mobile .club-premium-BIp9bm {
  background-color: transparent;
  bottom: 23px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 40px;
}

.articles-details-entreprise-mobile .ligne-14-BIp9bm {
  background-color: transparent;
  bottom: 25px;
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.articles-details-entreprise-mobile .club-premium-6a9obM {
  background-color: transparent;
  bottom: 23px;
  height: 17px;
  left: calc(16.13% - 14px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 84px;
}

.articles-details-entreprise-mobile .club-premium-eZANFJ {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.articles-details-entreprise-mobile .rectangle-3501-BIp9bm {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 55px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.articles-details-entreprise-mobile .rectangle-3574-WWyidW {
  background-color: var(--milano-red);
  height: 3px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 41px;
}

.articles-details-entreprise-mobile .dans-la-mme-catgorie-WWyidW {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 281px;
}

.articles-details-entreprise-mobile .call-to-action-gHf5I6 {
  background-color: transparent;
  bottom: 383px;
  height: 251px;
  left: 37px;
  position: absolute;
  width: calc(100.00% - 74px);
}

.articles-details-entreprise-mobile .groupe-de-masques-328-6XqzRr {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .club-premium-6XqzRr {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(49.73% - 85px);
  text-align: center;
  top: calc(16.74% - 4px);
  width: 171px;
}

.articles-details-entreprise-mobile .club-premium-uQXx6t {
  background-color: transparent;
  height: 19px;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(37.07% - 7px);
  width: calc(100.00% - 127px);
}

.articles-details-entreprise-mobile .club-premium-LGM1xS {
  background-color: transparent;
  bottom: calc(37.07% - 7px);
  height: 19px;
  left: calc(42.21% - 84px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 200px;
}

.articles-details-entreprise-mobile .club-premium-2mCt9N {
  background-color: transparent;
  bottom: calc(45.69% - 9px);
  height: 19px;
  left: calc(47.10% - 102px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 216px;
}

.articles-details-entreprise-mobile .club-premium-pOAVKp {
  background-color: transparent;
  height: 19px;
  left: calc(50.00% - 112px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(45.26% - 9px);
  width: 224px;
}

.articles-details-entreprise-mobile .button-6XqzRr {
  background-color: transparent;
  bottom: 31px;
  height: 36px;
  position: absolute;
  right: calc(50.00% - 90px);
  width: 180px;
}

.articles-details-entreprise-mobile .rectangle-3572-czhUgN {
  background-color: var(--red-berry);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .exclu-membre-confirm-czhUgN {
  background-color: transparent;
  height: 19px;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: calc(47.06% - 9px);
  width: calc(100.00% - 73px);
}

.articles-details-entreprise-mobile .search-bar-gHf5I6 {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 37px;
  top: 35px;
  width: 22px;
}

.articles-details-entreprise-mobile .icon-search-ju6dFa {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .rectangle-3607-gHf5I6 {
  background-color: var(--licorice);
  height: 60px;
  left: 0px;
  position: absolute;
  top: 93px;
  width: 100%;
}

.articles-details-entreprise-mobile .groupe-3022-gHf5I6 {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 93px;
  width: 183px;
}

.articles-details-entreprise-mobile .rectangle-3556-ctcqD6 {
  background-color: var(--milano-red);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .trading-ctcqD6 {
  background-color: transparent;
  bottom: calc(47.50% - 10px);
  height: 20px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 28px);
}

.articles-details-entreprise-mobile .menu-gHf5I6 {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 37px;
  top: 118px;
  width: 27px;
}

.articles-details-entreprise-mobile .icon-ionic-ios-menu-RexYWB {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .trac-1-iXOvRV {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.articles-details-entreprise-mobile .trac-2-iXOvRV {
  background-color: transparent;
  bottom: 0px;
  height: 2px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 3px);
}

.articles-details-entreprise-mobile .logo-gHf5I6 {
  background-color: transparent;
  height: 86px;
  position: absolute;
  right: calc(49.68% - 64px);
  top: 4px;
  width: 128px;
}

.articles-details-entreprise-mobile .effect-oedgVX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
@media screen and (max-width: 1365px) {
  .screen.articles-details-entreprise { 
    display: none;
   }
}
@media screen and (min-width: 1366px) {
  .screen.articles-details-entreprise-mobile { 
    display: none;
   }
}