/* screen - connexion */

.connexion {
  background-color: transparent;
  height: 100vh;
  margin: 0px;
  min-height: 768px;
  min-width: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.connexion .background-4LKPG8 {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion .club-priv-dinvestisseur-4LKPG8 {
  background-color: transparent;
  bottom: calc(46.29% - 11px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(49.91% - 123px);
  text-align: center;
  width: 247px;
}

.connexion .logo-4LKPG8 {
  background-color: transparent;
  height: 200px;
  position: absolute;
  right: calc(50.00% - 129px);
  top: calc(34.17% - 68px);
  width: 259px;
}

.connexion .groupe-2-5T1Sji {
  background-color: transparent;
  bottom: 0px;
  height: 41px;
  left: 16px;
  position: absolute;
  width: calc(100.00% - 32px);
}

.connexion .groupe-1-wmQwHv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.connexion .effect-5T1Sji {
  background-color: transparent;
  height: calc(100.00% - 28px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion .button-nous-rejoindre-4LKPG8 {
  background-color: transparent;
  bottom: calc(31.11% - 15px);
  height: 48px;
  position: absolute;
  right: calc(49.96% - 113px);
  width: 227px;
}

.connexion .rectangle-3470-MO4nd3 {
  background-color: var(--white);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  cursor: pointer;
}

.connexion .nous-rejoindre-MO4nd3 {
  background-color: transparent;
  bottom: calc(46.30% - 10px);
  height: 21px;
  left: calc(41.23% - 50px);
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  width: 121px;
}

.connexion .groupe-1486-MO4nd3 {
  background-color: transparent;
  bottom: calc(42.92% - 6px);
  height: 14px;
  position: absolute;
  right: calc(24.11% - 3px);
  width: 13px;
}

.connexion .groupe-1485-olUB6s {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion .connexion-4LKPG8 {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 126px;
  top: 56px;
  width: 84px;
}

.connexion .club-premium-YFvGoG {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: right;
  top: 0px;
  width: calc(100.00% + 2px);
}

.connexion .ligne-8-YFvGoG {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  object-fit: cover;
  position: absolute;
  right: 2px;
  width: 64px;
}

.connexion .icon-ionic-ios-menu-4LKPG8 {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 80px;
  top: 45px;
  width: 27px;
}

.connexion .trac-1-2GsN9o {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion .trac-2-2GsN9o {
  background-color: transparent;
  bottom: 0px;
  height: 2px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 3px);
}

.connexion .background-b56baA {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  height: 496px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 489px;
}

.connexion .ligne-9-4LKPG8 {
  background-color: transparent;
  height: 1px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 64px;
  width: 489px;
}

.connexion .groupe-1487-4LKPG8 {
  background-color: transparent;
  height: 13px;
  position: absolute;
  right: 37px;
  top: 28px;
  width: 13px;
}

.connexion .ligne-10-ydUzbM {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
}

.connexion .ligne-11-ydUzbM {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
}

.connexion .se-connecter-4LKPG8 {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: 120px;
  text-align: center;
  top: 100px;
  width: 247px;
}

.connexion .pour-accder-votre-compte-4LKPG8 {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: 120px;
  text-align: center;
  top: 127px;
  width: 247px;
}

.connexion .numro-de-tlphone-4LKPG8 {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: 82px;
  top: calc(26.06% - 6px);
  width: 323px;
}

.connexion .ligne-6-E4BLJi {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.connexion .email-E4BLJi {
  background-color: transparent;
  height: 19px;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 50px);
}

.connexion .mot-de-passe-4LKPG8 {
  background-color: transparent;
  height: 23px;
  position: absolute;
  right: 82px;
  top: calc(32.77% - 8px);
  width: 323px;
}

.connexion .icon-ionic-md-eye-off-xfCXIX {
  background-color: transparent;
  height: 12px;
  object-fit: cover;
  position: absolute;
  right: 11px;
  top: 3px;
  width: 13px;
}

.connexion .ligne-7-xfCXIX {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.connexion .mot-de-passe-xfCXIX {
  background-color: transparent;
  height: 19px;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 50px);
}

.connexion .mot-de-passe-oubli-4LKPG8 {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: 60px;
  text-align: center;
  text-decoration: underline;
  top: calc(39.25% - 7px);
  width: 366px;
}

.connexion .button-login-4LKPG8 {
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: 149px;
  top: calc(47.53% - 19px);
  width: 190px;
}

.connexion .button-cration-de-compte-JzAjes {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.connexion .rectangle-3470-zy7OLm {
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion .me-connecter-zy7OLm {
  background-color: transparent;
  bottom: calc(42.86% - 8px);
  height: 19px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 37px);
}

.connexion .rectangle-3476-4LKPG8 {
  background-color: var(--licorice);
  bottom: 0px;
  height: 272px;
  position: absolute;
  right: 0px;
  width: 489px;
}

.connexion .vous-navez-pas-de-compte-4LKPG8 {
  background-color: transparent;
  bottom: calc(21.11% - 4px);
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: 120px;
  text-align: center;
  width: 247px;
}

.connexion .button-signin-4LKPG8 {
  background-color: transparent;
  bottom: 93px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 149px;
  width: 190px;
}

.connexion .button-cration-de-compte-ax5JLm {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.connexion .rectangle-3470-ParBiB {
  background-color: var(--white);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion .crer-un-compte-ParBiB {
  background-color: transparent;
  bottom: calc(42.86% - 8px);
  height: 19px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 37px);
}

.connexion .apparence-4LKPG8 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(22, 26, 26, 0.55) 100%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0.55;
  position: absolute;
  top: 0px;
  width: 877px;
}
/* screen - connexion-mobile */

.connexion-mobile {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 926px;
  min-width: 428px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.connexion-mobile .background-ugPI5J {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion-mobile .connexion-ugPI5J {
  background-color: transparent;
  height: 17px;
  position: absolute;
  right: calc(22.78% - 21px);
  top: 75px;
  width: 90px;
}

.connexion-mobile .club-premium-Pnyxwk {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: right;
  top: 0px;
  width: calc(100.00% + 2px);
}

.connexion-mobile .icon-ionic-ios-menu-ugPI5J {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 38px;
  top: 79px;
  width: 27px;
}

.connexion-mobile .trac-1-DmLhrd {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion-mobile .trac-2-DmLhrd {
  background-color: transparent;
  bottom: 0px;
  height: 2px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 3px);
}

.connexion-mobile .apparence-ugPI5J {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(22, 26, 26, 0.55) 100%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0.55;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion-mobile .connexion-yjcF8r {
  background-color: transparent;
  height: calc(100.00% - 69px);
  left: 25px;
  position: absolute;
  top: 69px;
  width: calc(100.00% - 25px);
}

.connexion-mobile .connexion-DDeLxc {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(31.03% - 26px);
  top: 56px;
  width: 84px;
}

.connexion-mobile .club-premium-mDjtDa {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: right;
  top: 0px;
  width: calc(100.00% + 2px);
}

.connexion-mobile .ligne-8-mDjtDa {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  object-fit: cover;
  position: absolute;
  right: 2px;
  width: 64px;
}

.connexion-mobile .icon-ionic-ios-menu-DDeLxc {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: calc(17.41% - 5px);
  top: 60px;
  width: 27px;
}

.connexion-mobile .trac-1-pafBsN {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion-mobile .trac-2-pafBsN {
  background-color: transparent;
  bottom: 0px;
  height: 2px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 3px);
}

.connexion-mobile .background-DDeLxc {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  height: 496px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion-mobile .ligne-9-DDeLxc {
  background-color: transparent;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 100%;
}

.connexion-mobile .groupe-1487-DDeLxc {
  background-color: transparent;
  height: 13px;
  position: absolute;
  right: 37px;
  top: 28px;
  width: 13px;
}

.connexion-mobile .ligne-10-x8mx7S {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
}

.connexion-mobile .ligne-11-x8mx7S {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1px);
}

.connexion-mobile .se-connecter-DDeLxc {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(49.77% - 80px);
  text-align: center;
  top: 100px;
  width: 160px;
}

.connexion-mobile .pour-accder-votre-compte-DDeLxc {
  background-color: transparent;
  height: 21px;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 127px;
  width: calc(100.00% - 156px);
}

.connexion-mobile .numro-de-tlphone-DDeLxc {
  background-color: transparent;
  height: 23px;
  left: 40px;
  position: absolute;
  top: calc(23.28% - 5px);
  width: calc(100.00% - 80px);
}

.connexion-mobile .ligne-6-F15FhB {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.connexion-mobile .numro-de-tlphone-F15FhB {
  background-color: transparent;
  height: 19px;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 50px);
}

.connexion-mobile .mot-de-passe-DDeLxc {
  background-color: transparent;
  height: 23px;
  left: 40px;
  position: absolute;
  top: calc(30.30% - 7px);
  width: calc(100.00% - 80px);
}

.connexion-mobile .icon-ionic-md-eye-off-kmtX7x {
  background-color: transparent;
  height: 12px;
  object-fit: cover;
  position: absolute;
  right: 11px;
  top: 3px;
  width: 13px;
}

.connexion-mobile .ligne-7-kmtX7x {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.connexion-mobile .mot-de-passe-kmtX7x {
  background-color: transparent;
  height: 19px;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% - 50px);
}

.connexion-mobile .mot-de-passe-oubli-DDeLxc {
  background-color: transparent;
  height: 19px;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: calc(36.11% - 7px);
  width: calc(100.00% - 124px);
}

.connexion-mobile .button-login-DDeLxc {
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: calc(49.92% - 95px);
  top: calc(43.40% - 17px);
  width: 190px;
}

.connexion-mobile .button-cration-de-compte-WfNjK1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.connexion-mobile .rectangle-3470-wbjhxV {
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion-mobile .me-connecter-wbjhxV {
  background-color: transparent;
  bottom: calc(42.86% - 8px);
  height: 19px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 37px);
}

.connexion-mobile .crer-un-compte-DDeLxc {
  background-color: transparent;
  bottom: 0px;
  height: 361px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.connexion-mobile .rectangle-3476-BS0g5w {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion-mobile .vous-navez-pas-de-compte-BS0g5w {
  background-color: transparent;
  height: 21px;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: calc(40.82% - 9px);
  width: calc(100.00% - 156px);
}

.connexion-mobile .button-signin-BS0g5w {
  background-color: transparent;
  bottom: calc(43.24% - 17px);
  height: 40px;
  position: absolute;
  right: calc(49.61% - 94px);
  width: 190px;
}

.connexion-mobile .button-cration-de-compte-tnG6gy {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.connexion-mobile .rectangle-3470-sLzq0v {
  background-color: var(--white);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.connexion-mobile .crer-un-compte-sLzq0v {
  background-color: transparent;
  bottom: calc(42.86% - 8px);
  height: 19px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 37px);
}
@media screen and (max-width: 1365px) {
  .screen.connexion { 
    display: none;
   }
}
@media screen and (min-width: 1366px) {
  .screen.connexion-mobile { 
    display: none;
   }
}