#footer_block{
    background-color: #121212;
    font-family: var(--font-family-lato);

}
#footer_block .footer-menu-wrapper{
    padding: 30px 5% 15px;
}
#footer_block .footer-text{
    padding: 10px 5%;
    border-top: 1px solid rgba(204, 204, 204, 0.2);
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
    background-color: #151b1b;
    margin-bottom: 30px;

}
.footer-text p{
    color: #fff;
    line-height: 1.5;
    margin: 0;
}
#footer_block a{
    transition: all 0.5s ease;
}
#footer_block a:hover{
    color: #b30f10;
}
#footer_block .footer-logo img{
    max-width: calc(200px + (230 - 200) * ((100vw - 320px) / (1920 - 320)));
    width: 100%;
}
#footer_block .footer-nav .social img{
    max-width: calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320)));
    margin-left: 25px;
    cursor: pointer;
}
#footer_block .footer-nav .social img:first-child {
    margin: 0;
}
#footer_block .footer-nav .social a {display: inline-block; margin: 0 15px;}
#footer_block .copyright{text-align: center; color: #909090; font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320))); padding: 15px 0;}
#footer_block .footer-menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    max-width: 1750px;
    margin: auto;
    padding: 0 3%;
    border-bottom: 1px solid #707070;
    padding-bottom: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));
}
#footer_block .footer-menu-wrapper .footer-nav-items{display: flex; align-items: center; margin-top: 15px;}
#footer_block .footer-menu-wrapper .footer-nav-items li{padding: 5px 15px;}
#footer_block .footer-menu-wrapper .footer-nav-items li:last-child{padding-right: 0;}
#footer_block .footer-menu-wrapper .footer-nav-items li a{color: #fff; display: inline-block; color: #747474;}
#footer_block .footer-menu-wrapper .footer-nav-items li a:hover{color: #b30f10;}

/* Footer responsive
**********************/
@media screen and (max-width: 850px) {
    #footer_block .footer-menu-wrapper{flex-direction: column; text-align: center;}
    .footer-logo {
        margin-bottom: 30px;
    }
    #footer_block .footer-menu-wrapper .footer-nav-items{justify-content: center; flex-wrap: wrap;}
}
