/* screen - homepage-1 */

.body {
  margin: O;
}

.homepage-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1339px;
  min-width: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.homepage-1 .footer-58RGA4 {
  background-color: transparent;
  bottom: 0px;
  height: 210px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.homepage-1 .background-oAP47k {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .menu-footer-oAP47k {
  background-color: transparent;
  height: 20px;
  position: absolute;
  right: 185px;
  top: calc(47.37% - 9px);
  width: 470px;
}

.homepage-1 .mentions-lgales-1x8gv1 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 70px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 111px;
}

.homepage-1 .cgu-1x8gv1 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: calc(45.12% - 13px);
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 29px;
}

.homepage-1 .cgv-1x8gv1 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: calc(44.47% - 12px);
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 27px;
}

.homepage-1 .politique-de-confidentialit-1x8gv1 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 181px;
}

.homepage-1 .politique-de-confidentialit-svYU0K {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: 0px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 181px;
}

.homepage-1 .contact-1x8gv1 {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 52px;
}

.homepage-1 .x2022-6-fire-invest-oAP47k {
  background-color: transparent;
  bottom: 18px;
  height: 23px;
  letter-spacing: 0.56px;
  line-height: 14px;
  opacity: 0.5;
  position: absolute;
  right: calc(49.88% - 74px);
  text-align: left;
  white-space: nowrap;
  width: 149px;
}

.homepage-1 .logo-oAP47k {
  background-color: transparent;
  height: 58px;
  left: 191px;
  position: absolute;
  top: calc(33.01% - 19px);
  width: 199px;
}

.homepage-1 .groupe-2-sl8fJD {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 21px;
  position: absolute;
  right: 0px;
  width: 113px;
}

.homepage-1 .groupe-1-Im0Mvz {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .effect-sl8fJD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 86px;
}

.homepage-1 .ligne-31-oAP47k {
  background-color: transparent;
  bottom: 31.58%;
  height: 1px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 143px);
}

.homepage-1 .groupe-3011-oAP47k {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: 215px;
  top: calc(26.53% - 6px);
  width: 21px;
}

.homepage-1 .icon-instagram-fzzB9m {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.homepage-1 .groupe-3010-oAP47k {
  background-color: transparent;
  height: 18px;
  position: absolute;
  right: 185px;
  top: calc(26.87% - 5px);
  width: 16px;
}

.homepage-1 .icon-simple-tiktok-IkA9hE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .content-white-dark-58RGA4 {
  background-color: transparent;
  height: 932px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 100%;
}

.homepage-1 .content-dark-LZQy1P {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.homepage-1 .background-1CdAvu {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  /* height: 100%; */
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .background-404 {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  /* height: calc(100% - 263px); */
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .prvisualition-articles-1CdAvu {
  background-color: transparent;
  height: 729px;
  left: 197px;
  position: absolute;
  top: 39px;
  width: calc(100.00% - 394px);
}

.homepage-1 .article-zyelmY {
  background-color: transparent;
  height: 205px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 300px;
}

.homepage-1 .groupe-de-masques-321-QWNatB {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-QWNatB {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 76px;
}

.homepage-1 .ligne-12-QWNatB {
  background-color: transparent;
  bottom: 26px;
  height: 15px;
  left: 23.08%;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1 .club-premium-UB0jqC {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(39.00% - 39px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.homepage-1 .club-premium-isnvAk {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1 .rectangle-3498-QWNatB {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1 .article-imAGBk {
  background-color: transparent;
  height: 206px;
  left: calc(50.00% - 150px);
  position: absolute;
  top: 0px;
  width: 300px;
}

.homepage-1 .groupe-de-masques-322-GGqLgC {
  background-color: transparent;
  height: calc(100.00% - 55px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-GGqLgC {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1 .rectangle-3500-GGqLgC {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 55px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1 .club-premium-40xpS6 {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 72px;
}

.homepage-1 .ligne-33-GGqLgC {
  background-color: transparent;
  bottom: 27px;
  height: 15px;
  left: 25.25%;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1 .club-premium-BC63SN {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(42.08% - 42px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.homepage-1 .article-k5qTpB {
  background-color: transparent;
  height: 205px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
  cursor: pointer;
}

.homepage-1 .groupe-de-masques-323-XPBk3x {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-XPBk3x {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 39px;
}

.homepage-1 .ligne-14-XPBk3x {
  background-color: transparent;
  bottom: 26px;
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1 .club-premium-xQYAvx {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(26.00% - 26px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.homepage-1 .club-premium-jixj1x {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1 .rectangle-3501-XPBk3x {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1 .article-A8GUxd {
  background-color: transparent;
  height: 205px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 102px);
  width: 300px;
}

.homepage-1 .groupe-de-masques-324-oX14gz {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-oX14gz {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 78px;
}

.homepage-1 .ligne-15-oX14gz {
  background-color: transparent;
  bottom: 26px;
  height: 15px;
  left: 27.42%;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1 .club-premium-QxzBWG {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(45.50% - 46px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.homepage-1 .club-premium-q19juH {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1 .icon-twitter-oX14gz {
  background-color: transparent;
  height: 47px;
  left: calc(18.84% - 9px);
  object-fit: cover;
  position: absolute;
  top: calc(45.22% - 21px);
  width: 47px;
}

.homepage-1 .rectangle-3502-oX14gz {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1 .article-5ppYHv {
  background-color: transparent;
  height: 205px;
  left: calc(50.00% - 150px);
  position: absolute;
  top: calc(50.00% - 102px);
  width: 300px;
}

.homepage-1 .groupe-de-masques-325-Q7nH9g {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .rectangle-3503-Q7nH9g {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-Q7nH9g {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 39px;
}

.homepage-1 .ligne-16-Q7nH9g {
  background-color: transparent;
  bottom: 27px;
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1 .club-premium-xQXcQW {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(26.00% - 26px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.homepage-1 .club-premium-pa96Fx {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 17px);
}

.homepage-1 .rectangle-3499-Q7nH9g {
  background-color: transparent;
  height: 27px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 172px;
}

.homepage-1 .club-premium-w82bqh {
  background-color: transparent;
  height: 17px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 14px;
  width: 162px;
}

.homepage-1 .ellipse-17689-Q7nH9g {
  background-color: var(--red-berry);
  border-radius: 4.5px;
  bottom: 5px;
  height: 9px;
  left: 0px;
  position: absolute;
  width: 9px;
}

.homepage-1 .article-GMoPzx {
  background-color: transparent;
  bottom: 0px;
  height: 205px;
  left: 0px;
  position: absolute;
  width: 300px;
}

.homepage-1 .groupe-de-masques-321-dNsLE7 {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-dNsLE7 {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 39px;
}

.homepage-1 .ligne-12-dNsLE7 {
  background-color: transparent;
  bottom: 26px;
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1 .club-premium-KsOUvA {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(26.00% - 26px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.homepage-1 .club-premium-yaxpmE {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1 .rectangle-3498-dNsLE7 {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1 .article-VRP5KA {
  background-color: transparent;
  bottom: 0px;
  height: 205px;
  left: calc(50.00% - 150px);
  position: absolute;
  width: 300px;
}

.homepage-1 .groupe-de-masques-322-xCffPl {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-xCffPl {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 39px;
}

.homepage-1 .ligne-13-xCffPl {
  background-color: transparent;
  bottom: 26px;
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1 .club-premium-nBAx3u {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(26.00% - 26px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.homepage-1 .club-premium-kYwWka {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1 .rectangle-3500-xCffPl {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1 .article-WXQx0A {
  background-color: transparent;
  bottom: 0px;
  height: 205px;
  position: absolute;
  right: 0px;
  width: 300px;
}

.homepage-1 .groupe-de-masques-323-h1i8tL {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-h1i8tL {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 39px;
}

.homepage-1 .ligne-14-h1i8tL {
  background-color: transparent;
  bottom: 26px;
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1 .club-premium-WVKYgZ {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(26.00% - 26px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 100px;
}

.homepage-1 .club-premium-D9nx5D {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1 .rectangle-3501-h1i8tL {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1 .button-signin-1CdAvu {
  background-color: transparent;
  bottom: 73px;
  height: 40px;
  left: calc(50.00% - 95px);
  position: absolute;
  width: 190px;
}

.homepage-1 .button-cration-de-compte-XhTuob {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .rectangle-3470-j5JYNy {
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .voir-plus-j5JYNy {
  background-color: transparent;
  bottom: calc(44.44% - 10px);
  height: 22px;
  left: calc(44.42% - 27px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: 60px;
}

.homepage-1 .icon-ionic-ios-arrow-forward-XhTuob {
  background-color: transparent;
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: calc(32.15% - 3px);
  top: calc(50.00% - 3px);
  width: 10px;
}

.homepage-1 .header-58RGA4 {
  background-color: transparent;
  height: 144px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .rectangle-3483-qecRh8 {
  background-color: var(--midnight-moss);
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .logo-qecRh8 {
  background-color: transparent;
  height: 59px;
  left: calc(50.00% - 44px);
  position: absolute;
  top: 17px;
  width: 88px;
}

.homepage-1 .effect-5nR13k {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .menu-qecRh8 {
  background-color: transparent;
  bottom: 0px;
  height: 51px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.homepage-1 .rectangle-3484-R5LSYq {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .cryptommonnaies-R5LSYq {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 19px;
  left: 198px;
  position: absolute;
  width: 136px;
}

.homepage-1 .club-premium-rofYOU {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 5.90%;
  width: 110px;
}

.homepage-1 .icon-actif-rofYOU {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.homepage-1 .groupe-1490-2aycJd {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.homepage-1 .nft-R5LSYq {
  background-color: transparent;
  height: 19px;
  left: calc(27.49% - 16px);
  position: absolute;
  top: calc(50.00% - 10px);
  width: 56px;
}

.homepage-1 .trading-PNeNRG {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 5.26%;
  width: 31px;
}

.homepage-1 .icon-PNeNRG {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.homepage-1 .ellipse-17691-Q6aYQM {
  background-color: var(--white);
  border-radius: 9.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .nft-Q6aYQM {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: calc(100.00% - 9px);
}

.homepage-1 .play-to-earn-R5LSYq {
  background-color: transparent;
  height: 19px;
  left: calc(35.03% - 36px);
  position: absolute;
  top: calc(50.00% - 10px);
  width: 102px;
}

.homepage-1 .trading-pcy4yC {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 5.26%;
  width: 76px;
}

.homepage-1 .icon-pcy4yC {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.homepage-1 .ellipse-17691-ti8Jhx {
  background-color: var(--white);
  border-radius: 9.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .gamepad-ti8Jhx {
  background-color: transparent;
  height: 7px;
  left: calc(50.00% - 5px);
  position: absolute;
  top: calc(50.00% - 3px);
  width: 11px;
}

.homepage-1 .trac-1021-P5lkcx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .immobiler-R5LSYq {
  background-color: transparent;
  height: 19px;
  left: calc(44.91% - 42px);
  position: absolute;
  top: calc(50.00% - 10px);
  width: 94px;
}

.homepage-1 .trading-qnUGH1 {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 5.26%;
  width: 69px;
}

.homepage-1 .icon-qnUGH1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.homepage-1 .ellipse-17691-WR19dA {
  background-color: var(--white);
  border-radius: 9.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .groupe-1502-WR19dA {
  background-color: transparent;
  height: 10px;
  left: calc(50.00% - 4px);
  position: absolute;
  top: calc(44.44% - 4px);
  width: 9px;
}

.homepage-1 .groupe-1504-1uxZ3P {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .e-commerce-R5LSYq {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: calc(44.93% - 49px);
  top: calc(50.00% - 10px);
  width: 110px;
}

.homepage-1 .trading-fftvIH {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 4.54%;
  width: 84px;
}

.homepage-1 .icon-fftvIH {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.homepage-1 .ellipse-17692-Qw8ovD {
  background-color: var(--romance);
  border-radius: 9.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .website-Qw8ovD {
  background-color: transparent;
  bottom: calc(50.00% - 4px);
  height: 8px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 8px);
}

.homepage-1 .autres-thmes-R5LSYq {
  background-color: transparent;
  bottom: calc(50.00% - 8px);
  height: 17px;
  position: absolute;
  right: calc(33.39% - 41px);
  width: 123px;
}

.homepage-1 .autres-thmatiques-PxHQPI {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.homepage-1 .trading-MWZdyg {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}

.homepage-1 .trading-R5LSYq {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 174px;
  top: 0px;
  width: 131px;
}

.homepage-1 .rectangle-3556-O3OwxW {
  background-color: var(--milano-red);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .trading-O3OwxW {
  background-color: transparent;
  bottom: calc(42.86% - 16px);
  height: 37px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 109px;
}

.homepage-1 .espace-membre-qecRh8 {
  background-color: transparent;
  height: 17px;
  position: absolute;
  right: 112px;
  top: calc(29.92% - 5px);
  width: 83px;
}

.homepage-1 .connexion-Psocj5 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-POMvsT {
  background-color: transparent;
  height: 19px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: right;
  top: 0px;
  width: calc(100.00% + 2px);
}

.homepage-1 .menu-2-qecRh8 {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 50px;
  top: calc(31.11% - 3px);
  width: 27px;
}

.homepage-1 .icon-ionic-ios-menu-HLXizF {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.homepage-1 .trac-1-QKxW1t {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .trac-2-QKxW1t {
  background-color: transparent;
  bottom: 0px;
  height: 2px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 3px);
}

.homepage-1 .toogle-button-qecRh8 {
  background-color: transparent;
  height: 14px;
  position: absolute;
  right: calc(18.74% - 9px);
  top: calc(30.33% - 4px);
  width: 48px;
}

.homepage-1 .icon-ionic-ios-moon-TBfV2N {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 14px;
}

.homepage-1 .toogle-button-TBfV2N {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 25px;
}

.homepage-1 .rectangle-3485-CyrDiO {
  background-color: var(--quill-gray);
  border-radius: 30px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .ellipse-17688-CyrDiO {
  background-color: var(--cape-cod);
  border-radius: 5px;
  height: calc(100.00% - 4px);
  position: absolute;
  right: 2px;
  top: 2px;
  width: 10px;
}

.homepage-1 .search-bar-qecRh8 {
  background-color: transparent;
  height: 14px;
  position: absolute;
  right: 87px;
  top: calc(30.33% - 4px);
  width: 14px;
}

.homepage-1 .icon-search-lJwrC9 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .call-to-action-58RGA4 {
  background-color: transparent;
  height: 212px;
  position: absolute;
  right: 198px;
  top: calc(39.49% - 84px);
  width: 299px;
}

.homepage-1 .groupe-de-masques-328-ir0Byo {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .club-premium-ir0Byo {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(49.35% - 72px);
  text-align: center;
  top: calc(17.02% - 4px);
  width: 145px;
}

.homepage-1 .club-premium-LilIVz {
  background-color: transparent;
  height: 19px;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(37.31% - 7px);
  width: calc(100.00% - 107px);
}

.homepage-1 .club-premium-rz44I0 {
  background-color: transparent;
  bottom: calc(36.27% - 7px);
  height: 19px;
  left: calc(42.31% - 72px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 169px;
}

.homepage-1 .club-premium-xphxTL {
  background-color: transparent;
  bottom: calc(45.08% - 9px);
  height: 19px;
  left: calc(47.41% - 87px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 183px;
}

.homepage-1 .club-premium-VHjhEL {
  background-color: transparent;
  height: 19px;
  left: calc(50.00% - 94px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(46.11% - 9px);
  width: 189px;
}

.homepage-1 .button-ir0Byo {
  background-color: transparent;
  bottom: 26px;
  height: 31px;
  left: calc(50.00% - 76px);
  position: absolute;
  width: 153px;
}

.homepage-1 .rectangle-3572-Vs6vPy {
  background-color: var(--red-berry);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .exclu-membre-confirm-Vs6vPy {
  background-color: transparent;
  bottom: calc(41.67% - 8px);
  height: 19px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 62px);
}

.homepage-1 .avertissement-58RGA4 {
  background-color: transparent;
  bottom: 210px;
  height: 53px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.homepage-1 .groupe-3020-yrWeSQ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .rectangle-3606-F1UxfM {
  background-color: var(--eerie-black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1 .les-investissements-F1UxfM {
  background-color: transparent;
  height: 35px;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 10px;
  width: calc(100.00% - 268px);
}

.homepage-1 .span0-Y4VUvr {
}

.homepage-1 .span1-Y4VUvr {
}

.homepage-1 .ligne-41-yrWeSQ {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
/* screen - homepage-1-mobile */

.homepage-1-mobile {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2173px;
  min-width: 428px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.homepage-1-mobile .background-3xxVvY {
  background: linear-gradient(180deg, #000000 0%, #161a1a 100%);
  background-color: transparent;
  height: calc(100.00% - 316px);
  left: 0px;
  position: absolute;
  top: 4px;
  width: 100%;
}

.homepage-1-mobile .rectangle-3484-3xxVvY {
  background-color: var(--black-3);
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .logo-3xxVvY {
  background-color: transparent;
  height: 86px;
  position: absolute;
  right: calc(49.68% - 64px);
  top: 4px;
  width: 128px;
}

.homepage-1-mobile .effect-Xi5pKN {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .toogle-button-3xxVvY {
  background-color: transparent;
  height: 18px;
  left: 37px;
  position: absolute;
  top: 38px;
  width: 58px;
}

.homepage-1-mobile .icon-ionic-ios-moon-kRajWn {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 17px;
}

.homepage-1-mobile .toogle-button-kRajWn {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 32px;
}

.homepage-1-mobile .rectangle-3485-TYI7YQ {
  background-color: var(--quill-gray);
  border-radius: 30px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .ellipse-17688-TYI7YQ {
  background-color: var(--cape-cod);
  border-radius: 6.41px;
  height: calc(100.00% - 5px);
  position: absolute;
  right: 3px;
  top: 3px;
  width: 13px;
}

.homepage-1-mobile .search-bar-3xxVvY {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: 37px;
  top: 35px;
  width: 22px;
}

.homepage-1-mobile .icon-search-aHekTv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .article-3xxVvY {
  background-color: transparent;
  height: 241px;
  left: 37px;
  position: absolute;
  top: 171px;
  width: calc(100.00% - 74px);
}

.homepage-1-mobile .groupe-de-masques-321-6aK4Nx {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .club-premium-6aK4Nx {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 66px;
}

.homepage-1-mobile .ligne-12-6aK4Nx {
  background-color: transparent;
  bottom: 27px;
  height: 15px;
  left: 19.69%;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1-mobile .club-premium-AdQVNc {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(31.43% - 34px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 109px;
}

.homepage-1-mobile .club-premium-srgAHF {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1-mobile .rectangle-3498-6aK4Nx {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1-mobile .article-HB3jNP {
  background-color: transparent;
  height: 244px;
  left: 37px;
  position: absolute;
  top: calc(22.29% - 54px);
  width: calc(100.00% - 74px);
}

.homepage-1-mobile .groupe-de-masques-322-bL8f3T {
  background-color: transparent;
  height: calc(100.00% - 55px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .club-premium-bL8f3T {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1-mobile .rectangle-3500-bL8f3T {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 55px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1-mobile .club-premium-9dNwc1 {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 72px;
}

.homepage-1-mobile .ligne-33-bL8f3T {
  background-color: transparent;
  bottom: 27px;
  height: 15px;
  left: 21.34%;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1-mobile .club-premium-AbUI9a {
  background-color: transparent;
  bottom: 26px;
  height: 17px;
  left: calc(34.03% - 37px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 110px;
}

.homepage-1-mobile .call-to-action-3xxVvY {
  background-color: transparent;
  height: 251px;
  left: 37px;
  position: absolute;
  top: calc(36.42% - 91px);
  width: calc(100.00% - 74px);
}

.homepage-1-mobile .groupe-de-masques-328-VYlZcy {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .club-premium-VYlZcy {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  right: calc(49.73% - 85px);
  text-align: center;
  top: calc(16.74% - 4px);
  width: 171px;
}

.homepage-1-mobile .club-premium-ipNObk {
  background-color: transparent;
  height: 19px;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(37.07% - 7px);
  width: calc(100.00% - 127px);
}

.homepage-1-mobile .club-premium-wdaF27 {
  background-color: transparent;
  bottom: calc(37.07% - 7px);
  height: 19px;
  left: calc(42.21% - 84px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 200px;
}

.homepage-1-mobile .club-premium-2txrmb {
  background-color: transparent;
  bottom: calc(45.69% - 9px);
  height: 19px;
  left: calc(47.10% - 102px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: 216px;
}

.homepage-1-mobile .club-premium-EGXdLl {
  background-color: transparent;
  height: 19px;
  left: calc(50.00% - 112px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: calc(45.26% - 9px);
  width: 224px;
}

.homepage-1-mobile .button-VYlZcy {
  background-color: transparent;
  bottom: 31px;
  height: 36px;
  position: absolute;
  right: calc(50.00% - 90px);
  width: 180px;
}

.homepage-1-mobile .rectangle-3572-O2yoet {
  background-color: var(--red-berry);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .exclu-membre-confirm-O2yoet {
  background-color: transparent;
  height: 19px;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: calc(47.06% - 9px);
  width: calc(100.00% - 73px);
}

.homepage-1-mobile .rectangle-3607-3xxVvY {
  background-color: var(--licorice);
  height: 60px;
  left: 0px;
  position: absolute;
  top: 93px;
  width: 100%;
}

.homepage-1-mobile .groupe-3022-3xxVvY {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 93px;
  width: 183px;
}

.homepage-1-mobile .rectangle-3556-KtXvln {
  background-color: var(--milano-red);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .trading-KtXvln {
  background-color: transparent;
  bottom: calc(47.50% - 10px);
  height: 20px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 28px);
}

.homepage-1-mobile .article-hgxJDx {
  background-color: transparent;
  bottom: calc(49.43% - 119px);
  height: 241px;
  left: 37px;
  position: absolute;
  width: calc(100.00% - 74px);
}

.homepage-1-mobile .groupe-de-masques-323-1oVcqO {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .club-premium-1oVcqO {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 39px;
}

.homepage-1-mobile .ligne-14-1oVcqO {
  background-color: transparent;
  bottom: 26px;
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1-mobile .club-premium-CDsOPP {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(21.67% - 25px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 114px;
}

.homepage-1-mobile .club-premium-AmXdCd {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1-mobile .rectangle-3501-1oVcqO {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1-mobile .article-H87bfg {
  background-color: transparent;
  bottom: calc(36.02% - 87px);
  height: 241px;
  left: 37px;
  position: absolute;
  width: calc(100.00% - 74px);
}

.homepage-1-mobile .groupe-de-masques-324-nUO7eE {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .club-premium-nUO7eE {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 78px;
}

.homepage-1-mobile .ligne-15-nUO7eE {
  background-color: transparent;
  bottom: 26px;
  height: 15px;
  left: 23.19%;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1-mobile .club-premium-52B3mx {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(36.63% - 41px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 111px;
}

.homepage-1-mobile .club-premium-U9Dfa0 {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.homepage-1-mobile .icon-twitter-nUO7eE {
  background-color: transparent;
  height: 47px;
  left: calc(18.87% - 9px);
  object-fit: cover;
  position: absolute;
  top: calc(45.22% - 21px);
  width: 47px;
}

.homepage-1-mobile .rectangle-3502-nUO7eE {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}

.homepage-1-mobile .menu-3xxVvY {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 37px;
  top: 118px;
  width: 27px;
}

.homepage-1-mobile .icon-ionic-ios-menu-uexWkk {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .trac-1-lDeg6M {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .trac-2-lDeg6M {
  background-color: transparent;
  bottom: 0px;
  height: 2px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 3px);
}

.homepage-1-mobile .article-DxJEuX {
  background-color: transparent;
  bottom: calc(22.58% - 55px);
  height: 242px;
  left: 37px;
  position: absolute;
  width: calc(100.00% - 74px);
}

.homepage-1-mobile .groupe-de-masques-325-IdhFt5 {
  background-color: transparent;
  height: calc(100.00% - 54px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .rectangle-3503-IdhFt5 {
  background: linear-gradient(180deg, rgba(214, 29, 0, 0.29) 0%, rgba(110, 110, 110, 0.09) 100%);
  background-color: transparent;
  border-radius: 10px;
  height: calc(100.00% - 54px);
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .club-premium-IdhFt5 {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 39px;
}

.homepage-1-mobile .ligne-16-IdhFt5 {
  background-color: transparent;
  bottom: 27px;
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.homepage-1-mobile .club-premium-eehegu {
  background-color: transparent;
  bottom: 25px;
  height: 17px;
  left: calc(21.95% - 25px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  width: 113px;
}

.homepage-1-mobile .club-premium-rjhF4x {
  background-color: transparent;
  bottom: -2px;
  height: 21px;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 17px);
}

.homepage-1-mobile .rectangle-3499-IdhFt5 {
  background-color: transparent;
  height: 27px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 172px;
}

.homepage-1-mobile .club-premium-DCMF9N {
  background-color: transparent;
  height: 17px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 14px;
  width: 162px;
}

.homepage-1-mobile .ellipse-17689-IdhFt5 {
  background-color: var(--red-berry);
  border-radius: 4.5px;
  bottom: 5px;
  height: 9px;
  left: 0px;
  position: absolute;
  width: 9px;
}

.homepage-1-mobile .button-signin-3xxVvY {
  background-color: transparent;
  bottom: 356px;
  height: 40px;
  left: calc(50.00% - 95px);
  position: absolute;
  width: 190px;
}

.homepage-1-mobile .button-cration-de-compte-QAxT4p {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .rectangle-3470-xoDIjs {
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .voir-plus-xoDIjs {
  background-color: transparent;
  bottom: calc(44.44% - 10px);
  height: 22px;
  left: calc(44.42% - 27px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: 60px;
}

.homepage-1-mobile .icon-ionic-ios-arrow-forward-QAxT4p {
  background-color: transparent;
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: calc(32.15% - 3px);
  top: calc(50.00% - 3px);
  width: 10px;
}

.homepage-1-mobile .avertissement-3xxVvY {
  background-color: transparent;
  bottom: 202px;
  height: 110px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.homepage-1-mobile .groupe-3020-ctGvHt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .rectangle-3606-t1RDCx {
  background-color: var(--eerie-black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .les-investissements-t1RDCx {
  background-color: transparent;
  height: 79px;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 17px;
  width: calc(100.00% - 52px);
}

.homepage-1-mobile .span0-48lpcF {
}

.homepage-1-mobile .span1-48lpcF {
}

.homepage-1-mobile .footer-3xxVvY {
  background-color: transparent;
  bottom: -1px;
  height: 203px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.homepage-1-mobile .background-iBHDxC {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .menu-footer-iBHDxC {
  background-color: transparent;
  bottom: calc(40.37% - 17px);
  height: 42px;
  left: calc(50.00% - 108px);
  position: absolute;
  width: 216px;
}

.homepage-1-mobile .mentions-lgales-kSaWP3 {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: calc(40.97% - 45px);
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 111px;
}

.homepage-1-mobile .cgu-kSaWP3 {
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: 4px;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 29px;
}

.homepage-1-mobile .cgv-kSaWP3 {
  background-color: transparent;
  bottom: -3px;
  height: 22px;
  left: 0px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 27px;
}

.homepage-1-mobile .politique-de-confidentialit-kSaWP3 {
  background-color: transparent;
  bottom: -5px;
  height: 22px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  white-space: nowrap;
  width: 181px;
}

.homepage-1-mobile .contact-kSaWP3 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.56px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: 52px;
}

.homepage-1-mobile .x2022-6-fire-invest-iBHDxC {
  background-color: transparent;
  bottom: 18px;
  height: 23px;
  letter-spacing: 0.56px;
  line-height: 14px;
  opacity: 0.5;
  position: absolute;
  right: calc(49.46% - 74px);
  text-align: left;
  white-space: nowrap;
  width: 149px;
}

.homepage-1-mobile .logo-iBHDxC {
  background-color: transparent;
  height: 58px;
  left: 10px;
  position: absolute;
  top: 18px;
  width: 199px;
}

.homepage-1-mobile .groupe-2-RxRKlm {
  background-color: transparent;
  bottom: calc(50.00% - 10px);
  height: 21px;
  position: absolute;
  right: 0px;
  width: 113px;
}

.homepage-1-mobile .groupe-1-svM4hW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .effect-RxRKlm {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 86px;
}

.homepage-1-mobile .ligne-31-iBHDxC {
  background-color: transparent;
  bottom: 26.73%;
  height: 1px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 76px);
}

.homepage-1-mobile .groupe-3011-iBHDxC {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(22.45% - 5px);
  top: calc(20.19% - 4px);
  width: 21px;
}

.homepage-1-mobile .icon-instagram-dU5Nvw {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.homepage-1-mobile .groupe-3010-iBHDxC {
  background-color: transparent;
  height: 18px;
  position: absolute;
  right: 61px;
  top: calc(20.64% - 4px);
  width: 16px;
}

.homepage-1-mobile .icon-simple-tiktok-DfizfW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.homepage-1-mobile .icon-paper_plane-iBHDxC {
  background-color: transparent;
  height: 18px;
  object-fit: cover;
  position: absolute;
  right: 25px;
  top: calc(20.64% - 4px);
  width: 21px;
}

.homepage-1-mobile .ligne-41-3xxVvY {
  background-color: transparent;
  bottom: 312px;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 1365px) {
  .screen.homepage-1 { 
    display: none;
   }
}
@media screen and (min-width: 1366px) {
  .screen.homepage-1-mobile { 
    display: none;
   }
}


/* Article with thum block (by Zihad)
===================================== */
body{
  background-color: var(--black-3);
}
.article_wrapper{
  max-width: 1400px;
  margin: 145px auto 80px;
  padding: 0 5%;
  margin-top: calc(145px + 3%);
  background-color: var(--black-3);
}
.article_wrapper .grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(15px + (45 - 15) * ((100vw - 320px) / (1920 - 320)));
  grid-row-gap: calc(25px + (60 - 25) * ((100vw - 320px) / (1920 - 320)));
}
.article_wrapper .grid .single_article{
  cursor: pointer;
}
.article_wrapper .grid .single_article .artitle_thum span{
  position: relative !important;
}
.article_wrapper .grid .single_article .artitle_thum span img{
  position: relative !important;
  margin: inherit !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 200px !important;
  object-fit: contain;
  object-position: center;
}

.article_wrapper .grid .single_article .cat_and_date .category {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  padding: 15px 0;
} 
.article_wrapper .grid .single_article .cat_and_date .category p {
  margin: 0;
} 
.article_wrapper .grid .single_article .cat_and_date .category .line {
  border-right: 1px solid #555;
  padding-right: 15px;
  margin-right: 15px ;
} 
.article_wrapper .grid .single_article .article_title .title {
  margin: 0;
  color: #fff;
  font-family: var(--font-family-lato);
  font-size: calc(17px + (21 - 17) * ((100vw - 320px) / (1920 - 320)));
} 

/* Responsive */
@media screen and (max-width: 767px) {
  .article_wrapper .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
/* small mobile */
@media screen and (max-width: 480px) {
  .article_wrapper .grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .article_wrapper .grid .single_article .artitle_thum span img{
    height: 200px !important;
  }
}

/* Login Popup style coded by Zihad 
**************************************/
.login_popup_wrapper{
  position: fixed;
  top: 0;
  right: 0%;
  background-color: red; /* temp bg color */
  z-index: 5;
  height: 100vh;
  width: 35%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  font-family: var(--font-family-lato);
  color: #fff;
  transition: all 1s ease;
  transform: translateX(100%);
}
.login_popup_wrapper.open{
  transform: translate(0%);
}


@media screen and (max-width: 767px) {
  .login_popup_wrapper{
    width: 100%;
  }
  .login_popup_wrapper.open{
    width: 100%;
  }
}

.login_popup_wrapper .login_access_col{
  background-color: #161a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login_popup_wrapper .register_col{
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.login_popup_wrapper .register_col .register_btn{
    color: #161a1a;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    margin-top: 30px;
    font-size: 14px;
    text-transform: initial;
    display: inline-block;
}
.login_popup_wrapper .title-wrap{
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.login_popup_wrapper .title-wrap span{
  display: block;
  font-size: 14px;
  text-transform: initial;
  margin-top: 10px;
}
.login_popup_wrapper form{
  margin: 45px 0;
}
.login_popup_wrapper .reset_password{
    color: #fff;
    display: inline-block;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 25px;
}
.login_popup_wrapper form .input_item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  appearance: none;
  outline: none;
  border: 0;
  padding: 15px;
  background-color: #161a1a;
  min-width: calc(220px + (350 - 220) * ((100vw - 320px) / (1920 - 320)));
}
.login_popup_wrapper form input[type="submit"]{
  border: 1px solid #3a3a3d;
  color: #3a3a3d;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 30px;
}
.login_popup_wrapper ::placeholder{
  color: #fff;
  font-size: 14px;
}

/* Hamburger Icon functional style
***************************************/
#menu__toggle {
  display: block;
  opacity: 0;
  z-index: 7;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
}
#menu__toggle:checked ~ .login_popup_wrapper {
  visibility: visible;
  right: 50%;
  transform: translateX(0);
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 5%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 11;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: 0.25s;
}
.menu__btn > span{
  height: 0;
}
.menu__btn > span::before {
  content: "";
  top: -1px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
  width: 75%;
  right: 0;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #000;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition-duration: 0.5s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

/* items center style 
**************************/
.item-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
