:root { 
  --black: #000000;
  --black-2: #020202;
  --black-3: #030303;
  --blue-ribbon: #1068f1;
  --bright-sun: #fcd435;
  --cape-cod: #424346;
  --cerulean: #1caaef;
  --dove-gray: #707070;
  --eerie-black: #161a1a;
  --fern: #62b256;
  --gallery: #efefef;
  --gray: #909090;
  --grenadier: #d61d00;
  --jumbo: #7d7d81;
  --licorice: #121212;
  --log-cabin: #212121;
  --manatee: #99999f;
  --midnight-moss: #050505;
  --milano-red: #b30f10;
  --milano-red-2: #b10e0f;
  --mine-shaft: #313131;
  --onyx: #3a3a3d;
  --quill-gray: #d3d3d3;
  --red-berry: #9a0402;
  --romance: #fdfdfd;
  --scarlet: #ff2503;
  --sonic-silver: #747474;
  --white: #ffffff;
  --woodsmoke: #0d0e0e;
  --woodsmoke-2: #0e0f0f;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 18px;
  --font-size-xs: 10px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 22px;
 
  --font-family-lato: "Lato", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
}
.lato-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.sourcesanspro-semi-bold-sonic-silver-14px {
  color: var(--sonic-silver);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.lato-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-light-manatee-12px {
  color: var(--manatee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.lato-normal-milano-red-12px {
  color: var(--milano-red);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-white-12px-2 {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
}

.lato-light-white-16px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.lato-light-manatee-14px {
  color: var(--manatee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.sourcesanspro-semi-bold-gray-14px {
  color: var(--gray);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.lato-normal-fern-12px {
  color: var(--fern);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-scarlet-12px {
  color: var(--scarlet);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-licorice-14px {
  color: var(--licorice);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-manatee-14px {
  color: var(--manatee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-cape-cod-12px {
  color: var(--cape-cod);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-licorice-16px {
  color: var(--licorice);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.lato-light-white-14px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.lato-normal-onyx-14px {
  color: var(--onyx);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-black-10px {
  color: var(--black-2);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-white-14px-2 {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
}

.lato-normal-manatee-12px {
  color: var(--manatee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-grenadier-14px {
  color: var(--grenadier);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-white-10px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.lato-light-manatee-18px {
  color: var(--manatee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.lato-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-red-berry-12px {
  color: var(--red-berry);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-licorice-16px {
  color: var(--licorice);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.lato-light-mine-shaft-14px {
  color: var(--mine-shaft);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.lato-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
}

.lato-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-black-14px-2 {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-licorice-14px-2 {
  color: var(--licorice);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
}

.lato-bold-licorice-14px {
  color: var(--licorice);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-grenadier-12px {
  color: var(--grenadier);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.lato-normal-manatee-10px {
  color: var(--manatee);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.lato-light-jumbo-14px {
  color: var(--jumbo);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.lato-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-white-16px-2 {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
}

.lato-light-mine-shaft-12px {
  color: var(--mine-shaft);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.lato-bold-black-26px {
  color: var(--black-2);
  font-family: var(--font-family-lato);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}

.lato-bold-licorice-16px-2 {
  color: var(--licorice);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
}

.lato-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-white-22px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-normal-sonic-silver-10px {
  color: var(--sonic-silver);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.lato-bold-black-14px-2 {
  color: var(--black-2);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-mine-shaft-14px {
  color: var(--mine-shaft);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.lato-bold-licorice-22px {
  color: var(--licorice);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.border-1px-manatee {
  border: 1px solid var(--manatee);
}

.border-1px-white {
  border: 1px solid var(--white);
}

.border-1px-onyx {
  border: 1px solid var(--onyx);
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}

.border-2px-woodsmoke {
  border: 2px solid var(--woodsmoke);
}

.border-2px-woodsmoke-2 {
  border: 2px solid var(--woodsmoke-2);
}

.border-1px-black-2 {
  border: 1px solid var(--black-2);
}
